NodeRed/AplanadoraN.txt
[{"id":"a6d30377.5bc4f","type":"comment","z":"671d059f.ae770c","name":"Deserializador global \"Referencia\"","info":"var msgs = [];\nvar g = (global.get(\"M\")||[0]);\nfor(z = 0; z < g.length) {\nfor (i = 0; i < 15; i++) {\n    msgs.push(\n        {\n            _msgid: msg._msgid,\n            topic: msg.topic,\n            payload: g[z] & (1 << i)\n        }\n    );\n}\n}\n//var type = msg.payload[0] & 1 ? 'error' : 'warning';\n\n//var count = flow.get(\"CONTADOR_ERRO_M2\");\n//count++;\n\n\nreturn msgs;","x":1742.476318359375,"y":2047.98046875,"wires":[]},{"id":"f5eb0e7.6a2e87","type":"inject","z":"671d059f.ae770c","name":"Inicialização MAQ","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":1439.6251831054688,"y":602.4212951660156,"wires":[["9e22ce3a.fbad5"]]},{"id":"a0d2755f.b2bf08","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":3438.422676086426,"y":1243.326099395752,"wires":[]},{"id":"e0eae730.2674f8","type":"function","z":"671d059f.ae770c","name":"Global ModBus Referencias","func":"global.set(\"ModBus\", msg.payload);\nmsg2 = {};\nmsg2.payload = \"Iguail\";\nvar Anterior =(global.get(\"Anterior\")||[0]);\nvar ValorAtual = global.get(\"ModBus\");\nmsg = null;\n\nfor (var i = 0; i < Anterior.length; i++) {\n         \n     if (Anterior[i] != ValorAtual[i]) {\n        msg2.payload = \"Diferente\";\n        global.set(\"Anterior\", ValorAtual);\n        msg = {payload:ValorAtual};\n        break;\n    }           \n}\nreturn [msg,msg2];","outputs":"2","noerr":0,"x":1722.8871536254883,"y":2088.6948432922363,"wires":[[],[]]},{"id":"b33960fc.5c6dc8","type":"mqtt in","z":"671d059f.ae770c","name":"","topic":"board/setup","qos":"2","broker":"cc4b0f7f.efa7e","x":539.9111099243164,"y":1400.242778301239,"wires":[["286e397a.8b13fe","cb05871d.5f7f28"]]},{"id":"286e397a.8b13fe","type":"function","z":"671d059f.ae770c","name":"Registradores de Comandos","func":"var p = JSON.parse(msg.payload);\nvar res = [null,null,null,null,null,null,null,null,null,null,null,null,null];\nvar modbus = global.get(\"ModBus\");\n    \n    //***** INICIALIZA OU DESLIGA MAQUINA *****//\n    if (p.LigarMaquina !== undefined) {\n        if (modbus[2] & (1 << 11)) {\n            modbus[2] &= ~(1<<11);   //M2.11 igual a 1 MbLigaChaveGeral\n            node.status({fill:\"red\",shape:\"ring\",text:\"Geral Desligada\"});\n        } else {\n            modbus[2] |= (1<<11);    //M2.11 igual a 0 MbLigaChaveGeral\n            node.status({fill:\"green\",shape:\"dot\",text:\"Geral Ligada\"});\n        }\n    global.set(\"ComandoMaquina\",1);    \n    global.set('ModBus', modbus); //Atualiza registrador global.\n    res[0] = {payload:modbus[2]}; //Primeiro liga ou desliga chave geral\n    }\n    \n    //***** ON/OFF MOTOR *****//\n    if (p.LigarPrensa !== undefined) {\n        if ((modbus[3]) & (1 << 3)) {\n            modbus[3] &= ~(1<<3); //M3.3 igual a 1 DbPrsLigaMotor\n            global.set(\"MotorLigado\",0);\n            node.status({fill:\"red\",shape:\"ring\",text:\"Motor OFF\"});\n        } else {\n            modbus[3] |= (1<<3);//M3.3 igual a 0 DbPrsParar\n            global.set(\"MotorLigado\",1);\n            node.status({fill:\"green\",shape:\"dot\",text:\"Motor ON\"});\n        }\n    global.set(\"ComandoMaquina\",2);\n    global.set('ModBus', modbus);//Atualiza registrador global.\n    res[1] = {payload: modbus[3]};\n    }\n    \n    //***** ABRIR TAMPA MODBUS 31.10 *****//\n    if (p.abrirTampa !== undefined) {\n        if (p.abrirTampa == '1'){\n            modbus[31] |= (1<<10);    \n        }else if (p.abrirTampa == '0'){\n            modbus[31] = 0;    \n        }\n    global.set(\"ComandoMaquina\",3);\n    res[2] = {payload:(modbus[31])};\n    }\n    \n    //***** FECHAR TAMPA MODBUS 31.11 *****//\n    if (p.fecharTampa !== undefined) {\n        if(p.fecharTampa == '1'){\n            modbus[31] |= (1<<11);    \n        }else if (p.fecharTampa == '0'){\n            modbus[31] = 0;\n        }\n    global.set(\"ComandoMaquina\",4);\n    res[3] = {payload:(modbus[31])};\n    }\n    \n    //***** AVANCAR PERFIL MODBUS 2.3 *****//\n    if (p.avancaPerfil !== undefined) {\n        if(p.avancaPerfil == '1'){\n            modbus[2] |= (1<<3);    \n        }else if (p.avancaPerfil == '0'){\n            modbus[2] &= ~(1<<3);\n        }\n    global.set(\"ComandoMaquina\",5);\n    res[4] = {payload: modbus[2]};\n    }\n    //***** RECUAR PERFIL MODBUS 2.4 *****//\n    if (p.recuaPerfil !== undefined) {\n        if(p.recuaPerfil == '1'){\n            modbus[2] |= (1<<4);    \n        }else if (p.recuaPerfil == '0'){\n            modbus[2] &= ~(1<<4);\n        }\n    global.set(\"ComandoMaquina\",6);    \n    res[5] = {payload:modbus[2]};\n    }\n    \n    //*****botao_Parar_Maquina***********//\n    if (p.botao_Parar_Maquina !== undefined) {\n    modbus[2] |= (1<<13);   //M2.13 igual a 0 MbPrsParar\n    modbus[2] &= ~(1<<0);   //M2.0 igual a 0 MbModoAuto\n    node.status({fill:\"red\",shape:\"ring\",text:\"Parando prensa\"});\n    global.set(\"ComandoMaquina\",7);\n    global.set('ModBus', modbus);//Atualiza registrador global.\n    res[6] = {payload: modbus[2]};\n    }\n    \n    //*****botao_Manual************//\n    if (p.botao_Manual !== undefined) {\n    modbus[3] |= 1; //Libera maquina\n    modbus[2] &= ~(1<<0);   //M2.0 igual a 0 MbModoAuto\n    node.status({fill:\"red\",shape:\"ring\",text:\"Modo Manual\"});\n    global.set(\"ComandoMaquina\",8);\n    global.set('ModBus', modbus);//Atualiza registrador global.\n    res[7] = {payload: modbus[2]};\n    }\n    \n    //*****botao_Produzir*********//\n    if (p.botao_Produzir !== undefined) {\n        modbus[3] |= 1; //Libera maquina\n        if ((modbus[2]) & (1 << 0)) {\n            modbus[2] &= ~(1<<0); //M2.0 igual a 1 produzir\n            node.status({fill:\"green\",shape:\"dot\",text:\"Produzindo\"});\n        } else {\n            modbus[2] |= (1<<0);//M2.0 igual a 0 não produzir\n            node.status({fill:\"red\",shape:\"ring\",text:\"Não produzindo\"});\n        }\n    global.set(\"ComandoMaquina\",9);\n    global.set('ModBus', modbus);//Atualiza registrador global.\n    res[8] = {payload: modbus[2]};\n    }\n    \n    //***** Reverçao do motor da prensa *****//\n    if (p.SentidoInv !== undefined) {\n        if ((modbus[2]) & (1 << 14)) {\n            modbus[2] &= ~(1<<14); //M2.14 igual a 1 MbPrsSentidoInv\n            global.set(\"MotorInvertido\",0);\n            node.status({fill:\"blue\",shape:\"ring\",text:\"Motor normal\"});\n        } else {\n            modbus[2] |= (1<<14);//M3.3 igual a 0 DbPrsParar\n            global.set(\"MotorInvertido\",1);\n            node.status({fill:\"green\",shape:\"dot\",text:\"Motor Invertido\"});\n        }\n    global.set(\"ComandoMaquina\",10);\n    global.set('ModBus', modbus);//Atualiza registrador global.\n    res[9] = {payload: modbus[2]};\n    }\n    \n        //***** DESLIGA MAQUINA depois zera tudo *****//\n    if (p.ResetMaquina !== undefined) {\n    modbus[2] &= ~(1<<11); \n    node.status({fill:\"red\",shape:\"ring\",text:\"Geral Desligada e reset\"});\n    global.set(\"ComandoMaquina\",0);    \n    global.set('ModBus', modbus); //Atualiza registrador global.\n    res[10] = {payload:modbus[2]}; //Primeiro desliga chave geral\n    }\n    \n    //*****Desbobinador ******//\n    if (p.AceleracaoAuto !== undefined) {\n    var x = global.get(\"Desbobinador\");\n        if(x){\n            global.set('Desbobinador', 0);//Atualiza registrador global.\n        }else{\n            global.set('Desbobinador', 1);//Atualiza registrador global.\n        }\n    global.set(\"ComandoMaquina\",11);\n    res[11] = {payload: global.get(\"Desbobinador\")};\n    }\n    \n    //*****Atualiza TABS-2**************//\n    if (p.AtualizarRegistradores !== undefined) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Tab-2\"});\n    res[12] = {payload: 1};\n    }\n    \nreturn res;","outputs":"13","noerr":0,"x":837.0895385742188,"y":1401.0261840820312,"wires":[["d62817c3.45ee48"],["e57c23aa.953598"],["8244f6b7.b8d9a"],["2d4becfb.450b44"],["3f16612b.187c8e"],["d7e294ca.c275e8"],["2aa4a716.425cf"],["56f99725.f8f708"],["1236ebcc.0cbde4"],["69b4b1d7.4d15f","8b256997.5ad6b"],["9a51155f.56142"],["34b7d6c4.723a42"],["57f7ae9.3f7365"]]},{"id":"e57c23aa.953598","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Liga Motor Prensa M3.3","dataType":"HoldingRegister","adr":"3","server":"7858111a.50a578","x":1217.4376068115234,"y":1109.4285278320312,"wires":[["7556cbe2.9d728c"],["187b9c54.3463f4"]]},{"id":"3f16612b.187c8e","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Perfil Avança M2.3","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":1198.8187217712402,"y":1318.714063167572,"wires":[["75e6385.f3e7048"],["4883d7f.0b713a8"]]},{"id":"2d4becfb.450b44","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Aplanadora Fecha M31.11","dataType":"HoldingRegister","adr":"31","server":"7858111a.50a578","x":1209.1041870117188,"y":1250.2855777740479,"wires":[["b6b79552.994b58"],["2b3c16d4.43dd1a"]]},{"id":"8244f6b7.b8d9a","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Aplanadora Abre M31.10","dataType":"HoldingRegister","adr":"31","server":"7858111a.50a578","x":1218.2471313476562,"y":1179.2855777740479,"wires":[["df66935b.b54fe8"],["c62f3a85.cecae"]]},{"id":"d7e294ca.c275e8","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Perfil Recua M2.4","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":1197.5329246520996,"y":1389.7139525413513,"wires":[["3ec7eba4.efe334"],["fa9701ea.5235a8"]]},{"id":"ba536b38.3e47a8","type":"comment","z":"671d059f.ae770c","name":"Registradores R/W Setup da Aplanadora \"HTML\"","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":1202.7288208007812,"y":981.6498413085938,"wires":[]},{"id":"acbc3c76.e42ad","type":"function","z":"671d059f.ae770c","name":"Erro comunicação Escrita","func":"msg.payload = {\n    time: new Date(),\n    type: 'error',\n    message: 'Falha de escrita dos modbus do CLP.'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3183.4336700439453,"y":1242.8927459716797,"wires":[["a0d2755f.b2bf08"]]},{"id":"a5d22368.2d915","type":"function","z":"671d059f.ae770c","name":"Variaveis Globais","func":"//Estado inicial da maquina é não inicializada MaqInicializada=0\nglobal.set(\"ComandoMaquina\",0);//liberamensagens do bloco libera maquina\nglobal.set(\"MotorPrensa\",0);\nglobal.set(\"MotorLigado\",0);\nglobal.set(\"MotorInvertido\",0);\nglobal.set(\"Desbobinador\",0);\nglobal.set(\"Indice_Mongo\",0);\nglobal.set(\"TamanhoDesejadoPeca_KEYBOARD\",0);\nglobal.set(\"TamanhoRealPeca_KEYBOARD\",0);\nglobal.set(\"FatorEncoder\",9909);\nglobal.set(\"ModBus\",[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]);\n\nvar mensagens = [];\n\nmensagens['LER_CLP_MODBUS'] =        { type: 'error', message: ' CLP não responde. Verifique as conexões de rede.' };\nmensagens['EMERGENCIA'] =            { type: 'error', message: ' Emergencia acionada!' };\nmensagens['FALTA_FASE'] =            { type: 'error', message: ' Falta de Fase' };\nmensagens['BOMBA_HIDRAULICA'] =      { type: 'error', message: ' Térmico da Bomba Hidraulica' };\nmensagens['MARTELO_PRENSA'] =        { type: 'error', message: ' Térmico do Motor do Martelo Prensa' };\nmensagens['PRESSAO_AR'] =            { type: 'warning', message: 'Pressao do Ar Baixa!' };\nmensagens['INVERSOR'] =              { type: 'error', message: ' Erro no Inversor' };\nmensagens['SERVO'] =                 { type: 'error', message: ' Erro no Servo' };\nmensagens['CHAVE_GERAL_DESLIGADA'] = { type: 'warning', message: ' Chave Geral Desligada' };\nmensagens['CHAVE_GERAL_LIGADA']    = { type: 'warning', message: ' Chave Geral ligada' };\nmensagens['MAQUINA_NAO_LIBERADA'] =  { type: 'warning', message: ' Maquina Não Liberada' };\nmensagens['MAQUINA_LIBERADA']     =  { type: 'warning', message: ' Maquina Liberada' };\nmensagens['ERRO_POSICIONAMENTO']=    { type: 'error', message: ' Erro Posicionamento' };\nmensagens['SEGURAN_PRENSA'] =        { type: 'info', message: ' Segurança da Prensa' };\nmensagens['APLAN_ABERTA'] =          { type: 'info', message: ' Aplanadora Aberda' };\n\nglobal.set(\"mensagens\",mensagens);\nmsg= {payload: \"{MAQUINA_OFF:0}\"};\nreturn msg;","outputs":1,"noerr":0,"x":1982.8035850524902,"y":603.957359790802,"wires":[["4665bdfd.677cdc"]]},{"id":"b049d927.e581e8","type":"function","z":"671d059f.ae770c","name":"Ligou geral?","func":"//verifica 2.11 e libera 3.0\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n\nif (((modbus[2]) & (1 << 11))) {\n    modbus[3] |= 1;     //M3.0 igual a 1 libera maquina\n    msg.payload = modbus[3];\n    msg2.payload = mensagens['CHAVE_GERAL_LIGADA'];\n    msg2.payload.time= new Date();\n    node.status({fill:\"green\",shape:\"dot\",text:\"Chave Ligada\"});\n}else if (~((modbus[2]) & (1 << 11))){ \n    modbus[3] &= 0;\n    msg.payload = 0;\n    msg2.payload = mensagens['CHAVE_GERAL_DESLIGADA'];\n    msg2.payload.time= new Date();\n    node.status({fill:\"yellow\",shape:\"ring\",text:\"Chave Deslidaga\"});\n}else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Bug\"});\n}\n   \n\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2122.625156402588,"y":1054.3621430397034,"wires":[["e21bd441.a87748"],["7679e09c.6bbbd"]]},{"id":"d62817c3.45ee48","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"LigaGeral M2.11","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":1197.5060424804688,"y":1041.7423648834229,"wires":[["5f6fb3b0.e958a4"],["2acc1063.b8fd4"]]},{"id":"c9f96f32.688ac","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Libera Maquina M3.0","dataType":"HoldingRegister","adr":"3","server":"7858111a.50a578","x":2585.343307495117,"y":1048.008650302887,"wires":[["28723771.4c5058"],["b2dc8313.d6cbd8"]]},{"id":"94b0c805.f9eb5","type":"function","z":"671d059f.ae770c","name":"Erro comunicação","func":"var mensagens = global.get(\"mensagens\");\n//var modbus = global.get(\"ModBus\");\n\nmsg.payload = mensagens['LER_CLP_MODBUS'];\nmsg.payload.time= new Date();\n\n//global.set('ModBus', modbus);\nreturn msg;","outputs":1,"noerr":0,"x":1707.5129661560059,"y":544.3015065193176,"wires":[["2c62402e.f3459","a5d22368.2d915"]]},{"id":"25b16bee.dc4f64","type":"modbustcp-no-pooling-read","z":"671d059f.ae770c","name":"Read POP","dataType":"HoldingRegister","adr":"0","quantity":"32","server":"7858111a.50a578","x":1458.089443206787,"y":537.1388783454895,"wires":[["757e66e6.869938","d5ab533f.4a7768"],["94b0c805.f9eb5"]]},{"id":"9065f78a.1da61","type":"inject","z":"671d059f.ae770c","name":"atualizar","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":1085.7678489685059,"y":536.6356434822083,"wires":[["694d81fa.4715d8"]]},{"id":"56b19868.8372a","type":"link in","z":"671d059f.ae770c","name":"Atualizacao dos 32 registradores  ModBus","links":["bce4d747.67ea","df66935b.b54fe8","b6b79552.994b58","75e6385.f3e7048","3ec7eba4.efe334","34b7d6c4.723a42"],"x":1697.220458984375,"y":1223.4259033203125,"wires":[["5ea11bef.711a6c"]]},{"id":"3c6babe.1c0f854","type":"link in","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["5f6fb3b0.e958a4","7556cbe2.9d728c","9e260cb8.9d2b4","be3f577.eb1ea28","204c91fe.a36bc6","64275ad1.5616c4"],"x":1131.525146484375,"y":464.57135009765625,"wires":[["694d81fa.4715d8"]]},{"id":"5f6fb3b0.e958a4","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["3c6babe.1c0f854"],"x":1378.2678565979004,"y":1022.1520538330078,"wires":[]},{"id":"bce4d747.67ea","type":"link out","z":"671d059f.ae770c","name":"Atualizacao dos 32 registradores  ModBus","links":["56b19868.8372a","278b8d9f.332cc2","3292c332.e62afc","17d59d24.8682a3","fded0008.003bb8","91bb35aa.506f38","7a9f7416.07fd14","ffc2b971.50fa4","777bd47b.b983dc","a99b0250.54b63"],"x":2362.2829189300537,"y":513.8886966705322,"wires":[]},{"id":"7556cbe2.9d728c","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["3c6babe.1c0f854"],"x":1378.476318359375,"y":1092.5666065216064,"wires":[]},{"id":"187b9c54.3463f4","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1378.1668853759766,"y":1128.185691833496,"wires":[]},{"id":"7620ade8.57547c","type":"link in","z":"671d059f.ae770c","name":"","links":["187b9c54.3463f4","2acc1063.b8fd4","b2dc8313.d6cbd8","c62f3a85.cecae","2b3c16d4.43dd1a","adfeef6f.00ba","4883d7f.0b713a8","fa9701ea.5235a8","d67ea89f.fdcab8","545af784.5d53d8","2569b4a.d48c1cc","5f34efac.e2dea","5b65addf.0eb714","adbeeee7.749818","e75d6df7.2c1088","51f9c1f0.02e908"],"x":3033.7223782539368,"y":1242.4912033081055,"wires":[["acbc3c76.e42ad"]]},{"id":"2acc1063.b8fd4","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1378.2859230041504,"y":1057.4237594604492,"wires":[]},{"id":"df66935b.b54fe8","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["56b19868.8372a"],"x":1379.3336181640625,"y":1162.0746250152588,"wires":[]},{"id":"c62f3a85.cecae","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1379.5558471679688,"y":1196.0746250152588,"wires":[]},{"id":"b6b79552.994b58","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["56b19868.8372a"],"x":1379.0669555664062,"y":1232.1857089996338,"wires":[]},{"id":"2b3c16d4.43dd1a","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1379.0669555664062,"y":1267.1857089996338,"wires":[]},{"id":"2c62402e.f3459","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":2572.4683837890625,"y":547.868221282959,"wires":[]},{"id":"7679e09c.6bbbd","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":2424.571933746338,"y":1097.566635608673,"wires":[]},{"id":"155ff843.f1a198","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":2426.4244384765625,"y":1228.2808227539062,"wires":[]},{"id":"e21bd441.a87748","type":"function","z":"671d059f.ae770c","name":"Delay 100ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":2376.0002059936523,"y":1048.138018131256,"wires":[["c9f96f32.688ac"]]},{"id":"694d81fa.4715d8","type":"function","z":"671d059f.ae770c","name":"Delay 500ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 500);\nreturn null;","outputs":1,"noerr":0,"x":1285.0000686645508,"y":536.899932384491,"wires":[["25b16bee.dc4f64"]]},{"id":"272223da.c1c694","type":"debug","z":"671d059f.ae770c","name":"Comandomaquina=0","active":false,"console":"false","complete":"payload","x":2148.2382621765137,"y":905.1857132911682,"wires":[]},{"id":"b2dc8313.d6cbd8","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":2736.916965484619,"y":1054.1856293678284,"wires":[]},{"id":"5ea11bef.711a6c","type":"switch","z":"671d059f.ae770c","name":"ComandoMaquina","property":"ComandoMaquina","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"}],"checkall":"true","outputs":12,"x":1831.5,"y":1223.5667114257812,"wires":[["272223da.c1c694"],["b049d927.e581e8"],["a3f61f45.954c78"],["e4532e63.f96678"],["468c7f97.9938f"],["eea166ec.f2425"],["1e73c2c5.1b34cd"],["48b68036.4053d"],["bf248bae.9f06f"],["d9c49692.c7286"],["14d5e6cb.28dde1"],["cf5b8cf8.19d2d"]]},{"id":"28723771.4c5058","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2847.8337020874023,"y":1029.2332730293274,"wires":[[]]},{"id":"827a3a63.acefa","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2853.7619590759277,"y":1161.614206790924,"wires":[[]]},{"id":"a3f61f45.954c78","type":"function","z":"671d059f.ae770c","name":"Ligou motor?","func":"//verifica 3.3 e libera 2.12\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n\nif (((modbus[3]) & (1 << 3))) {//M3.3 igual a 1 ligando motor\n    modbus[2] |= (1<<12);\n    msg.payload = modbus[2];\n    msg2.payload ={ type: 'info', message: 'Acelerando motor...' };\n    msg2.payload.time= new Date();\n    node.status({fill:\"green\",shape:\"dot\",text:\"Acelerando...\"});\n}else if (~((modbus[3]) & (1 << 3))){ // M3.3 igual a 0 Desliga motor\n    modbus[2] &= ~(1<<12);\n    msg.payload = modbus[2];\n    msg2.payload ={ type: 'info', message: 'Desligando motor...' };\n    msg2.payload.time= new Date();\n    node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n}else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Bug\"});\n}\n    \nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2125.4002418518066,"y":1184.3000092506409,"wires":[["34f06fde.951088"],["155ff843.f1a198"]]},{"id":"34f06fde.951088","type":"function","z":"671d059f.ae770c","name":"Delay 100ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":2375.9999656677246,"y":1178.2332758903503,"wires":[["f33eaf5b.ee6038"]]},{"id":"f33eaf5b.ee6038","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Desliga motor M2.12","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":2585.666721343994,"y":1177.8999848365784,"wires":[["827a3a63.acefa"],["adfeef6f.00ba"]]},{"id":"adfeef6f.00ba","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":2742.285861968994,"y":1184.3285737037659,"wires":[]},{"id":"6b8331cc.9246b","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2856.500217437744,"y":1282.6499848365784,"wires":[[]]},{"id":"e4532e63.f96678","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\" Aplanadora Abre M31.10\"});\nreturn null;","outputs":1,"noerr":0,"x":2125.750217437744,"y":1287.6499848365784,"wires":[["6b8331cc.9246b"]]},{"id":"9b0fcc4b.5b5ab","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2857.000217437744,"y":1331.8999848365784,"wires":[[]]},{"id":"468c7f97.9938f","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Aplanadora fecha M31.11\"});\nreturn null;","outputs":1,"noerr":0,"x":2124.250217437744,"y":1335.6499848365784,"wires":[["9b0fcc4b.5b5ab"]]},{"id":"75e6385.f3e7048","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["56b19868.8372a"],"x":1379.8574485778809,"y":1302.2857604026794,"wires":[]},{"id":"4883d7f.0b713a8","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1380.2860374450684,"y":1336.999993801117,"wires":[]},{"id":"3ec7eba4.efe334","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["56b19868.8372a"],"x":1380.8574485778809,"y":1373.142816066742,"wires":[]},{"id":"fa9701ea.5235a8","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1380.1432151794434,"y":1408.2857604026794,"wires":[]},{"id":"eea166ec.f2425","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\" Perfil Avança M2.3\"});\nreturn null;","outputs":1,"noerr":0,"x":2127.14306640625,"y":1382.7142486572266,"wires":[["7db18c84.928d8c"]]},{"id":"1e73c2c5.1b34cd","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M2.4\"});\nreturn null;","outputs":1,"noerr":0,"x":2126.64306640625,"y":1428.7142486572266,"wires":[["fcd83515.799f6"]]},{"id":"7db18c84.928d8c","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2856.857421875,"y":1379.7142486572266,"wires":[[]]},{"id":"fcd83515.799f6","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2857.0001220703125,"y":1425.7142400741577,"wires":[[]]},{"id":"402d7ce4.4f1414","type":"switch","z":"671d059f.ae770c","name":"i<7","property":"i","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":1876.6390953063965,"y":400.9443874359131,"wires":[["8fc02575.73015"],["205cc940.ffaf46"],["364c4aaa.a80b46"],["de539e6a.e1a4"],["d4267640.121848"],["5033e90f.3895d8"],["77a24e62.783508"]]},{"id":"b8bd93e8.b688a","type":"function","z":"671d059f.ae770c","name":"i++","func":"msg.i++;\n\nreturn msg;","outputs":1,"noerr":0,"x":2017.4999923706055,"y":166.02771377563477,"wires":[["402d7ce4.4f1414"]]},{"id":"8fc02575.73015","type":"function","z":"671d059f.ae770c","name":"ALARMES E MENSAGENS HTML","func":"var mensagens = global.get(\"mensagens\");\nvar modbus = msg.payload;\nvar msg2 ={\n    //_msgid: msg._msgid,\n    payload: msg.payload\n};\n\n//msg.payload = msg.i;\n\nif (msg2.payload[0] & (1 << 0)) {\n    msg2.payload = mensagens['EMERGENCIA'];\n} else if (msg2.payload[0] & (1 << 1)) {\n    msg2.payload = mensagens['FALTA_FASE'];\n} else if (msg2.payload[0] & (1 << 2)) {\n    msg2.payload = mensagens['BOMBA_HIDRAULICA'];\n} else if (msg2.payload[0] & (1 << 3)) {\n    msg2.payload = mensagens['MARTELO_PRENSA'];\n} else if (msg2.payload[0] & (1 << 4)) {\n    msg2.payload = mensagens['PRESSAO_AR'];\n} else if (msg2.payload[0] & (1 << 5)) {\n    msg2.payload = mensagens['INVERSOR'];\n} else if (msg2.payload[0] & (1 << 6))  {\n    msg2.payload = mensagens['SERVO'];\n} else if ((msg2.payload[0] & (1 << 7)))/*||(msg.payload[2] &= ~(1 << 11)))*/  {\n    msg2.payload = mensagens['CHAVE_GERAL_DESLIGADA'];\n} else if (msg2.payload[0] & (1 << 9))  {\n    msg2.payload = mensagens['ERRO_POSICIONAMENTO'];\n} else if (msg2.payload[0] & (1 << 10)) {\n    msg2.payload = mensagens['SEGURAN_PRENSA'];\n} else if (msg2.payload[1] & (1 << 12)) {\n    msg2.payload = mensagens['APLAN_ABERTA'];\n} else if (msg2.payload[0] & (1 << 8))  {\n    msg2.payload = mensagens['MAQUINA_NAO_LIBERADA'];\n} else {\n    if((global.get(\"MotorInvertido\"))==1){\n        msg2.payload = { type: 'info', message: ' Motor Invertido!!!'};\n    }else{\n        msg2.payload = { type: 'info', message: ' Maquina OK'};\n    }\n    \n}\n\n\nmsg2.payload.time= new Date();\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2151.1806144714355,"y":292.52773666381836,"wires":[["b8bd93e8.b688a"],["2c62402e.f3459","9f541976.57aca"]]},{"id":"757e66e6.869938","type":"function","z":"671d059f.ae770c","name":"loop leitura i=0","func":"global.set(\"ModBus\",msg.payload);\nmsg.i =0;\nreturn msg;","outputs":1,"noerr":0,"x":1698.9723434448242,"y":400.74998664855957,"wires":[["402d7ce4.4f1414"]]},{"id":"205cc940.ffaf46","type":"function","z":"671d059f.ae770c","name":"APLANADORA FECHADA HTML","func":"var msg2 ={\n    //_msgid: msg._msgid,\n    payload: global.get(\"ModBus\")\n};\n\n//msg.payload = msg.i;\n\nif (msg2.payload[1] & (1 << 12))  {\n        msg2= {\n            payload: { \n                APLANADORA_FECHADA:0\n            }\n        };\n    } else{\n        msg2= {\n            payload: {\n                APLANADORA_FECHADA:1\n            }\n        };\n    }\n\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2151.280830383301,"y":328.322322845459,"wires":[["b8bd93e8.b688a"],["2c62402e.f3459"]]},{"id":"364c4aaa.a80b46","type":"function","z":"671d059f.ae770c","name":"ATUALIZA MAQ LIGADA HTML","func":"var msg2 ={\n    //_msgid: msg._msgid,\n    payload: global.get(\"ModBus\")\n};\n\n//msg.payload = msg.i;\nif (msg2.payload[2] & (1 << 11 )) {\n        msg2= {\n            payload: { \n                MAQUINA_ON:1\n            }\n        };\n    } else{\n        msg2= {\n            payload: {\n                MAQUINA_ON:0\n            }\n        };\n    }\n\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2140.7777709960938,"y":365.5555067062378,"wires":[["b8bd93e8.b688a"],["2c62402e.f3459"]]},{"id":"77a24e62.783508","type":"function","z":"671d059f.ae770c","name":"Loop Finished","func":"msg.payload=global.get(\"ModBus\");\nreturn msg;","outputs":1,"noerr":0,"x":2091.1112747192383,"y":513.7777419090271,"wires":[["eb0786cc.9c362"]]},{"id":"eb0786cc.9c362","type":"function","z":"671d059f.ae770c","name":"Delay 300ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 300);\nreturn null;","outputs":1,"noerr":0,"x":2259.4001998901367,"y":513.5333118438721,"wires":[["bce4d747.67ea"]]},{"id":"6165e12d.5659c","type":"inject","z":"671d059f.ae770c","name":"Criar estrutura parametros","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3475.4672470092773,"y":1679.3166036605835,"wires":[["f56386e0.57974"]]},{"id":"c0290c54.c9b66","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"store","x":3961.8248443603516,"y":1678.8118228912354,"wires":[]},{"id":"4665bdfd.677cdc","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nreturn null;","outputs":1,"noerr":0,"x":2257.371711730957,"y":603.8761730194092,"wires":[["2c62402e.f3459","24f4d6be.7d1822"]]},{"id":"d02555c5.27f6a8","type":"function","z":"671d059f.ae770c","name":"mudar 1 item apenas","func":"msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n    $set: {\n       \"parametros.encoder.fator\": 2225\n     }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3755.778289794922,"y":1844.8889179229736,"wires":[["8d16441a.59a618"]]},{"id":"8d16441a.59a618","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"update only one","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"update","x":3991.778274536133,"y":1845.288911819458,"wires":[]},{"id":"e3ad962f.5477c8","type":"inject","z":"671d059f.ae770c","name":"String vazia","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":3433.811065673828,"y":2023.7332754135132,"wires":[["b15d5052.c81f48"]]},{"id":"4bc7b858.25de78","type":"mongodb in","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"consulta","collection":"parametros","operation":"find","x":3952.77823638916,"y":2024.0887718200684,"wires":[["776505da.de15a4"]]},{"id":"776505da.de15a4","type":"debug","z":"671d059f.ae770c","name":"resposta do MongoDB","active":true,"console":"false","complete":"payload","x":4236.889278411865,"y":2024.199927330017,"wires":[]},{"id":"f56386e0.57974","type":"function","z":"671d059f.ae770c","name":"collection inicial parametros","func":"msg.payload = {\n\t\"_id\": \"AplanadoraN3\",\n\t\"nome\": \"Aplanadora N3\",\n\t\"setor\": \"Estamparia\",\n\t\"parametros\": {\n\t\t\"encoder\": {\n\t\t\t\"fator\": 10000,\n\t\t\t\"resolucao\": 2500,\n\t\t\t\"perimetro\": 400\n\t\t},\n\t\t\"velocidade\": {\n\t\t\t\"automatico\": 100,\n\t\t\t\"manual\": 25\n\t\t},\n\t\t\"ferramenta\": {\n\t\t\t\"passo\": 200\n\t\t}\n\t},\n\t\"estado\": {\n\t\t\"situacao\": {\n\t\t\t\"codigo\": 99,\n\t\t\t\"descricao\": \"Maquina OK\"\n\t\t}\n\t},\n\t\"operador\": {\n\t\t\"codigo\": 1012,\n\t\t\"nome\": \"IRANILDO\"\n\t},\n\t\"os\": {\n\t    \"numero\": \"1231-11\",\n\t    \"produto\": {\n\t        \"codigo\": \"XXXXXXXXX\",\n\t        \"descricao\": \"AAAAAABBBBBCCCCC\"\n\t    },\n\t    \"quantidade\": 1550,\n\t    \"produzido\": 0,\n\t    \"refugo\": 0\n\t},\n\t\"lubrificacao\": {\n\t\t\"preset\": {\n\t\t        \"MbNovoCiclosUnd\":0,\n\t\t        \"MbNovoCiclosmil\":1\n\t\t},\n\t\t\"ciclos\": {\n\t\t        \"PrsCiclosUnid\":500,\n\t\t        \"PrsCiclosMil\":0\n\t\t}\n\t},\n\t\"timestamp\":new Date()\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":3754.8338317871094,"y":1678.9166097640991,"wires":[["c0290c54.c9b66"]]},{"id":"8d1d3381.c7587","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"APAGAR TODA A COLLECTION log_erro","collection":"log_erro","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":3850.5557556152344,"y":1560.1109428405762,"wires":[]},{"id":"80b27ae.bcbf088","type":"inject","z":"671d059f.ae770c","name":"LIMPAR coleção log_erro","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":3475.3093032836914,"y":1560.8379983901978,"wires":[["8d1d3381.c7587"]]},{"id":"bb0d4bdd.46cfe8","type":"inject","z":"671d059f.ae770c","name":"$set fator encoder","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":3454.611827850342,"y":1844.5556144714355,"wires":[["d02555c5.27f6a8"]]},{"id":"8df680bf.21bf08","type":"function","z":"671d059f.ae770c","name":"contador +1","func":"msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n    $inc: {\n       \"os.produzido\": 1\n     }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3755.0003356933594,"y":1930.66659450531,"wires":[["e37d4343.1d9b28"]]},{"id":"e37d4343.1d9b28","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"update","x":3963.0003204345703,"y":1931.0665884017944,"wires":[]},{"id":"b4039447.af12e","type":"inject","z":"671d059f.ae770c","name":"$inc: incrementa","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":3441.8338737487793,"y":1930.333291053772,"wires":[["8df680bf.21bf08","80b1796e.2656d8"]]},{"id":"b15d5052.c81f48","type":"function","z":"671d059f.ae770c","name":"Paginação ","func":"msg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":3751.222589492798,"y":2024.1480550765991,"wires":[["4bc7b858.25de78"]]},{"id":"42c437e1.6db08","type":"comment","z":"671d059f.ae770c","name":"Paginação  e consulta MongoDB","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3470.0004234313965,"y":1987.999894618988,"wires":[]},{"id":"bd3a3475.2186d","type":"inject","z":"671d059f.ae770c","name":"Criar estrutura log_erro","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3465.4446868896484,"y":1717.416660308838,"wires":[["2816042c.6783fc"]]},{"id":"1f734783.15d","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"log_erro","payonly":true,"upsert":false,"multi":false,"operation":"store","x":3962.802574157715,"y":1717.4674921035767,"wires":[]},{"id":"2816042c.6783fc","type":"function","z":"671d059f.ae770c","name":"collection inicial log_erro","func":"msg.payload = {\n\t\"_id\": 1,\n\t\"log_mesagens\": {\n\t}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3755.8115615844727,"y":1717.5722789764404,"wires":[["1f734783.15d"]]},{"id":"be789ff0.fbe738","type":"comment","z":"671d059f.ae770c","name":"Liga Chave Geral e Libera a Maquina","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":2200.889129638672,"y":1012.5554943084717,"wires":[]},{"id":"3695f8d6.915468","type":"comment","z":"671d059f.ae770c","name":"Liga / Deslig Motor","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":2144.555908203125,"y":1142.5555419921875,"wires":[]},{"id":"8fd95b0c.7c4118","type":"comment","z":"671d059f.ae770c","name":"Envia para fila qualquer erro na comunicação","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":3247.33349609375,"y":1204.5555419921875,"wires":[]},{"id":"43924e83.7b309","type":"mongodb in","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"consulta","collection":"parametros","operation":"find","x":3854.666944503784,"y":2104.5832986831665,"wires":[["33fec79d.7cc4f8"]]},{"id":"3f5b32a1.c2e2c6","type":"function","z":"671d059f.ae770c","name":"lê apenas 1 parametro","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = { \"_id\": \"AplanadoraN3\" }\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"parametros.encoder.fator\": 1 }\n\n// Ler 1 valor\nmsg.limit = 1;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":3641.7780151367188,"y":2104.420329093933,"wires":[["43924e83.7b309"]]},{"id":"42138e4d.d2811","type":"inject","z":"671d059f.ae770c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3421.791925430298,"y":2104.08327960968,"wires":[["3f5b32a1.c2e2c6"]]},{"id":"33fec79d.7cc4f8","type":"function","z":"671d059f.ae770c","name":"parse(fator encoder)","func":"msg.payload=msg.payload[0].parametros.encoder.fator;\nreturn msg;","outputs":1,"noerr":0,"x":4047.83376121521,"y":2104.9999980926514,"wires":[["eb66c879.90c8f8"]]},{"id":"eb66c879.90c8f8","type":"debug","z":"671d059f.ae770c","name":"ler registrador x","active":true,"console":"false","complete":"payload","x":4254.167181015015,"y":2104.999878883362,"wires":[]},{"id":"ee63fcc4.a6e97","type":"comment","z":"671d059f.ae770c","name":"Lê apenas um valor","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3426.9999771118164,"y":2068.9999389648438,"wires":[]},{"id":"80b1796e.2656d8","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nreturn null;","outputs":1,"noerr":0,"x":3754.333740234375,"y":1966.11088180542,"wires":[["b15d5052.c81f48"]]},{"id":"304cbd0e.1e1d1a","type":"comment","z":"671d059f.ae770c","name":"Contador Produzidos ++ ","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3446.99991607666,"y":1894.9998512268066,"wires":[]},{"id":"d8de8820.e232d8","type":"comment","z":"671d059f.ae770c","name":"Mudar apenas 1 registro do banco com $set","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3509.777847290039,"y":1806.3332481384277,"wires":[]},{"id":"65332101.b78a7","type":"comment","z":"671d059f.ae770c","name":"2- Cria estrutura inicial das coleções","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3480.33341217041,"y":1642.666584968567,"wires":[]},{"id":"cf844589.e2bb88","type":"comment","z":"671d059f.ae770c","name":"1- Apagar Cuidado","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3431.8888397216797,"y":1481.8887395858765,"wires":[]},{"id":"eac1acba.4a28c","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"APAGAR TODA A COLLECTION parametros","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":3842,"y":1522.88871383667,"wires":[]},{"id":"d627b632.2d28","type":"inject","z":"671d059f.ae770c","name":"LIMPAR coleção parametros","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":3485.6421508789062,"y":1522.8379173278809,"wires":[["eac1acba.4a28c"]]},{"id":"86f35978.92c7c","type":"mongodb in","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"consulta","collection":"parametros","operation":"find","x":2720.633949279785,"y":663.2443752288818,"wires":[["c9852b8a.3dea4","886ce047.6c4c9"]]},{"id":"24f4d6be.7d1822","type":"function","z":"671d059f.ae770c","name":"Paginação ","func":"msg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":2520.7450199127197,"y":663.0814056396484,"wires":[["86f35978.92c7c","fde49f5f.85129"]]},{"id":"580f93df.6347cc","type":"comment","z":"671d059f.ae770c","name":"Carrega valores iniciais do banco","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":2579.0228881835938,"y":628.1832580566406,"wires":[]},{"id":"c9852b8a.3dea4","type":"function","z":"671d059f.ae770c","name":"Carrega todos os parametros","func":"//Cria um array vazio\nvar parametros = [];\n\nparametros.push(msg.payload[0].parametros.velocidade.automatico);   //AplanVelAuto M14\nparametros.push(msg.payload[0].parametros.velocidade.manual);       //AplanVelMan M17\nparametros.push(msg.payload[0].parametros.ferramenta.passo);        //AplanPasso M18\nparametros.push(msg.payload[0].parametros.encoder.fator);           //EncFactor M20\nparametros.push(msg.payload[0].parametros.encoder.resolucao);       //EncResol M21 \nparametros.push(msg.payload[0].parametros.encoder.perimetro);       //EncPerim M22\nparametros.push(msg.payload[0].lubrificacao.ciclos.PrsCiclosUnid);  //PrsCiclosUnid M23\nparametros.push(msg.payload[0].lubrificacao.ciclos.PrsCiclosMil);   //PrsCiclosMil M24\nparametros.push(msg.payload[0].lubrificacao.preset.MbNovoCiclosUnd);//NovoPrsCiclosUnd M25\nparametros.push(msg.payload[0].lubrificacao.preset.MbNovoCiclosmil);//NovoCiclosMil M26\n\n//Salva em uma variavel externa ao bloco\nflow.set('params', parametros); \n\n//Envia o conteudo do array para o proximo bloco\nmsg.payload = parametros;\n\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Parametros Carregados\"});\nreturn msg;","outputs":"1","noerr":0,"x":2936.689231872558,"y":662.9333248138425,"wires":[["94ec596d.38554","ffc974e.9646508","b75b1c4c.0c82b"]]},{"id":"94ec596d.38554","type":"debug","z":"671d059f.ae770c","name":"Array completo","active":false,"console":"false","complete":"payload","x":3212.8079681396484,"y":805.6953945159912,"wires":[]},{"id":"ffc974e.9646508","type":"debug","z":"671d059f.ae770c","name":"tamanho","active":false,"console":"false","complete":"payload.length","x":3190.474784851074,"y":765.1712303161621,"wires":[]},{"id":"b75b1c4c.0c82b","type":"function","z":"671d059f.ae770c","name":"Separa cada mensagem","func":"var msgs = [null, null, null, null, null, null, null, null, null, null];\n\nmsgs[flow.get('params').length - 1] = {payload: flow.get('params')[flow.get('params').length - 1]};\n\nnode.send(msgs);\n","outputs":"10","noerr":0,"x":3237.436065673828,"y":664.0157775878906,"wires":[["f24ed02b.8eedc8"],["f445e540.dfb5b8"],["8a1d11aa.0d4948"],["9f2410be.fd9898"],["d58046ec.25b3e8"],["baed364d.85028"],["ca4d0ac1.21dba"],["97cdc85c.1b2c08"],["103dcc12.95c0d4"],["cbbab5b6.5a0358"]]},{"id":"d67ea89f.fdcab8","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":3785.126708984375,"y":950.6191101074219,"wires":[]},{"id":"f2cdd20b.f9f63","type":"function","z":"671d059f.ae770c","name":"LOOP DE ESCRITA","func":"//Somente entra aqui se o array ainda for >= 0\nif (flow.get('params').length >= 0) {\n    \n    // Carrega todos os parametros que ainda não foram enviados\n    var params = flow.get('params');\n    \n    // Cria um novo Array tirando o ultimo elemento\n    var novo = params.slice(0, flow.get('params').length - 1);\n    \n    // Sobrescreve o arry params\n    flow.set('params', novo);\n    \n    // Envia novo array com -1 elemento\n    msg.payload = novo;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":3229.76220703125,"y":473.33331298828125,"wires":[["b75b1c4c.0c82b"]]},{"id":"2b8e7f93.dfb528","type":"debug","z":"671d059f.ae770c","name":"LOOP","active":false,"console":"false","complete":"payload","x":3179.222412109375,"y":515.2221984863281,"wires":[]},{"id":"f24ed02b.8eedc8","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"AplanVelAuto_M14","dataType":"HoldingRegister","adr":"14","server":"ae591bf0.c143b","x":3559.2224655151367,"y":474.83323192596436,"wires":[["51147de9.9330ec","aebec996.51da9"],["d67ea89f.fdcab8"]]},{"id":"d58046ec.25b3e8","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"EncResol_M21","dataType":"HoldingRegister","adr":"21","server":"ae591bf0.c143b","x":3550.7939262390137,"y":667.2618179321289,"wires":[["51147de9.9330ec","1a0fa876.c35af"],["d67ea89f.fdcab8"]]},{"id":"8a1d11aa.0d4948","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"AplanPasso_M18","dataType":"HoldingRegister","adr":"18","server":"ae591bf0.c143b","x":3561.3651428222656,"y":571.976170539856,"wires":[["51147de9.9330ec","5b1337c6.4179"],["d67ea89f.fdcab8"]]},{"id":"f445e540.dfb5b8","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"AplanVelMan_M17","dataType":"HoldingRegister","adr":"17","server":"ae591bf0.c143b","x":3560.508087158203,"y":522.976170539856,"wires":[["51147de9.9330ec","5981919a.c36e58"],["d67ea89f.fdcab8"]]},{"id":"9f2410be.fd9898","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"EncFactor_M20","dataType":"HoldingRegister","adr":"20","server":"ae591bf0.c143b","x":3550.3652153015137,"y":620.6904067993164,"wires":[["51147de9.9330ec","e39d0263.77317"],["d67ea89f.fdcab8"]]},{"id":"cbbab5b6.5a0358","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"NovoCiclosMil_M26","dataType":"HoldingRegister","adr":"26","server":"ae591bf0.c143b","x":3571.2223930358887,"y":909.8332290649414,"wires":[["51147de9.9330ec","de64e7f8.3664b"],["d67ea89f.fdcab8"]]},{"id":"ca4d0ac1.21dba","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"PrsCiclosUnid_M27","dataType":"HoldingRegister","adr":"27","server":"ae591bf0.c143b","x":3561.7936096191406,"y":768.5475816726685,"wires":[["51147de9.9330ec","bca2f942.f551b8"],["d67ea89f.fdcab8"]]},{"id":"baed364d.85028","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"EncPerim_M22","dataType":"HoldingRegister","adr":"22","server":"ae591bf0.c143b","x":3550.936553955078,"y":717.5475816726685,"wires":[["51147de9.9330ec","75a84375.87939c"],["d67ea89f.fdcab8"]]},{"id":"103dcc12.95c0d4","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"NovoPrsCiclosUnd_M25","dataType":"HoldingRegister","adr":"25","server":"ae591bf0.c143b","x":3580.7936820983887,"y":860.2618179321289,"wires":[["51147de9.9330ec","e905f5.3314aa08"],["d67ea89f.fdcab8"]]},{"id":"97cdc85c.1b2c08","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"PrsCiclosMil_M28","dataType":"HoldingRegister","adr":"28","server":"ae591bf0.c143b","x":3562.000244140625,"y":814.3333129882812,"wires":[["51147de9.9330ec","26db150b.91f522"],["d67ea89f.fdcab8"]]},{"id":"816fceb.bc0dab","type":"link in","z":"671d059f.ae770c","name":"loop escrita","links":["51147de9.9330ec"],"x":2885.500244140625,"y":473.29998779296875,"wires":[["e01d03e4.d4f5b"]]},{"id":"51147de9.9330ec","type":"link out","z":"671d059f.ae770c","name":"loop inicializando CLP","links":["816fceb.bc0dab"],"x":3794.500244140625,"y":435.5999755859375,"wires":[]},{"id":"e01d03e4.d4f5b","type":"function","z":"671d059f.ae770c","name":"Delay 100ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":2991.500244140625,"y":473.25,"wires":[["2b8e7f93.dfb528","f2cdd20b.f9f63"]]},{"id":"8b579a.5041a868","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Regitradores da Maquina","topic":"AplanadoraN/registradores","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":4397.476654052734,"y":667.9522972106934,"wires":[]},{"id":"911aad51.2dc15","type":"http response","z":"671d059f.ae770c","name":"","x":4132.000244140625,"y":2356,"wires":[]},{"id":"98d5baed.b80e1","type":"http in","z":"671d059f.ae770c","name":"Index","url":"/","method":"get","swaggerDoc":"","x":3385.4446016947427,"y":2357.111061943902,"wires":[["b1fce5c0.ecdfa8"]]},{"id":"b1fce5c0.ecdfa8","type":"file in","z":"671d059f.ae770c","name":"index.HTML","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/gulp/index.html","format":"utf8","x":3659.5557174682617,"y":2357.22217464447,"wires":[["daf2c1db.2fe4"]]},{"id":"826342db.eef16","type":"http response","z":"671d059f.ae770c","name":"","x":4136.444730122885,"y":2428.666648864746,"wires":[]},{"id":"ef262afd.028a1","type":"http in","z":"671d059f.ae770c","name":"css/hmi.min.css","url":"/css/hmi.min.css","method":"get","swaggerDoc":"","x":3415.889087677002,"y":2428.777710808648,"wires":[["22a1cf13.3fad3"]]},{"id":"22a1cf13.3fad3","type":"file in","z":"671d059f.ae770c","name":"hmi.min","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/gulp/css/hmi.min.css","format":"utf8","x":3650.666835784912,"y":2428.6665802001953,"wires":[["b2545787.74486"]]},{"id":"b2545787.74486","type":"function","z":"671d059f.ae770c","name":"Text/CSS","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":3997.000141143799,"y":2428.555501937866,"wires":[["826342db.eef16"]]},{"id":"27f6267f.f21eda","type":"comment","z":"671d059f.ae770c","name":"HTML","info":"","x":3385.000228881836,"y":2320.999975204468,"wires":[]},{"id":"68c5c667.cdc958","type":"comment","z":"671d059f.ae770c","name":"CSS","info":"","x":3385.8890419006348,"y":2393.111234664917,"wires":[]},{"id":"ff1f3891.2ba958","type":"comment","z":"671d059f.ae770c","name":"JAVASCRIPT","info":"","x":3405.333541870117,"y":2467.555748939514,"wires":[]},{"id":"641e50ea.7e3628","type":"http response","z":"671d059f.ae770c","name":"","x":4136.444691975912,"y":2503.111068725586,"wires":[]},{"id":"9cf9f487.a8344","type":"http in","z":"671d059f.ae770c","name":"jquery.js","url":"/js/jquery.js","method":"get","swaggerDoc":"","x":3395.8890495300293,"y":2504.222130669488,"wires":[["2a727e97.b638d2"]]},{"id":"2a727e97.b638d2","type":"file in","z":"671d059f.ae770c","name":"jquery.js","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/gulp/js/jquery.js","format":"utf8","x":3650.6667976379395,"y":2504.111000061035,"wires":[["641e50ea.7e3628"]]},{"id":"538bceb3.1b038","type":"http response","z":"671d059f.ae770c","name":"","x":4136.889149983725,"y":2540.222183227539,"wires":[]},{"id":"c4155552.9e7f48","type":"http in","z":"671d059f.ae770c","name":"jquery-ui.js","url":"/js/jquery-ui.js","method":"get","swaggerDoc":"","x":3396.333507537842,"y":2541.333245171441,"wires":[["15ee0650.9613aa"]]},{"id":"15ee0650.9613aa","type":"file in","z":"671d059f.ae770c","name":"jquery-ui.js","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/gulp/js/jquery-ui.js","format":"utf8","x":3661.111255645752,"y":2541.2221145629883,"wires":[["538bceb3.1b038"]]},{"id":"79eaabf9.67562c","type":"http response","z":"671d059f.ae770c","name":"","x":4136.889149983725,"y":2576.6666412353516,"wires":[]},{"id":"3bbcccfc.7252e4","type":"http in","z":"671d059f.ae770c","name":"jquery.keyboard.js","url":"/js/jquery.keyboard.js","method":"get","swaggerDoc":"","x":3426.333507537842,"y":2577.7777031792534,"wires":[["bb157d07.dbac88"]]},{"id":"bb157d07.dbac88","type":"file in","z":"671d059f.ae770c","name":"jquery.keyboard.js","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/gulp/js/jquery.keyboard.js","format":"utf8","x":3681.111255645752,"y":2577.666572570801,"wires":[["79eaabf9.67562c"]]},{"id":"fb9799f1.0907d8","type":"http response","z":"671d059f.ae770c","name":"","x":4137.333607991537,"y":2613.7777557373047,"wires":[]},{"id":"b30723cf.bbf02","type":"http in","z":"671d059f.ae770c","name":"jquery.mousewheel.js","url":"/js/jquery.mousewheel.js","method":"get","swaggerDoc":"","x":3436.7779655456543,"y":2614.8888176812065,"wires":[["b32bbc8d.91bf6"]]},{"id":"b32bbc8d.91bf6","type":"file in","z":"671d059f.ae770c","name":"jquery.mousewheel.js","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/gulp/js/jquery.mousewheel.js","format":"utf8","x":3691.5557136535645,"y":2614.777687072754,"wires":[["fb9799f1.0907d8"]]},{"id":"2a73eb00.2033ee","type":"http response","z":"671d059f.ae770c","name":"","x":4137.666928609213,"y":2649.7777557373047,"wires":[]},{"id":"307c970c.532908","type":"http in","z":"671d059f.ae770c","name":"hmi.min.js","url":"/js/hmi.min.js","method":"get","swaggerDoc":"","x":3397.11128616333,"y":2650.8888176812065,"wires":[["8634198a.1f2a98"]]},{"id":"8634198a.1f2a98","type":"file in","z":"671d059f.ae770c","name":"hmi.min.js","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/gulp/js/hmi.min.js","format":"utf8","x":3651.8890342712402,"y":2650.777687072754,"wires":[["2a73eb00.2033ee"]]},{"id":"ae1bbb96.60f12","type":"comment","z":"671d059f.ae770c","name":"FONTS","info":"","x":3387.333450317383,"y":2688.6664600372314,"wires":[]},{"id":"8e0988db.4dfe88","type":"http response","z":"671d059f.ae770c","name":"","x":4137.889149983725,"y":2723.999984741211,"wires":[]},{"id":"11ea63d8.5d360c","type":"http in","z":"671d059f.ae770c","name":"fontawesome-webfont.woff","url":"/fonts/fontawesome-webfont.woff","method":"get","swaggerDoc":"","x":3447.333507537842,"y":2724.111046685113,"wires":[["edd9fcde.6d2a4"]]},{"id":"edd9fcde.6d2a4","type":"file in","z":"671d059f.ae770c","name":"fontawesome-webfont.woff","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/gulp/fonts/fontawesome-webfont.woff","format":"","x":3712.111255645752,"y":2723.99991607666,"wires":[["93f32b5d.691028"]]},{"id":"ec763089.bff22","type":"http response","z":"671d059f.ae770c","name":"","x":4138.333607991537,"y":2761.111099243164,"wires":[]},{"id":"6d0e4fcd.c9a4a","type":"http in","z":"671d059f.ae770c","name":"fontawesome-webfont.ttf","url":"/fonts/fontawesome-webfont.ttf","method":"get","swaggerDoc":"","x":3447.7779655456543,"y":2761.222161187066,"wires":[["1bfab430.c03724"]]},{"id":"1bfab430.c03724","type":"file in","z":"671d059f.ae770c","name":"fontawesome-webfont.ttf","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/gulp/fonts/fontawesome-webfont.ttf","format":"","x":3702.5557136535645,"y":2761.1110305786133,"wires":[["a09044b7.dac7d8"]]},{"id":"93f32b5d.691028","type":"function","z":"671d059f.ae770c","name":"webfont.woff","func":"msg.headers = { \"Content-type\" : \"application/font-webfont.woff\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":3989.111301422119,"y":2723.8888721466064,"wires":[["8e0988db.4dfe88"]]},{"id":"a09044b7.dac7d8","type":"function","z":"671d059f.ae770c","name":"webfont.ttf","func":"msg.headers = { \"Content-type\" : \"application/font-webfont.ttf\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":3990.0001945495605,"y":2761.5555267333984,"wires":[["ec763089.bff22"]]},{"id":"a02ffef1.4c9d5","type":"http response","z":"671d059f.ae770c","name":"","x":4221.222507476807,"y":2840.1110877990723,"wires":[]},{"id":"e0ab1317.0fee7","type":"http in","z":"671d059f.ae770c","name":"Image Files","url":"/images/:file","method":"get","swaggerDoc":"","x":3409.555736541748,"y":2841.333275689019,"wires":[["73537baf.81546c"]]},{"id":"cbabe031.db188","type":"file in","z":"671d059f.ae770c","name":"","filename":"","format":"","x":3856.5557250976562,"y":2841.222110748291,"wires":[["519e268d.e1acd","f3e6772a.015ae8"]]},{"id":"519e268d.e1acd","type":"function","z":"671d059f.ae770c","name":"msg type","func":"msg.headers = { \"Content-type\" : \"image/png\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":4041.88911819458,"y":2840.555465698242,"wires":[["a02ffef1.4c9d5"]]},{"id":"ab14d753.9a0de","type":"comment","z":"671d059f.ae770c","name":"IMAGENS E ARQUIVOS","info":"","x":3446.7776489257812,"y":2797.555242538452,"wires":[]},{"id":"73537baf.81546c","type":"function","z":"671d059f.ae770c","name":"files","func":"msg.filename = 'C:\\\\Desenvolvimento\\\\git\\\\HMI-controler-with-node-red\\\\gulp\\\\images\\\\' + msg.req.params.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":3642.778045654297,"y":2841.888738632202,"wires":[["cbabe031.db188"]]},{"id":"f3e6772a.015ae8","type":"debug","z":"671d059f.ae770c","name":"","active":false,"console":"false","complete":"filename","x":4051.4446296691895,"y":2886.9999408721924,"wires":[]},{"id":"954fc060.f8a4f","type":"comment","z":"671d059f.ae770c","name":"Grava valor dos registradores no CLP","info":"A cada inicialização os valores dos registradores são atualizados a partir de MongoDB:\n\n1- AplanVelAuto M14\nVelocidade maxima no automatico de 0% a 100%\n\n2- AplanVelMan M17\nVelocidade maxima no manual de 0% a 100%\n\n3- AplanPasso M18\nPasso da ferramenta em \"mm\", de 0 a 400mm\n\n4- EncFactor M20\nFator de correção do encoder em numeros inteiros apenas.\n\n5- EncResol M21\nResolução do encoder em numeros inteiros apenas. 1 a 10000\n\n6- EncPerim M22\nPerimetro do encoder em \"mm\". De 1 a 999\n\n7- PrsCiclosUnid M23\nCiclos de Lubrificação da prensa. De 0 a 65534 unidades\n\n8- PrsCiclosMil M24\nCiclos de Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n9- NovoPrsCiclosUnd M25\nCiclos que faltam para proxima Lubrificação da prensa. De 0 a 65534 unidades\n\n10- NovoCiclosMil M26\nCiclos que faltam para proxima Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n","x":3564.666748046875,"y":435.6666564941406,"wires":[]},{"id":"aebec996.51da9","type":"function","z":"671d059f.ae770c","name":"Atualiza M14 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    AplanVelAuto: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n\n    \nreturn msg;","outputs":"1","noerr":0,"x":3943.0000762939453,"y":474.57144355773926,"wires":[["8b579a.5041a868"]]},{"id":"5981919a.c36e58","type":"function","z":"671d059f.ae770c","name":"Atualiza M17 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    AplanVelMan: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n    \nreturn msg;","outputs":"1","noerr":0,"x":3941.857421875,"y":523.1428527832031,"wires":[["8b579a.5041a868"]]},{"id":"e39d0263.77317","type":"function","z":"671d059f.ae770c","name":"Atualiza M20 na pagina","func":"var valor = msg.payload;\n\nglobal.set(\"FatorEncoder\",valor);\nmsg.payload = {\n    EncFactor: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n    \nreturn msg;","outputs":"1","noerr":0,"x":3940.857421875,"y":620.857177734375,"wires":[["8b579a.5041a868"]]},{"id":"5b1337c6.4179","type":"function","z":"671d059f.ae770c","name":"Atualiza M18 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    AplanPasso: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;","outputs":"1","noerr":0,"x":3942.0000762939453,"y":571.2857685089111,"wires":[["8b579a.5041a868"]]},{"id":"bca2f942.f551b8","type":"function","z":"671d059f.ae770c","name":"Atualiza M27 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    PrsCiclosUnid: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n    \nreturn msg;","outputs":"1","noerr":0,"x":3939.714599609375,"y":767,"wires":[["8b579a.5041a868"]]},{"id":"75a84375.87939c","type":"function","z":"671d059f.ae770c","name":"Atualiza M22 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    EncPerim: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;","outputs":"1","noerr":0,"x":3940.8572540283203,"y":717.4285907745361,"wires":[["8b579a.5041a868"]]},{"id":"1a0fa876.c35af","type":"function","z":"671d059f.ae770c","name":"Atualiza M21 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    EncResol: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;","outputs":"1","noerr":0,"x":3940.714599609375,"y":669.2856750488281,"wires":[["8b579a.5041a868"]]},{"id":"de64e7f8.3664b","type":"function","z":"671d059f.ae770c","name":"Atualiza M26 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    NovoCiclosMil: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:\"falta implementar\"});\n    \nreturn msg;","outputs":"1","noerr":0,"x":3938.857421875,"y":910.857177734375,"wires":[["8b579a.5041a868"]]},{"id":"e905f5.3314aa08","type":"function","z":"671d059f.ae770c","name":"Atualiza M25 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    NovoPrsCiclosUnd: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n    \nreturn msg;","outputs":"1","noerr":0,"x":3940.0000762939453,"y":861.2857685089111,"wires":[["8b579a.5041a868"]]},{"id":"26db150b.91f522","type":"function","z":"671d059f.ae770c","name":"Atualiza M28 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    PrsCiclosMil: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:(\"Valor x1000 = \"+ valor)});\n\nreturn msg;","outputs":"1","noerr":0,"x":3939.857421875,"y":813.1428527832031,"wires":[["8b579a.5041a868"]]},{"id":"886ce047.6c4c9","type":"debug","z":"671d059f.ae770c","name":"consulta","active":false,"console":"false","complete":"payload","x":2878.07177734375,"y":619.0715408325195,"wires":[]},{"id":"e493b8cc.adc2c","type":"function","z":"671d059f.ae770c","name":"Atualiza MongoDB","func":"var parametro = JSON.parse(msg.payload);\n\n/****** APLANADORA VELOCIDADE AUTOMATICA M14 *********/\nif (parametro.AplanVelAuto_KEYBOARD !== undefined) {\n    var x = parametro.AplanVelAuto_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.velocidade.automatico\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Velocidade Auto = \"+ x)});\n    return msg;\n}\n\n/****** APLANADORA VELOCIDADE MANUAL M17 *********/\nif (parametro.AplanVelMan_KEYBOARD !== undefined) {\n    var x = parametro.AplanVelMan_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.velocidade.manual\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Velocidade Manual = \"+ x)});\n    return msg;\n}\n\n/****** APLANADORA PASSO M18 *********/\nif (parametro.AplanPasso_KEYBOARD !== undefined) {\n    var x = parametro.AplanPasso_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.ferramenta.passo\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Passo = \"+ x)});\n    return msg;\n}\n\n/****** FATOR DE ENCONDER M20*********/\nif (parametro.EncFactor_KEYBOARD !== undefined) {\n    var x = parametro.EncFactor_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.encoder.fator\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"fator = \"+ x)});\n    return msg;\n}\n\n/****** RESOLUÇÃO DO ENCONDER M21 *********/\nif (parametro.EncResol_KEYBOARD !== undefined) {\n    var x = parametro.EncResol_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.encoder.resolucao\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Resolução ENC = \"+ x)});\n    return msg;\n}\n\n/****** PERIMETRO DO ENCONDER M22 *********/\nif (parametro.EncPerim_KEYBOARD !== undefined) {\n    var x = parametro.EncPerim_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.encoder.perimetro\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Perimetro ENC = \"+ x)});\n    return msg;\n}\n\n/****** TamanhoDesejadoPeca Campo da pagina *********/\nif (parametro.TamanhoDesejadoPeca_KEYBOARD !== undefined) {\n    var x = (parametro.TamanhoDesejadoPeca_KEYBOARD||0);\n    if ((x>=2)&&(x<=20000)){\n        global.set('TamanhoDesejadoPeca_KEYBOARD', x);\n    }else {\n        x=0;\n        global.set('TamanhoDesejadoPeca_KEYBOARD', 0);\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Tamanho Desejado = \"+ x)});\n}\n\n/****** TamanhoRealPeca Campo da pagina *********/\nif (parametro.TamanhoRealPeca_KEYBOARD !== undefined) {\n    var x = (parametro.TamanhoRealPeca_KEYBOARD||0);\n    if ((x>=2)&&(x<=20000)){\n        global.set('TamanhoRealPeca_KEYBOARD', x);\n    }else {\n        x=0;\n        global.set('TamanhoRealPeca_KEYBOARD', 0);\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Tamanho Real = \"+ x)});\n}\n\n/****** RecalcularFator e grava no banco *********/\nif (parametro.RecalcularFator !== undefined) {\n    var x = (global.get('TamanhoRealPeca_KEYBOARD')||0);\n    var y = (global.get('TamanhoDesejadoPeca_KEYBOARD')||0);\n    if ((x!==0)&&(y!==0)){\n        var z = x/y;\n        z *= (global.get('FatorEncoder')/10000);\n        var z2 = Math.round(z*10000);\n        msg.query = { _id: 'AplanadoraN3' }\n        msg.payload = {\n             $set: {\n             \"parametros.encoder.fator\": z2\n            }\n        }\n        node.status({fill:\"blue\",shape:\"dot\",text:(\"Calculado Fator ENC = \"+ z2)});\n        return msg;\n    }\n}\n\n/****** Atualiza numero de cilcos da prensa e grava no banco ********/\nif ((parametro.PrsCiclosUnid_KEYBOARD !== undefined )||(parametro.PRENSA_CICLOS !== undefined) ) {\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"lubrificacao.ciclos.PrsCiclosUnid\": parametro.PrsCiclosUnid_KEYBOARD\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Ciclos = \"+ parametro.PrsCiclosUnid_KEYBOARD)});\n    return msg;\n}\n\n/* FALTA FAZER*************\nPrsCiclosUnid M23\nPrsCiclosMil M24\nNovoPrsCiclosUnd M25\nNovoCiclosMil M26*/\n\n\n","outputs":1,"noerr":0,"x":1979.357089996338,"y":719.3571262359619,"wires":[["30eb4dc9.1f396a","f0789376.a214c","6e0e51e2.961a98"]]},{"id":"30eb4dc9.1f396a","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"update","x":2241.3570556640625,"y":719.4237966537476,"wires":[]},{"id":"e0dd238e.6d0888","type":"mqtt in","z":"671d059f.ae770c","name":"","topic":"AplanadoraN/registradores","qos":"0","broker":"15286a00.a42c76","x":1708.4528694152832,"y":769.6347217559814,"wires":[["e493b8cc.adc2c","85baba2f.4761f8"]]},{"id":"addb3db3.567868","type":"comment","z":"671d059f.ae770c","name":"Save the modified values in the bank","info":"#Whats is saved until now!\n\nAfter one JSON.parse(msg.payload);\n\nAPLANADORA VELOCIDADE AUTOMATICA M14\nAPLANADORA VELOCIDADE MANUAL M17\nAPLANADORA PASSO M18\nRESOLUÇÃO DO ENCONDER M21","x":1983.5202026367188,"y":678.7658634185791,"wires":[]},{"id":"f0789376.a214c","type":"debug","z":"671d059f.ae770c","name":"Salvou","active":false,"console":"false","complete":"payload","x":2240.785888671875,"y":772.3571472167969,"wires":[]},{"id":"6e0e51e2.961a98","type":"function","z":"671d059f.ae770c","name":"Delay 300ms","func":"setTimeout(function() {\n    msg= {payload: \"{MAQUINA_OFF:0}\"};\n    node.send(msg);\n}, 300);\n\nreturn null;","outputs":1,"noerr":0,"x":2257.809844970703,"y":661.8809814453125,"wires":[["cc1ae34e.2c3e7","24f4d6be.7d1822"]]},{"id":"cc1ae34e.2c3e7","type":"debug","z":"671d059f.ae770c","name":"depois de salvar","active":false,"console":"false","complete":"true","x":2519.5531005859375,"y":721.5265197753906,"wires":[]},{"id":"85baba2f.4761f8","type":"debug","z":"671d059f.ae770c","name":"fila","active":false,"console":"false","complete":"payload","x":1939.8228569030762,"y":770.2408466339111,"wires":[]},{"id":"daf2c1db.2fe4","type":"function","z":"671d059f.ae770c","name":"Text/HTML","func":"msg.headers = { \"Content-type\" : \"text/html\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":3983.83349609375,"y":2356.0211486816406,"wires":[["911aad51.2dc15"]]},{"id":"1c25dcb0.f0afab","type":"http response","z":"671d059f.ae770c","name":"","x":4222.93359375,"y":2930,"wires":[]},{"id":"c18900c7.4a30a8","type":"http in","z":"671d059f.ae770c","name":"Image Files","url":"/css/images/:file","method":"get","swaggerDoc":"","x":3411.2668228149414,"y":2930.222187889947,"wires":[["269a2db3.597302"]]},{"id":"cf724207.75665","type":"file in","z":"671d059f.ae770c","name":"","filename":"","format":"","x":3858.2668113708496,"y":2930.1110229492188,"wires":[["ea1c0d96.3cd2c8","68d03fe1.7ec8"]]},{"id":"ea1c0d96.3cd2c8","type":"function","z":"671d059f.ae770c","name":"msg type","func":"msg.headers = { \"Content-type\" : \"image/png\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":4043.6002044677734,"y":2930.44437789917,"wires":[["1c25dcb0.f0afab"]]},{"id":"269a2db3.597302","type":"function","z":"671d059f.ae770c","name":"files","func":"msg.filename = 'C:\\\\Desenvolvimento\\\\git\\\\HMI-controler-with-node-red\\\\gulp\\\\css\\\\images\\\\' + msg.req.params.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":3644.4891319274902,"y":2930.77765083313,"wires":[["cf724207.75665"]]},{"id":"68d03fe1.7ec8","type":"debug","z":"671d059f.ae770c","name":"","active":false,"console":"false","complete":"filename","x":4053.155715942383,"y":2975.88885307312,"wires":[]},{"id":"cb05871d.5f7f28","type":"debug","z":"671d059f.ae770c","name":"board/setup","active":true,"console":"false","complete":"payload","x":788.6430931091309,"y":1273.0713849067688,"wires":[]},{"id":"d5ab533f.4a7768","type":"debug","z":"671d059f.ae770c","name":"Leitura PLC","active":false,"console":"false","complete":"payload","x":1688.785888671875,"y":472.7857360839844,"wires":[]},{"id":"c58e0773.df8cd","type":"debug","z":"671d059f.ae770c","name":"loop6","active":true,"console":"false","complete":"true","x":2806.127212524414,"y":360.894419670105,"wires":[]},{"id":"de539e6a.e1a4","type":"function","z":"671d059f.ae770c","name":"ATUALIZA MAQ ERRO POS HTML","func":"//M19\nvar msg2 ={ payload: global.get(\"ModBus\")};\n\nmsg2 = {\n    payload: {\n        ERRO_POS: msg2.payload[19] \n    }\n};\n\n    \nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2151.000244140625,"y":401.1166687011719,"wires":[["b8bd93e8.b688a"],["2c62402e.f3459"]]},{"id":"d4267640.121848","type":"function","z":"671d059f.ae770c","name":"ATUALIZA MAQ POS ATUAL HTML","func":"//M5\nvar msg2 ={ payload: global.get(\"ModBus\")};\n\nmsg2= {\n    payload:{\n        POS_ATUAL: msg2.payload[5] \n    \n}};\n\n    \nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2160.000244140625,"y":439.1166687011719,"wires":[["b8bd93e8.b688a"],["2c62402e.f3459"]]},{"id":"5033e90f.3895d8","type":"function","z":"671d059f.ae770c","name":"ATUALIZA MAQ","func":"//M5\nvar msg2 ={ payload: global.get(\"ModBus\")};\n\nvar ciclos = msg2.payload[23];\nvar Mciclos =((1000)*(msg2.payload[24]));\n\n\nmsg2= {\n    payload:{\n        PRENSA_CICLOS:(ciclos+Mciclos)\n}};\n\n    \nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2090.30029296875,"y":476.8166809082031,"wires":[["b8bd93e8.b688a"],["2c62402e.f3459"]]},{"id":"9e22ce3a.fbad5","type":"delay","z":"671d059f.ae770c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1737.4502563476562,"y":603.4000244140625,"wires":[["a5d22368.2d915"]]},{"id":"1236ebcc.0cbde4","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Modo Auto M2.0 ON/OFF","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":1215.4835472106934,"y":1603.0665678977966,"wires":[["9e260cb8.9d2b4"],["545af784.5d53d8"]]},{"id":"48b68036.4053d","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Parar Maquina\"});\nreturn null;","outputs":1,"noerr":0,"x":2126.8502197265625,"y":1486.066650390625,"wires":[["5a333dfb.d67fec"]]},{"id":"bf248bae.9f06f","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M31.11\"});\nreturn null;","outputs":1,"noerr":0,"x":2125.3502197265625,"y":1564.066650390625,"wires":[["e3fa369c.59ff9"]]},{"id":"d9c49692.c7286","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Produzir\"});\nreturn null;","outputs":1,"noerr":0,"x":2128.2430686950684,"y":1611.1309142112732,"wires":[["22e9339b.48472c"]]},{"id":"cf5b8cf8.19d2d","type":"function","z":"671d059f.ae770c","name":"Delay 50ms Desbobinador","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Desbobinador\"});\nreturn null;","outputs":1,"noerr":0,"x":2177.7430686950684,"y":1782.1309142112732,"wires":[["49501045.3c11d"]]},{"id":"2d13eeac.d80c8a","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2857.467041015625,"y":1472.7666015625,"wires":[[]]},{"id":"e3fa369c.59ff9","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2857.967041015625,"y":1564.0166015625,"wires":[[]]},{"id":"9e667086.2c0a58","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2857.824245452881,"y":1604.8308653831482,"wires":[[]]},{"id":"49501045.3c11d","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2857.9669456481934,"y":1782.8308568000793,"wires":[[]]},{"id":"9e260cb8.9d2b4","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["3c6babe.1c0f854"],"x":1377.5503196716309,"y":1589.0165801048279,"wires":[]},{"id":"545af784.5d53d8","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1377.2408866882324,"y":1624.6356654167175,"wires":[]},{"id":"22e9339b.48472c","type":"function","z":"671d059f.ae770c","name":"Muda MbMaquinaProduzindo M1.7","func":"//*****MbMaquinaProduzindo M1.7\nvar modbus = global.get(\"ModBus\");\n    \nif ((modbus[2]) & (1 << 0)) {\n    modbus[1] &= ~(1<<7); //M1.7 igual a 1 produzir\n    node.status({fill:\"red\",shape:\"dot\",text:\"M1.7 = OFF\"});\n} else {\n    modbus[1] |= (1<<7);//M1.7 igual a 0 não produzir\n    node.status({fill:\"green\",shape:\"ring\",text:\"M1.7 = ON\"});\n}\nglobal.set(\"ComandoMaquina\",9);\nglobal.set('ModBus', modbus);//Atualiza registrador global.\nmsg.payload = modbus[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":2374.4501953125,"y":1611.4334106445312,"wires":[["10b4bbb7.3e6144"]]},{"id":"10b4bbb7.3e6144","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Modo Auto M1.7","dataType":"HoldingRegister","adr":"1","server":"7858111a.50a578","x":2620.483642578125,"y":1612.11669921875,"wires":[["9e667086.2c0a58"],["2569b4a.d48c1cc"]]},{"id":"2569b4a.d48c1cc","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":2783.4669189453125,"y":1646.1167602539062,"wires":[]},{"id":"2aa4a716.425cf","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"MbPrsParar M2.13 & 2.0","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":1212.5168571472168,"y":1461.7664523124695,"wires":[["be3f577.eb1ea28"],["5f34efac.e2dea"]]},{"id":"be3f577.eb1ea28","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["3c6babe.1c0f854"],"x":1379.583583831787,"y":1443.7164702415466,"wires":[]},{"id":"5f34efac.e2dea","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1379.2741355895996,"y":1478.3356108665466,"wires":[]},{"id":"56f99725.f8f708","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Modo Auto M2.0 OFF","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":1205.950283050537,"y":1529.7665801048279,"wires":[["204c91fe.a36bc6"],["5b65addf.0eb714"]]},{"id":"204c91fe.a36bc6","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["3c6babe.1c0f854"],"x":1379.0170555114746,"y":1515.7165923118591,"wires":[]},{"id":"5b65addf.0eb714","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1377.7076225280762,"y":1551.3356776237488,"wires":[]},{"id":"34b7d6c4.723a42","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["56b19868.8372a"],"x":1121.5169944763184,"y":1819.1166777610779,"wires":[]},{"id":"5a333dfb.d67fec","type":"function","z":"671d059f.ae770c","name":"Parar motor","func":"//muda 3.3\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n// M3.3 igual a 0 Desliga motor\n    modbus[2] &= ~(1<<12);\n    msg.payload = modbus[2];\n    msg2.payload ={ type: 'info', message: 'Desligando motor para reverter...' };\n    msg2.payload.time= new Date();\n    node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n\nglobal.set(\"MotorLigado\",0);\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2309.125244140625,"y":1486.6041259765625,"wires":[["7bc2dcf8.434acc"],["d5d707ec.9f9298"]]},{"id":"d5d707ec.9f9298","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":2578.625244140625,"y":1529.3541259765625,"wires":[]},{"id":"7bc2dcf8.434acc","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Desliga motor M2.12","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":2559.375244140625,"y":1479.6041259765625,"wires":[["2d13eeac.d80c8a"],["adbeeee7.749818"]]},{"id":"adbeeee7.749818","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":2783.125244140625,"y":1518.8541259765625,"wires":[]},{"id":"42725fab.4a2cc8","type":"mqtt in","z":"671d059f.ae770c","name":"Estado","topic":"AplanadoraN/Estado","qos":"0","broker":"15286a00.a42c76","x":2011.2919921875,"y":1954.7916259765625,"wires":[["91b56871.c99978","240d08a1.fe1fc"]]},{"id":"91b56871.c99978","type":"debug","z":"671d059f.ae770c","name":"MQTT # RAW","active":false,"console":"false","complete":"payload","x":2621.2919921875,"y":1954.7916259765625,"wires":[]},{"id":"240d08a1.fe1fc","type":"function","z":"671d059f.ae770c","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":2291.2919921875,"y":2014.7916259765625,"wires":[["9b427e5a.3ac3c","a6afed96.c86c68"]]},{"id":"9b427e5a.3ac3c","type":"debug","z":"671d059f.ae770c","name":"mqtt array","active":false,"console":"false","complete":"payload","x":2611.2919921875,"y":2034.7916259765625,"wires":[]},{"id":"a6afed96.c86c68","type":"ui_template","z":"671d059f.ae770c","group":"32f7bf51.78e5b","name":"MQTT Output","order":1,"width":"12","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"x":2621.2919921875,"y":1994.7916259765625,"wires":[["abf2397c.97b3e8"]]},{"id":"fa8e0bb0.2c3928","type":"ui_text_input","z":"671d059f.ae770c","group":"32f7bf51.78e5b","order":3,"width":"","height":"","name":"Message","mode":"text","delay":"300","label":"Message","topic":"message","x":2021.2919921875,"y":2074.7916259765625,"wires":[["96618003.da9f08"]]},{"id":"783f459c.57ab2c","type":"ui_button","z":"671d059f.ae770c","name":"Submit","group":"32f7bf51.78e5b","order":4,"width":"6","height":"2","label":"SUBMIT","color":"black","icon":"fa-arrow-circle-o-up","payload":"submit","payloadType":"str","topic":"submit","x":2011.2919921875,"y":2114.7916259765625,"wires":[["96618003.da9f08"]]},{"id":"96618003.da9f08","type":"function","z":"671d059f.ae770c","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n    case 'message':\n        context.msg.payload = msg.payload;\n        break;\n    case 'topic':\n        context.msg.topic = msg.payload;\n        break;\n    case 'submit':\n        if(context.msg.topic){\n            return context.msg;\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return context.msg;\n        }\n}","outputs":"1","noerr":0,"x":2291.2919921875,"y":2094.7916259765625,"wires":[["11ae96ab.a6d4e9","c229320f.1ee5f"]]},{"id":"11ae96ab.a6d4e9","type":"debug","z":"671d059f.ae770c","name":"MQTT Monitor","active":false,"console":"false","complete":"true","x":2601.2919921875,"y":2094.7916259765625,"wires":[]},{"id":"7abf8492.5839c4","type":"ui_text_input","z":"671d059f.ae770c","group":"32f7bf51.78e5b","order":2,"width":"","height":"","name":"Topic","mode":"text","delay":300,"label":"Topic/","topic":"topic","x":2011.2919921875,"y":2034.7916259765625,"wires":[["96618003.da9f08"]]},{"id":"3be42e15.e70712","type":"ui_button","z":"671d059f.ae770c","name":"Clear","group":"32f7bf51.78e5b","order":0,"width":"4","height":"2","label":"CLEAR","color":"black","icon":"fa-trash","payload":"","payloadType":"str","topic":"","x":2011.2919921875,"y":2154.7916259765625,"wires":[["fa8e0bb0.2c3928","7abf8492.5839c4"]]},{"id":"7b5d910.5375df","type":"comment","z":"671d059f.ae770c","name":"MQTT Console with dashboard ","info":"This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com","x":2091.2919921875,"y":1914.7916259765625,"wires":[]},{"id":"c229320f.1ee5f","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"15286a00.a42c76","x":2640.042022705078,"y":2143.5416259765625,"wires":[]},{"id":"abf2397c.97b3e8","type":"debug","z":"671d059f.ae770c","name":"","active":false,"console":"false","complete":"false","x":2815.2145036969864,"y":1994.3571515764506,"wires":[]},{"id":"1b4edac8.0eaeed","type":"inject","z":"671d059f.ae770c","name":"Criar estrutura indice","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3454.966682434082,"y":1756.9333629608154,"wires":[["fe7e837d.c272a8"]]},{"id":"b3ed909c.937938","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"indice","payonly":true,"upsert":false,"multi":true,"operation":"store","x":3962.8800621032715,"y":1756.428731918335,"wires":[]},{"id":"fe7e837d.c272a8","type":"function","z":"671d059f.ae770c","name":"collection inicial indice","func":"msg.payload = {\n\t\"_id\": \"indice\",\n\t\"indice_mesagens\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3756.3335571289062,"y":1756.75559425354,"wires":[["b3ed909c.937938"]]},{"id":"369c9603.af02c2","type":"function","z":"671d059f.ae770c","name":"indice +1","func":"//Carrega variavel global indice em y\nvar y = global.get(\"Indice_Mongo\");\n\n//monta a mensagem\nmsg.query = { _id: 'indice' }\nmsg.payload = {\n    $set: {\n       \"indice_mesagens\": parseInt(y)\n     }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2825.046455383301,"y":227.74223518371582,"wires":[["27874eb8.9878c2"]]},{"id":"27874eb8.9878c2","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"Atualizar Indice","collection":"indice","payonly":true,"upsert":false,"multi":false,"operation":"update","x":2998.7605056762695,"y":228.0923309326172,"wires":[]},{"id":"491ea5f1.02534c","type":"inject","z":"671d059f.ae770c","name":"Read indice","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":2314.58251953125,"y":835.9311828613281,"wires":[["39dbaecd.93630a"]]},{"id":"c0bcde44.64d0d","type":"debug","z":"671d059f.ae770c","name":"indice","active":true,"console":"false","complete":"payload","x":3182.042770385742,"y":846.629542350769,"wires":[]},{"id":"194d60be.c5b077","type":"inject","z":"671d059f.ae770c","name":"LIMPAR coleção indice","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":3465.407470703125,"y":1597.77783203125,"wires":[["5cf1dac4.a77864"]]},{"id":"5cf1dac4.a77864","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"APAGAR TODA A COLLECTION indice","collection":"indice","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":3851.407470703125,"y":1597.4444580078125,"wires":[]},{"id":"9f541976.57aca","type":"function","z":"671d059f.ae770c","name":"mudar 1 item apenas","func":"var x = msg.payload;\n\nvar y = global.get(\"Indice_Mongo\");\n\nif (y <= 999){\n    msg.query = { _id: y };\n    msg.payload = {\n        $set: {\n            \"log_mesagens\": x\n        }\n    };\n    y++;\n    global.set(\"Indice_Mongo\",y);\n} else{\n    global.set(\"Indice_Mongo\",1);\n    msg.query = { _id: 1 };\n    msg.payload = {\n        $set: {\n            \"log_mesagens\": x\n        }\n    };\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":2549.577522277832,"y":299.4789733886719,"wires":[["a1f30d54.91aa68","c58e0773.df8cd","369c9603.af02c2"]]},{"id":"a1f30d54.91aa68","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"update log_erro","collection":"log_erro","payonly":true,"upsert":true,"multi":true,"operation":"update","x":2833.021903991699,"y":298.87886238098145,"wires":[]},{"id":"fde49f5f.85129","type":"mongodb in","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"consulta","collection":"indice","operation":"find","x":2721.4290161132812,"y":720.8809452056885,"wires":[["34f9e63e.3af99a"]]},{"id":"34f9e63e.3af99a","type":"function","z":"671d059f.ae770c","name":"indice_mesagens","func":"x =msg.payload[0].indice_mesagens;\nglobal.set(\"Indice_Mongo\",x);\n\nmsg.payload =x;\nreturn msg;","outputs":1,"noerr":0,"x":2907.3153648376465,"y":720.5292434692383,"wires":[["c0bcde44.64d0d"]]},{"id":"f3d1ad4d.13ee68","type":"link in","z":"671d059f.ae770c","name":"tabs2","links":["57f7ae9.3f7365"],"x":2050.4501953125,"y":765.2334289550781,"wires":[["6e0e51e2.961a98"]]},{"id":"57f7ae9.3f7365","type":"link out","z":"671d059f.ae770c","name":"","links":["f3d1ad4d.13ee68"],"x":1120.4502220153809,"y":1878.0331816673279,"wires":[]},{"id":"7b9e464d.eae248","type":"comment","z":"671d059f.ae770c","name":"Desbobinador","info":"","x":1227.4502220153809,"y":1819.2166533470154,"wires":[]},{"id":"a11ea1d.dda746","type":"comment","z":"671d059f.ae770c","name":"TABS2","info":"","x":1208.1502952575684,"y":1877.2166533470154,"wires":[]},{"id":"69b4b1d7.4d15f","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"MbPrsSentido M2.14","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":1202.7835960388184,"y":1682.1166777610779,"wires":[["64275ad1.5616c4"],["e75d6df7.2c1088"]]},{"id":"64275ad1.5616c4","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["3c6babe.1c0f854"],"x":1379.8503227233887,"y":1664.066695690155,"wires":[]},{"id":"e75d6df7.2c1088","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1379.5408744812012,"y":1698.685836315155,"wires":[]},{"id":"e87590ff.3df29","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2857.350341796875,"y":1683.4666748046875,"wires":[[]]},{"id":"14d5e6cb.28dde1","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Reverter prensa\"});\nreturn null;","outputs":1,"noerr":0,"x":2127.12646484375,"y":1695.7667322158813,"wires":[["abfd3661.83e16"]]},{"id":"abfd3661.83e16","type":"function","z":"671d059f.ae770c","name":"Parar motor","func":"//muda 3.3\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n// M3.3 igual a 0 Desliga motor\n    modbus[2] &= ~(1<<12);\n    msg.payload = modbus[2];\n    msg2.payload ={ type: 'info', message: 'Desligando motor para reverter...' };\n    msg2.payload.time= new Date();\n    node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n\nglobal.set(\"MotorLigado\",0);\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":2304.116943359375,"y":1695.4666748046875,"wires":[["11b4579a.56ae1"],["53c26c52.e9fce4"]]},{"id":"11b4579a.56ae1","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Desliga motor M2.12","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":2563.1170654296875,"y":1689.4666748046875,"wires":[["e87590ff.3df29"],[]]},{"id":"53c26c52.e9fce4","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":2584.1170654296875,"y":1739.4666748046875,"wires":[]},{"id":"51c3066c.9ed268","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1193.7383880615234,"y":694.3095197677612,"wires":[]},{"id":"bc6c61c5.7857b8","type":"function","z":"671d059f.ae770c","name":"collection inicial parametros","func":"msg.payload = {\n\t\"_id\": \"AplanadoraN3\",\n\t\"nome\": \"Aplanadora N3\",\n\t\"setor\": \"Estamparia\",\n\t\"parametros\": {\n\t\t\"encoder\": {\n\t\t\t\"fator\": 10000,\n\t\t\t\"resolucao\": 2500,\n\t\t\t\"perimetro\": 400\n\t\t},\n\t\t\"velocidade\": {\n\t\t\t\"automatico\": 100,\n\t\t\t\"manual\": 25\n\t\t},\n\t\t\"ferramenta\": {\n\t\t\t\"passo\": 200\n\t\t}\n\t},\n\t\"estado\": {\n\t\t\"situacao\": {\n\t\t\t\"codigo\": 99,\n\t\t\t\"descricao\": \"Maquina OK\"\n\t\t}\n\t},\n\t\"operador\": {\n\t\t\"codigo\": 1012,\n\t\t\"nome\": \"IRANILDO\"\n\t},\n\t\"os\": {\n\t    \"numero\": \"1231-11\",\n\t    \"produto\": {\n\t        \"codigo\": \"XXXXXXXXX\",\n\t        \"descricao\": \"AAAAAABBBBBCCCCC\"\n\t    },\n\t    \"quantidade\": 1550,\n\t    \"produzido\": 0,\n\t    \"refugo\": 0\n\t},\n\t\"lubrificacao\": {\n\t\t\"preset\": {\n\t\t        \"MbNovoCiclosUnd\":0,\n\t\t        \"MbNovoCiclosmil\":1\n\t\t},\n\t\t\"ciclos\": {\n\t\t        \"PrsCiclosUnid\":500,\n\t\t        \"PrsCiclosMil\":0\n\t\t}\n\t},\n\t\"timestamp\":new Date()\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":986.7473754882812,"y":694.414306640625,"wires":[["51c3066c.9ed268"]]},{"id":"40baea54.909174","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"APAGAR TODA A COLLECTION log_erro","collection":"log_erro","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":685.4692993164062,"y":620.608642578125,"wires":[]},{"id":"259e94d3.e4855c","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"log_erro","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1349.7161102294922,"y":732.9651899337769,"wires":[]},{"id":"2ae45223.2c8d2e","type":"function","z":"671d059f.ae770c","name":"collection inicial log_erro","func":"msg.payload = {\n\t\"_id\": 1,\n\t\"log_mesagens\": {\n\t}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1142.72509765625,"y":733.0699768066406,"wires":[["259e94d3.e4855c"]]},{"id":"7f7a22ca.4c4a84","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"APAGAR TODA A COLLECTION parametros","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":524.9136047363281,"y":584.3864135742188,"wires":[]},{"id":"461e2bec.edfdc4","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"indice","payonly":true,"upsert":false,"multi":true,"operation":"store","x":1507.7935752868652,"y":771.9264335632324,"wires":[]},{"id":"d9b5489e.e7d93","type":"function","z":"671d059f.ae770c","name":"collection inicial indice","func":"msg.payload = {\n\t\"_id\": \"indice\",\n\t\"indice_mesagens\": 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1301.2470703125,"y":772.2532958984375,"wires":[["461e2bec.edfdc4","4b095a00.0756b8"]]},{"id":"f29cc641.1cad88","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"APAGAR TODA A COLLECTION indice","collection":"indice","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":855.3211059570312,"y":657.9421539306641,"wires":[]},{"id":"df360eb1.5d0568","type":"function","z":"671d059f.ae770c","name":"Delay 150ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":425.1169738769531,"y":621.1166687011719,"wires":[["40baea54.909174","659bf86b.eb82e8"]]},{"id":"659bf86b.eb82e8","type":"function","z":"671d059f.ae770c","name":"Delay 150ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":596.1170043945312,"y":658.1166687011719,"wires":[["f29cc641.1cad88","eb7cafeb.7a71c"]]},{"id":"eb7cafeb.7a71c","type":"function","z":"671d059f.ae770c","name":"Delay 150ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":765.1170043945312,"y":694.1166687011719,"wires":[["bc6c61c5.7857b8","b91aae41.ded0b"]]},{"id":"b91aae41.ded0b","type":"function","z":"671d059f.ae770c","name":"Delay 150ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":936.0169677734375,"y":733.1166687011719,"wires":[["2ae45223.2c8d2e","e4f52c97.93902"]]},{"id":"e4f52c97.93902","type":"function","z":"671d059f.ae770c","name":"Delay 150ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 150);\nreturn null;","outputs":1,"noerr":0,"x":1102.116943359375,"y":772.1166687011719,"wires":[["d9b5489e.e7d93"]]},{"id":"4b095a00.0756b8","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nreturn null;","outputs":1,"noerr":0,"x":1527.2333984375,"y":727.2333374023438,"wires":[["a5d22368.2d915"]]},{"id":"9a51155f.56142","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Desliga & zerar tudo!","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":1202.2333984375,"y":1754.833251953125,"wires":[["f8fd13e.26515f"],["51f9c1f0.02e908"]]},{"id":"51f9c1f0.02e908","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1379.0132789611816,"y":1772.5146465301514,"wires":[]},{"id":"6925a1cd.9ae58","type":"link in","z":"671d059f.ae770c","name":"","links":["f8fd13e.26515f"],"x":107.81259155273438,"y":583.89599609375,"wires":[["7f04e561.2cc87c"]]},{"id":"f8fd13e.26515f","type":"link out","z":"671d059f.ae770c","name":"reset maquina","links":["6925a1cd.9ae58"],"x":1380.0625534057617,"y":1737.3958358764648,"wires":[]},{"id":"7f04e561.2cc87c","type":"function","z":"671d059f.ae770c","name":"string vazia","func":"msg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":237.31246948242188,"y":584.0415649414062,"wires":[["7f7a22ca.4c4a84","df360eb1.5d0568"]]},{"id":"8b256997.5ad6b","type":"debug","z":"671d059f.ae770c","name":"","active":true,"console":"false","complete":"false","x":1220.4499816894531,"y":1651.3500061035156,"wires":[]},{"id":"39dbaecd.93630a","type":"function","z":"671d059f.ae770c","name":"Paginação ","func":"msg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":2526.199951171875,"y":772.6167297363281,"wires":[["fde49f5f.85129"]]},{"id":"116a0846.241c2","type":"comment","z":"671d059f.ae770c","name":"Consulta MongoDB por string","info":"$options => i for case insensitive search\n\nStart with string\n\ndb.collection.find({zip:{'$regex' : '^string', '$options' : 'i'}})\nEnd with string\n\ndb.collection.find({zip:{'$regex' : 'string$', '$options' : 'i'}})\nContains string\n\ndb.collection.find({zip:{'$regex' : 'string', '$options' : 'i'}})\nDoesn't Contains string\n\ndb.collection.find({zip:{'$regex' : '^((?!string).)*$', '$options' : 'i'}})\nKeep this as a bookmark, and a reference for any other alterations you may need. http://www.cheatography.com/davechild/cheat-sheets/regular-expressions/","x":3669.4833984375,"y":2203.0164794921875,"wires":[]},{"id":"8a8512be.3f8278","type":"function","z":"671d059f.ae770c","name":"Exemplo de consulta","func":"msg.limit = parseInt(msg.req.query.size) || 10;\nmsg.skip = ((parseInt(msg.req.query.page) || 1) - 1) * (parseInt(msg.req.query.page) || 1);\nmsg.payload = {nome: {'$regex' : msg.payload.nome, '$options' : 'i'}}\nreturn msg;","outputs":1,"noerr":0,"x":3649.4833984375,"y":2163.0164794921875,"wires":[[]]},{"id":"cc4b0f7f.efa7e","type":"mqtt-broker","z":"671d059f.ae770c","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7858111a.50a578","type":"modbustcp-no-pooling-server","z":"671d059f.ae770c","host":"192.168.0.174","port":"502","unit_id":"1"},{"id":"ee89ad41.8f022","type":"mongodb","z":"671d059f.ae770c","hostname":"127.0.0.1","port":"27017","db":"db","name":""},{"id":"ae591bf0.c143b","type":"modbustcp-no-pooling-server","z":"671d059f.ae770c","host":"192.168.0.174","port":"502","unit_id":"1"},{"id":"15286a00.a42c76","type":"mqtt-broker","z":"671d059f.ae770c","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"32f7bf51.78e5b","type":"ui_group","z":"671d059f.ae770c","name":"Default","tab":"875634d8.5a88d8","disp":true,"width":"12"},{"id":"875634d8.5a88d8","type":"ui_tab","z":"671d059f.ae770c","name":"MQTT","icon":"dashboard"}]