NodeRed/AplanadoraN.txt
[{"id":"f2318f56.6d9f68","type":"function","z":"671d059f.ae770c","name":"Atualiza bit ","func":"var g = (global.get(\"M\")||[0]);\nmsg.payload = g[0] & (1 << 5);\nreturn msg;","outputs":1,"noerr":0,"x":607.3333129882812,"y":1511.528256893158,"wires":[[]]},{"id":"a6d30377.5bc4f","type":"comment","z":"671d059f.ae770c","name":"Deserializador global \"Referencia\"","info":"var msgs = [];\nvar g = (global.get(\"M\")||[0]);\nfor(z = 0; z < g.length) {\nfor (i = 0; i < 15; i++) {\n    msgs.push(\n        {\n            _msgid: msg._msgid,\n            topic: msg.topic,\n            payload: g[z] & (1 << i)\n        }\n    );\n}\n}\n//var type = msg.payload[0] & 1 ? 'error' : 'warning';\n\n//var count = flow.get(\"CONTADOR_ERRO_M2\");\n//count++;\n\n\nreturn msgs;","x":554.4760246276855,"y":1660.9806714057922,"wires":[]},{"id":"f5eb0e7.6a2e87","type":"inject","z":"671d059f.ae770c","name":"Inicialização MAQ","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":1283.6249046325684,"y":478.42128801345825,"wires":[["a5d22368.2d915"]]},{"id":"a0d2755f.b2bf08","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":3012.422431945801,"y":1118.326099395752,"wires":[]},{"id":"e0eae730.2674f8","type":"function","z":"671d059f.ae770c","name":"Global ModBus Referencias","func":"global.set(\"ModBus\", msg.payload);\nmsg2 = {};\nmsg2.payload = \"Iguail\";\nvar Anterior =(global.get(\"Anterior\")||[0]);\nvar ValorAtual = global.get(\"ModBus\");\nmsg = null;\n\nfor (var i = 0; i < Anterior.length; i++) {\n         \n     if (Anterior[i] != ValorAtual[i]) {\n        msg2.payload = \"Diferente\";\n        global.set(\"Anterior\", ValorAtual);\n        msg = {payload:ValorAtual};\n        break;\n    }           \n}\nreturn [msg,msg2];","outputs":"2","noerr":0,"x":565.8868598937988,"y":1697.6950459480286,"wires":[[],[]]},{"id":"b33960fc.5c6dc8","type":"mqtt in","z":"671d059f.ae770c","name":"","topic":"board/setup","qos":"2","broker":"cc4b0f7f.efa7e","x":331.33938217163086,"y":1179.2427906990051,"wires":[["286e397a.8b13fe"]]},{"id":"286e397a.8b13fe","type":"function","z":"671d059f.ae770c","name":"Registradores de Comandos","func":"var p = JSON.parse(msg.payload);\nvar res = [null,null,null,null,null,null,null,null,null,null,null];\nvar modbus = global.get(\"ModBus\");\n    \n    //***** INICIALIZA OU DESLIGA MAQUINA *****\n    if (p.LigarMaquina !== undefined) {\n        if (modbus[2] & (1 << 11)) {\n            modbus[2] &= ~(1<<11);   //M2.11 igual a 1 MbLigaChaveGeral\n            node.status({fill:\"red\",shape:\"ring\",text:\"Geral Deslidaga\"});\n        } else {\n            modbus[2] |= (1<<11);    //M2.11 igual a 0 MbLigaChaveGeral\n            node.status({fill:\"green\",shape:\"dot\",text:\"Geral Ligada\"});\n        }\n    global.set(\"ComandoMaquina\",1);    \n    global.set('ModBus', modbus); //Atualiza registrador global.\n    res[0] = {payload:modbus[2]}; //Primeiro liga ou desliga chave geral\n    }\n    \n    //***** ON/OFF MOTOR *****\n    if (p.LigarPrensa !== undefined) {\n        if ((modbus[3]) & (1 << 3)) {\n            modbus[3] &= ~(1<<3); //M3.3 igual a 1 DbPrsLigaMotor\n            node.status({fill:\"green\",shape:\"dot\",text:\"Motor ON\"});\n        } else {\n            modbus[3] |= (1<<3);//M3.3 igual a 0 DbPrsParar\n            node.status({fill:\"red\",shape:\"ring\",text:\"Motor OFF\"});\n        }\n    global.set(\"ComandoMaquina\",2);\n    global.set('ModBus', modbus);//Atualiza registrador global.\n    res[1] = {payload: modbus[3]};\n    }\n    \n    //***** ABRIR TAMPA MODBUS 31.10 *****\n    if (p.abrirTampa !== undefined) {\n        if (p.abrirTampa == '1'){\n            modbus[31] |= (1<<10);    \n        }else if (p.abrirTampa == '0'){\n            modbus[31] = 0;    \n        }\n    global.set(\"ComandoMaquina\",3);\n    res[2] = {payload:(modbus[31])};\n    }\n    \n    //***** FECHAR TAMPA MODBUS 31.11 *****\n    if (p.fecharTampa !== undefined) {\n        if(p.fecharTampa == '1'){\n            modbus[31] |= (1<<11);    \n        }else if (p.fecharTampa == '0'){\n            modbus[31] = 0;\n        }\n    global.set(\"ComandoMaquina\",4);\n    res[3] = {payload:(modbus[31])};\n    }\n    \n    //***** AVANCAR PERFIL MODBUS 2.3 *****\n    if (p.avancaPerfil !== undefined) {\n        if(p.avancaPerfil == '1'){\n            modbus[2] |= (1<<3);    \n        }else if (p.avancaPerfil == '0'){\n            modbus[2] &= ~(1<<3);\n        }\n    global.set(\"ComandoMaquina\",5);\n    res[4] = {payload: modbus[2]};\n    }\n    //***** RECUAR PERFIL MODBUS 2.4 *****\n    if (p.recuaPerfil !== undefined) {\n        if(p.recuaPerfil == '1'){\n            modbus[2] |= (1<<4);    \n        }else if (p.recuaPerfil == '0'){\n            modbus[2] &= ~(1<<4);\n        }\n    global.set(\"ComandoMaquina\",6);    \n    res[5] = {payload:modbus[2]};\n    }\n    \n    //*****\n    if (p.AceleracaoAuto !== undefined) {\n    global.set(\"ComandoMaquina\",7);\n    res[6] = {payload: p.AceleracaoAuto};\n    }\n    //*****\n    if (p.AceleracaoAuto !== undefined) {\n    global.set(\"ComandoMaquina\",8);\n    res[7] = {payload: p.AceleracaoAuto};\n    }\n    //*****\n    if (p.AceleracaoAuto !== undefined) {\n    global.set(\"ComandoMaquina\",9);\n    res[8] = {payload: p.AceleracaoAuto};\n    }\n    //*****\n    if (p.AceleracaoAuto !== undefined) {\n    global.set(\"ComandoMaquina\",10);\n    res[9] = {payload: p.AceleracaoAuto};\n    }\n    //*****\n    if (p.AceleracaoAuto !== undefined) {\n    global.set(\"ComandoMaquina\",11);\n    res[10] = {payload: p.AceleracaoAuto};\n    }\nreturn res;","outputs":"11","noerr":0,"x":557.0892677307129,"y":1180.0262055397034,"wires":[["d62817c3.45ee48"],["e57c23aa.953598"],["8244f6b7.b8d9a"],["2d4becfb.450b44"],["3f16612b.187c8e"],["d7e294ca.c275e8"],[],[],[],[],[]]},{"id":"e57c23aa.953598","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Liga Motor Prensa M3.3","dataType":"HoldingRegister","adr":"3","server":"7858111a.50a578","x":937.4373359680176,"y":942.4285492897034,"wires":[["7556cbe2.9d728c"],["187b9c54.3463f4"]]},{"id":"f1671442.fc68a8","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"M21","dataType":"HoldingRegister","adr":"21","server":"7858111a.50a578","x":870.5327491760254,"y":1302.571228504181,"wires":[[],[]]},{"id":"3f16612b.187c8e","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Perfil Avança M2.3","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":918.8184509277344,"y":1151.7140846252441,"wires":[["75e6385.f3e7048"],["4883d7f.0b713a8"]]},{"id":"2d4becfb.450b44","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Aplanadora Fecha M31.11","dataType":"HoldingRegister","adr":"31","server":"7858111a.50a578","x":929.1039161682129,"y":1083.28559923172,"wires":[["b6b79552.994b58"],["2b3c16d4.43dd1a"]]},{"id":"8244f6b7.b8d9a","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Aplanadora Abre M31.10","dataType":"HoldingRegister","adr":"31","server":"7858111a.50a578","x":938.2468605041504,"y":1012.28559923172,"wires":[["df66935b.b54fe8"],["c62f3a85.cecae"]]},{"id":"d7e294ca.c275e8","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Perfil Recua M2.4","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":917.5326538085938,"y":1222.7139739990234,"wires":[["3ec7eba4.efe334"],["fa9701ea.5235a8"]]},{"id":"ba536b38.3e47a8","type":"comment","z":"671d059f.ae770c","name":"Registradores R/W Setup da Aplanadora \"HTML\"","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":922.7285499572754,"y":814.6498627662659,"wires":[]},{"id":"6bcece6c.be925","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"M26","dataType":"HoldingRegister","adr":"26","server":"7858111a.50a578","x":870.9612159729004,"y":1494.142517566681,"wires":[[],[]]},{"id":"4e1d6634.462fc8","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"M23","dataType":"HoldingRegister","adr":"23","server":"7858111a.50a578","x":875.5323829650879,"y":1399.856873035431,"wires":[[],[]]},{"id":"d7a6585a.5088d","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"M22","dataType":"HoldingRegister","adr":"22","server":"7858111a.50a578","x":872.6753273010254,"y":1350.856873035431,"wires":[[],[]]},{"id":"905f7cf3.7fad38","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"M25","dataType":"HoldingRegister","adr":"25","server":"7858111a.50a578","x":872.5325050354004,"y":1450.571228504181,"wires":[[],[]]},{"id":"acbc3c76.e42ad","type":"function","z":"671d059f.ae770c","name":"Erro comunicação Escrita","func":"msg.payload = {\n    time: new Date(),\n    type: 'error',\n    message: 'Falha de escrita dos modbus do CLP.'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2757.4334259033203,"y":1117.8927459716797,"wires":[["a0d2755f.b2bf08"]]},{"id":"a5d22368.2d915","type":"function","z":"671d059f.ae770c","name":"Variaveis Globais","func":"//Estado inicial da maquina é não inicializada MaqInicializada=0\nglobal.set(\"ComandoMaquina\",0);//liberamensagens do bloco libera maquina\nglobal.set(\"MotorPrensa\",0);\nglobal.set(\"MotorLigado\",0);\nglobal.set(\"ModBus\",[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]);\n\nvar mensagens = [];\n\nmensagens['LER_CLP_MODBUS'] =        { type: 'error', message: ' CLP não responde. Verifique as conexões de rede.' };\nmensagens['EMERGENCIA'] =            { type: 'error', message: ' Emergencia acionada!' };\nmensagens['FALTA_FASE'] =            { type: 'error', message: ' Falta de Fase' };\nmensagens['BOMBA_HIDRAULICA'] =      { type: 'error', message: ' Térmico da Bomba Hidraulica' };\nmensagens['MARTELO_PRENSA'] =        { type: 'error', message: ' Térmico do Motor do Martelo Prensa' };\nmensagens['PRESSAO_AR'] =            { type: 'warning', message: 'Pressao do Ar Baixa!' };\nmensagens['INVERSOR'] =              { type: 'error', message: ' Erro no Inversor' };\nmensagens['SERVO'] =                 { type: 'error', message: ' Erro no Servo' };\nmensagens['CHAVE_GERAL_DESLIGADA'] = { type: 'warning', message: ' Chave Geral Desligada' };\nmensagens['CHAVE_GERAL_LIGADA']    = { type: 'warning', message: ' Chave Geral ligada' };\nmensagens['MAQUINA_NAO_LIBERADA'] =  { type: 'warning', message: ' Maquina Não Liberada' };\nmensagens['MAQUINA_LIBERADA']     =  { type: 'warning', message: ' Maquina Liberada' };\nmensagens['ERRO_POSICIONAMENTO']=    { type: 'error', message: ' Erro Posicionamento' };\nmensagens['SEGURAN_PRENSA'] =        { type: 'info', message: ' Segurança da Prensa' };\nmensagens['APLAN_ABERTA'] =          { type: 'info', message: ' Aplanadora Aberda' };\n\nglobal.set(\"mensagens\",mensagens);\nmsg= {payload: \"{MAQUINA_OFF:0}\"};\nreturn msg;","outputs":1,"noerr":0,"x":1556.8033409118652,"y":478.957359790802,"wires":[["4665bdfd.677cdc"]]},{"id":"b049d927.e581e8","type":"function","z":"671d059f.ae770c","name":"Ligou geral?","func":"//verifica 2.11 e libera 3.0\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n\nif (((modbus[2]) & (1 << 11))) {\n    modbus[3] |= 1;     //M3.0 igual a 1 libera maquina\n    msg.payload = modbus[3];\n    msg2.payload = mensagens['CHAVE_GERAL_LIGADA'];\n    msg2.payload.time= new Date();\n    node.status({fill:\"green\",shape:\"dot\",text:\"Chave Ligada\"});\n}else if (~((modbus[2]) & (1 << 11))){ \n    modbus[3] &= 0;\n    msg.payload = 0;\n    msg2.payload = mensagens['CHAVE_GERAL_DESLIGADA'];\n    msg2.payload.time= new Date();\n    node.status({fill:\"yellow\",shape:\"ring\",text:\"Chave Deslidaga\"});\n}else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Bug\"});\n}\n   \n\nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":1696.624912261963,"y":929.3621430397034,"wires":[["e21bd441.a87748"],["7679e09c.6bbbd"]]},{"id":"d62817c3.45ee48","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"LigaGeral M2.11","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":917.5057716369629,"y":874.742386341095,"wires":[["5f6fb3b0.e958a4"],["2acc1063.b8fd4"]]},{"id":"c9f96f32.688ac","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Libera Maquina M3.0","dataType":"HoldingRegister","adr":"3","server":"7858111a.50a578","x":2159.343063354492,"y":923.008650302887,"wires":[["28723771.4c5058"],["b2dc8313.d6cbd8"]]},{"id":"94b0c805.f9eb5","type":"function","z":"671d059f.ae770c","name":"Erro comunicação","func":"var mensagens = global.get(\"mensagens\");\n//var modbus = global.get(\"ModBus\");\n\nmsg.payload = mensagens['LER_CLP_MODBUS'];\nmsg.payload.time= new Date();\n\n//global.set('ModBus', modbus);\nreturn msg;","outputs":1,"noerr":0,"x":1281.5127220153809,"y":419.3015065193176,"wires":[["2c62402e.f3459","a5d22368.2d915"]]},{"id":"25b16bee.dc4f64","type":"modbustcp-no-pooling-read","z":"671d059f.ae770c","name":"Read POP","dataType":"HoldingRegister","adr":"0","quantity":"32","server":"7858111a.50a578","x":1032.089199066162,"y":412.1388783454895,"wires":[["757e66e6.869938"],["94b0c805.f9eb5"]]},{"id":"9065f78a.1da61","type":"inject","z":"671d059f.ae770c","name":"atualizar","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":660.7676048278809,"y":411.63564348220825,"wires":[[]]},{"id":"56b19868.8372a","type":"link in","z":"671d059f.ae770c","name":"Atualizacao dos 32 registradores  ModBus","links":["bce4d747.67ea","df66935b.b54fe8","b6b79552.994b58","75e6385.f3e7048","3ec7eba4.efe334"],"x":1265.2202200889587,"y":954.4258561134338,"wires":[["5ea11bef.711a6c"]]},{"id":"3c6babe.1c0f854","type":"link in","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["5f6fb3b0.e958a4","7556cbe2.9d728c"],"x":705.5247535705566,"y":475.5713686943054,"wires":[["694d81fa.4715d8"]]},{"id":"5f6fb3b0.e958a4","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["3c6babe.1c0f854"],"x":1098.2675857543945,"y":855.1520752906799,"wires":[]},{"id":"bce4d747.67ea","type":"link out","z":"671d059f.ae770c","name":"Atualizacao dos 32 registradores  ModBus","links":["56b19868.8372a","278b8d9f.332cc2","3292c332.e62afc","17d59d24.8682a3","fded0008.003bb8","91bb35aa.506f38","7a9f7416.07fd14","ffc2b971.50fa4","777bd47b.b983dc","a99b0250.54b63"],"x":1934.2826747894287,"y":388.8886966705322,"wires":[]},{"id":"7556cbe2.9d728c","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["3c6babe.1c0f854"],"x":1098.4760475158691,"y":925.5666279792786,"wires":[]},{"id":"187b9c54.3463f4","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1098.1666145324707,"y":961.1857132911682,"wires":[]},{"id":"7620ade8.57547c","type":"link in","z":"671d059f.ae770c","name":"","links":["187b9c54.3463f4","2acc1063.b8fd4","b2dc8313.d6cbd8","c62f3a85.cecae","2b3c16d4.43dd1a","adfeef6f.00ba","4883d7f.0b713a8","fa9701ea.5235a8","d67ea89f.fdcab8"],"x":2607.7221341133118,"y":1117.4912033081055,"wires":[["acbc3c76.e42ad"]]},{"id":"2acc1063.b8fd4","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1098.2856521606445,"y":890.4237809181213,"wires":[]},{"id":"df66935b.b54fe8","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["56b19868.8372a"],"x":1099.3333473205566,"y":995.0746464729309,"wires":[]},{"id":"c62f3a85.cecae","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1099.555576324463,"y":1029.074646472931,"wires":[]},{"id":"b6b79552.994b58","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["56b19868.8372a"],"x":1099.0666847229004,"y":1065.185730457306,"wires":[]},{"id":"2b3c16d4.43dd1a","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1099.0666847229004,"y":1100.185730457306,"wires":[]},{"id":"2c62402e.f3459","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":2146.4681396484375,"y":422.868221282959,"wires":[]},{"id":"7679e09c.6bbbd","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":1998.571689605713,"y":972.5666356086731,"wires":[]},{"id":"155ff843.f1a198","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":1999.174243927002,"y":1103.2808289527893,"wires":[]},{"id":"e21bd441.a87748","type":"function","z":"671d059f.ae770c","name":"Delay 100ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":1949.9999618530273,"y":923.1380181312561,"wires":[["c9f96f32.688ac"]]},{"id":"694d81fa.4715d8","type":"function","z":"671d059f.ae770c","name":"Delay 400ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 400);\nreturn null;","outputs":1,"noerr":0,"x":858.9998245239258,"y":411.89993238449097,"wires":[["25b16bee.dc4f64"]]},{"id":"272223da.c1c694","type":"debug","z":"671d059f.ae770c","name":"Comandomaquina=0","active":true,"console":"false","complete":"payload","x":1722.2380180358887,"y":780.1857132911682,"wires":[]},{"id":"b2dc8313.d6cbd8","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":2310.916721343994,"y":929.1856293678284,"wires":[]},{"id":"5ea11bef.711a6c","type":"switch","z":"671d059f.ae770c","name":"ComandoMaquina","property":"ComandoMaquina","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","outputs":7,"x":1398.4998054504395,"y":954.5666451454163,"wires":[["272223da.c1c694"],["b049d927.e581e8"],["a3f61f45.954c78"],["e4532e63.f96678"],["468c7f97.9938f"],["eea166ec.f2425"],["1e73c2c5.1b34cd"]]},{"id":"28723771.4c5058","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2421.8334579467773,"y":904.2332730293274,"wires":[[]]},{"id":"827a3a63.acefa","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2427.7617149353027,"y":1036.614206790924,"wires":[[]]},{"id":"a3f61f45.954c78","type":"function","z":"671d059f.ae770c","name":"Ligou motor?","func":"//verifica 3.3 e libera 2.12\nvar mensagens = global.get(\"mensagens\");\nvar modbus = global.get(\"ModBus\");\nvar msg2 = {};\n\n\nif (((modbus[3]) & (1 << 3))) {//M3.3 igual a 1 ligando motor\n    modbus[2] |= (1<<12);\n    msg.payload = modbus[2];\n    msg2.payload ={ type: 'info', message: 'Acelerando motor...' };\n    msg2.payload.time= new Date();\n    node.status({fill:\"green\",shape:\"dot\",text:\"Acelerando...\"});\n}else if (~((modbus[3]) & (1 << 3))){ // M3.3 igual a 0 Desliga motor\n    modbus[2] &= ~(1<<12);\n    msg.payload = modbus[2];\n    msg2.payload ={ type: 'info', message: 'Desligando motor...' };\n    msg2.payload.time= new Date();\n    node.status({fill:\"yellow\",shape:\"ring\",text:\"Deslingado\"});\n}else {\n    node.status({fill:\"red\",shape:\"ring\",text:\"Bug\"});\n}\n    \nglobal.set('ModBus', modbus);//Atualiza registrador global\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":1699.3999977111816,"y":1059.3000092506409,"wires":[["34f06fde.951088"],["155ff843.f1a198"]]},{"id":"34f06fde.951088","type":"function","z":"671d059f.ae770c","name":"Delay 100ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":1949.9997215270996,"y":1053.2332758903503,"wires":[["f33eaf5b.ee6038"]]},{"id":"f33eaf5b.ee6038","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"Desliga motor M2.12","dataType":"HoldingRegister","adr":"2","server":"7858111a.50a578","x":2159.666477203369,"y":1052.8999848365784,"wires":[["827a3a63.acefa"],["adfeef6f.00ba"]]},{"id":"adfeef6f.00ba","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":2316.285617828369,"y":1059.3285737037659,"wires":[]},{"id":"6b8331cc.9246b","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2430.499973297119,"y":1163.6499848365784,"wires":[[]]},{"id":"e4532e63.f96678","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M31.10\"});\nreturn null;","outputs":1,"noerr":0,"x":1699.7499732971191,"y":1162.6499848365784,"wires":[["6b8331cc.9246b"]]},{"id":"9b0fcc4b.5b5ab","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2430.999973297119,"y":1212.8999848365784,"wires":[[]]},{"id":"468c7f97.9938f","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M31.11\"});\nreturn null;","outputs":1,"noerr":0,"x":1698.2499732971191,"y":1210.6499848365784,"wires":[["9b0fcc4b.5b5ab"]]},{"id":"75e6385.f3e7048","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["56b19868.8372a"],"x":1099.857177734375,"y":1135.2857818603516,"wires":[]},{"id":"4883d7f.0b713a8","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1099.2857666015625,"y":1170.000015258789,"wires":[]},{"id":"3ec7eba4.efe334","type":"link out","z":"671d059f.ae770c","name":"Comando para ler todo ModBus","links":["56b19868.8372a"],"x":1098.857177734375,"y":1206.142837524414,"wires":[]},{"id":"fa9701ea.5235a8","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":1098.1429443359375,"y":1241.2857818603516,"wires":[]},{"id":"eea166ec.f2425","type":"function","z":"671d059f.ae770c","name":"Delay 100ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 100);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M2.3\"});\nreturn null;","outputs":1,"noerr":0,"x":1701.142822265625,"y":1257.7142486572266,"wires":[["7db18c84.928d8c"]]},{"id":"1e73c2c5.1b34cd","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"M2.4\"});\nreturn null;","outputs":1,"noerr":0,"x":1700.642822265625,"y":1303.7142486572266,"wires":[["fcd83515.799f6"]]},{"id":"7db18c84.928d8c","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2430.857177734375,"y":1260.7142486572266,"wires":[[]]},{"id":"fcd83515.799f6","type":"function","z":"671d059f.ae770c","name":"ComandoMaquina0","func":"global.set(\"ComandoMaquina\",0);\nreturn msg;","outputs":1,"noerr":0,"x":2430.9998779296875,"y":1306.7142400741577,"wires":[[]]},{"id":"402d7ce4.4f1414","type":"switch","z":"671d059f.ae770c","name":"i<4","property":"i","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":1452.6388511657715,"y":304.9443874359131,"wires":[["8fc02575.73015"],["205cc940.ffaf46"],["364c4aaa.a80b46"],["f20c3e79.6efae8"],["3e3a2db9.cf0142"],["77a24e62.783508"]]},{"id":"b8bd93e8.b688a","type":"function","z":"671d059f.ae770c","name":"i++","func":"msg.i++;\n\nreturn msg;","outputs":1,"noerr":0,"x":1591.4997482299805,"y":41.027713775634766,"wires":[["402d7ce4.4f1414"]]},{"id":"f20c3e79.6efae8","type":"template","z":"671d059f.ae770c","name":"Output current \"i\" value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{i}}","x":1694.5553588867188,"y":312.6110649108887,"wires":[["b8bd93e8.b688a"]]},{"id":"3e3a2db9.cf0142","type":"template","z":"671d059f.ae770c","name":"Output current \"i\" value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{i}}","x":1694.8053588867188,"y":348.8610649108887,"wires":[["b8bd93e8.b688a"]]},{"id":"8fc02575.73015","type":"function","z":"671d059f.ae770c","name":"ALARMES E MENSAGENS HTML","func":"var mensagens = global.get(\"mensagens\");\nvar modbus = msg.payload;\nvar msg2 ={\n    //_msgid: msg._msgid,\n    payload: msg.payload\n};\n\nmsg.payload = msg.i;\n\nif (msg2.payload[0] & (1 << 0)) {\n    msg2.payload = mensagens['EMERGENCIA'];\n} else if (msg2.payload[0] & (1 << 1)) {\n    msg2.payload = mensagens['FALTA_FASE'];\n} else if (msg2.payload[0] & (1 << 2)) {\n    msg2.payload = mensagens['BOMBA_HIDRAULICA'];\n} else if (msg2.payload[0] & (1 << 3)) {\n    msg2.payload = mensagens['MARTELO_PRENSA'];\n} else if (msg2.payload[0] & (1 << 4)) {\n    msg2.payload = mensagens['PRESSAO_AR'];\n} else if (msg2.payload[0] & (1 << 5)) {\n    msg2.payload = mensagens['INVERSOR'];\n} else if (msg2.payload[0] & (1 << 6))  {\n    msg2.payload = mensagens['SERVO'];\n} else if ((msg2.payload[0] & (1 << 7)))/*||(msg.payload[2] &= ~(1 << 11)))*/  {\n    msg2.payload = mensagens['CHAVE_GERAL_DESLIGADA'];\n} else if (msg2.payload[0] & (1 << 9))  {\n    msg2.payload = mensagens['ERRO_POSICIONAMENTO'];\n} else if (msg2.payload[0] & (1 << 10)) {\n    msg2.payload = mensagens['SEGURAN_PRENSA'];\n} else if (msg2.payload[1] & (1 << 12)) {\n    msg2.payload = mensagens['APLAN_ABERTA'];\n} else if (msg2.payload[0] & (1 << 8))  {\n    msg2.payload = mensagens['MAQUINA_NAO_LIBERADA'];\n} else {\n    msg2.payload = { type: 'info', message: ' Maquina OK' };\n}\n\n\nmsg2.payload.time= new Date();\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":1725.1803703308105,"y":203.52773666381836,"wires":[["b8bd93e8.b688a"],["2c62402e.f3459"]]},{"id":"757e66e6.869938","type":"function","z":"671d059f.ae770c","name":"loop leitura i=0","func":"global.set(\"ModBus\",msg.payload);\nmsg.i =0;\nreturn msg;","outputs":1,"noerr":0,"x":1274.9720993041992,"y":304.74998664855957,"wires":[["402d7ce4.4f1414"]]},{"id":"205cc940.ffaf46","type":"function","z":"671d059f.ae770c","name":"APLANADORA FECHADA HTML","func":"var msg2 ={\n    //_msgid: msg._msgid,\n    payload: global.get(\"ModBus\")\n};\n\nmsg.payload = msg.i;\n\nif (msg2.payload[1] & (1 << 12))  {\n        msg2= {payload: \"{APLANADORA_FECHADA:0}\"};\n    } else{\n        msg2= {payload: \"{APLANADORA_FECHADA:1}\"};\n    }\n    \nreturn [msg, msg2];","outputs":"2","noerr":0,"x":1725.2805862426758,"y":239.32232284545898,"wires":[["b8bd93e8.b688a"],["2c62402e.f3459"]]},{"id":"364c4aaa.a80b46","type":"function","z":"671d059f.ae770c","name":"ATUALIZA MAQ LIGADA HTML","func":"var msg2 ={\n    //_msgid: msg._msgid,\n    payload: global.get(\"ModBus\")\n};\n\nmsg.payload = msg.i;\n\nif (msg2.payload[2] & (1 << 11 )) {\n        msg2= {payload:\"{MAQUINA_ON:1}\"};\n} else{\n        msg2= {payload:\"{MAQUINA_OFF:0}\"};\n}\n    \nreturn [msg, msg2];","outputs":"2","noerr":0,"x":1714.7775268554688,"y":276.5555067062378,"wires":[["b8bd93e8.b688a"],["2c62402e.f3459"]]},{"id":"77a24e62.783508","type":"function","z":"671d059f.ae770c","name":"Loop Finished","func":"msg.payload=global.get(\"ModBus\");\nreturn msg;","outputs":1,"noerr":0,"x":1664.1110305786133,"y":388.7777419090271,"wires":[["eb0786cc.9c362"]]},{"id":"eb0786cc.9c362","type":"function","z":"671d059f.ae770c","name":"Delay 300ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 300);\nreturn null;","outputs":1,"noerr":0,"x":1832.3999557495117,"y":388.53331184387207,"wires":[["bce4d747.67ea"]]},{"id":"6165e12d.5659c","type":"inject","z":"671d059f.ae770c","name":"Criar estrutura","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3010.4670028686523,"y":1551.3166036605835,"wires":[["f56386e0.57974"]]},{"id":"c0290c54.c9b66","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"store","x":3428.8246002197266,"y":1550.8118228912354,"wires":[]},{"id":"4665bdfd.677cdc","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nreturn null;","outputs":1,"noerr":0,"x":1831.371467590332,"y":478.8761730194092,"wires":[["2c62402e.f3459","24f4d6be.7d1822"]]},{"id":"d02555c5.27f6a8","type":"function","z":"671d059f.ae770c","name":"mudar 1 item apenas","func":"msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n    $set: {\n       \"parametros.encoder.fator\": 2225\n     }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3236.6669311523438,"y":1717.9999742507935,"wires":[["8d16441a.59a618"]]},{"id":"8d16441a.59a618","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"update","x":3424.6669158935547,"y":1718.3999681472778,"wires":[]},{"id":"e3ad962f.5477c8","type":"inject","z":"671d059f.ae770c","name":"String vazia","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":3007.810821533203,"y":1924.7332754135132,"wires":[["b15d5052.c81f48"]]},{"id":"4bc7b858.25de78","type":"mongodb in","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"consulta","collection":"parametros","operation":"find","x":3428.1112747192383,"y":1925.3110246658325,"wires":[["776505da.de15a4"]]},{"id":"776505da.de15a4","type":"debug","z":"671d059f.ae770c","name":"resposta do MongoDB","active":true,"console":"false","complete":"payload","x":3762.8890342712402,"y":1926.199927330017,"wires":[]},{"id":"f56386e0.57974","type":"function","z":"671d059f.ae770c","name":"collection inicial parametros","func":"msg.payload = {\n\t\"_id\": \"AplanadoraN3\",\n\t\"nome\": \"Aplanadora N3\",\n\t\"setor\": \"Estamparia\",\n\t\"parametros\": {\n\t\t\"encoder\": {\n\t\t\t\"fator\": 9998,\n\t\t\t\"resolucao\": 2500,\n\t\t\t\"perimetro\": 400\n\t\t},\n\t\t\"velocidade\": {\n\t\t\t\"automatico\": 100,\n\t\t\t\"manual\": 30\n\t\t},\n\t\t\"ferramenta\": {\n\t\t\t\"passo\": 200\n\t\t}\n\t},\n\t\"estado\": {\n\t\t\"situacao\": {\n\t\t\t\"codigo\": 99,\n\t\t\t\"descricao\": \"Maquina OK\"\n\t\t}\n\t},\n\t\"operador\": {\n\t\t\"codigo\": 1012,\n\t\t\"nome\": \"IRANILDO\"\n\t},\n\t\"os\": {\n\t    \"numero\": \"1231-11\",\n\t    \"produto\": {\n\t        \"codigo\": \"XXXXXXXXX\",\n\t        \"descricao\": \"AAAAAABBBBBCCCCC\"\n\t    },\n\t    \"quantidade\": 1550,\n\t    \"produzido\": 0,\n\t    \"refugo\": 0\n\t},\n\t\"lubrificacao\": {\n\t\t\"preset\": {\n\t\t        \"MbNovoCiclosUnd\":0,\n\t\t        \"MbNovoCiclosmil\":1\n\t\t},\n\t\t\"ciclos\": {\n\t\t        \"PrsCiclosUnid\":500,\n\t\t        \"PrsCiclosMil\":0\n\t\t}\n\t},\n\t\"timestamp\":new Date()\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":3233.8335876464844,"y":1550.9166097640991,"wires":[["c0290c54.c9b66"]]},{"id":"8d1d3381.c7587","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"APAGAR TODA A COLLECTION","collection":"log_erro","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":3519.6668243408203,"y":1471.9999179840088,"wires":[]},{"id":"80b27ae.bcbf088","type":"inject","z":"671d059f.ae770c","name":"LIMPAR","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2999.3090591430664,"y":1471.8379983901978,"wires":[["8d1d3381.c7587"]]},{"id":"bb0d4bdd.46cfe8","type":"inject","z":"671d059f.ae770c","name":"String vazia","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":3008.5004692077637,"y":1717.6666707992554,"wires":[["d02555c5.27f6a8"]]},{"id":"8df680bf.21bf08","type":"function","z":"671d059f.ae770c","name":"contador +1","func":"msg.query = { _id: 'AplanadoraN3' }\nmsg.payload = {\n    $inc: {\n       \"os.produzido\": 1\n     }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3227.0000915527344,"y":1807.66659450531,"wires":[["e37d4343.1d9b28"]]},{"id":"e37d4343.1d9b28","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"update","x":3423.0000762939453,"y":1808.0665884017944,"wires":[]},{"id":"b4039447.af12e","type":"inject","z":"671d059f.ae770c","name":"String vazia","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":3005.8336296081543,"y":1807.333291053772,"wires":[["8df680bf.21bf08","80b1796e.2656d8"]]},{"id":"b15d5052.c81f48","type":"function","z":"671d059f.ae770c","name":"Paginação ","func":"msg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":3236.222345352173,"y":1925.1480550765991,"wires":[["4bc7b858.25de78"]]},{"id":"42c437e1.6db08","type":"comment","z":"671d059f.ae770c","name":"Paginação  e consulta MongoDB","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3044.0001792907715,"y":1888.999894618988,"wires":[]},{"id":"bd3a3475.2186d","type":"inject","z":"671d059f.ae770c","name":"Criar estrutura","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3009.6668395996094,"y":1632.41659450531,"wires":[["2816042c.6783fc"]]},{"id":"1f734783.15d","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"store","x":3428.0244369506836,"y":1631.911813735962,"wires":[]},{"id":"2816042c.6783fc","type":"function","z":"671d059f.ae770c","name":"collection inicial log_erro","func":"msg.payload = {\n\t\"_id\": \"AplanadoraN3\",\n\t\"log_erro\": \"Aplanadora N3\",\n\t\"log_erro_masagens\": {\n\t}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3224.0334243774414,"y":1632.0166006088257,"wires":[["1f734783.15d"]]},{"id":"be789ff0.fbe738","type":"comment","z":"671d059f.ae770c","name":"Liga Chave Geral e Libera a Maquina","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":1774.8888854980469,"y":887.5554943084717,"wires":[]},{"id":"3695f8d6.915468","type":"comment","z":"671d059f.ae770c","name":"Liga / Deslig Motor","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":1718.5556640625,"y":1017.5555419921875,"wires":[]},{"id":"8fd95b0c.7c4118","type":"comment","z":"671d059f.ae770c","name":"Envia para fila qualquer erro na comunicação","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":2821.333251953125,"y":1079.5555419921875,"wires":[]},{"id":"43924e83.7b309","type":"mongodb in","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"consulta","collection":"parametros","operation":"find","x":3428.666700363159,"y":2013.5832986831665,"wires":[["33fec79d.7cc4f8"]]},{"id":"3f5b32a1.c2e2c6","type":"function","z":"671d059f.ae770c","name":"lê apenas 1 parametro","func":"// Para ler um registro primeiro especificar \"_id\" no payload\nmsg.payload = { \"_id\": \"AplanadoraN3\" }\n\n// No parametro projection 1 ou zero significa ler ou inguinorar resultado\nmsg.projection = { \"parametros.encoder.fator\": 1 }\n\n// Ler 1 valor\nmsg.limit = 1;\n\n// Pular 0 resultados\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":3215.7777709960938,"y":2013.420329093933,"wires":[["43924e83.7b309"]]},{"id":"42138e4d.d2811","type":"inject","z":"671d059f.ae770c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":2995.791681289673,"y":2013.0832796096802,"wires":[["3f5b32a1.c2e2c6"]]},{"id":"33fec79d.7cc4f8","type":"function","z":"671d059f.ae770c","name":"fator encoder","func":"msg.payload=msg.payload[0].parametros.encoder.fator;\nreturn msg;","outputs":1,"noerr":0,"x":3591.833517074585,"y":2012.9999980926514,"wires":[["eb66c879.90c8f8"]]},{"id":"eb66c879.90c8f8","type":"debug","z":"671d059f.ae770c","name":"ler registrador x","active":true,"console":"false","complete":"payload","x":3783.1669368743896,"y":2012.9998788833618,"wires":[]},{"id":"ee63fcc4.a6e97","type":"comment","z":"671d059f.ae770c","name":"Lê apenas um valor","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3000.9997329711914,"y":1977.9999389648438,"wires":[]},{"id":"80b1796e.2656d8","type":"function","z":"671d059f.ae770c","name":"Delay 50ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 50);\nreturn null;","outputs":1,"noerr":0,"x":3224.999931335449,"y":1855.3331460952759,"wires":[["b15d5052.c81f48"]]},{"id":"304cbd0e.1e1d1a","type":"comment","z":"671d059f.ae770c","name":"Contador Produzidos ++ ","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3020.999671936035,"y":1771.9998512268066,"wires":[]},{"id":"d8de8820.e232d8","type":"comment","z":"671d059f.ae770c","name":"Mudar apenas 1 registro do banco","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3052.66641998291,"y":1681.9998998641968,"wires":[]},{"id":"2ede4730.290d2","type":"comment","z":"671d059f.ae770c","name":"Cria estrutura vazia da coleção log_erro","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3062.66641998291,"y":1595.999836921692,"wires":[]},{"id":"65332101.b78a7","type":"comment","z":"671d059f.ae770c","name":"Cria estrutura vazia da coleção parametros","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3074.333168029785,"y":1514.666584968567,"wires":[]},{"id":"cf844589.e2bb88","type":"comment","z":"671d059f.ae770c","name":"Apaga toda coleção log_erro","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3034.66641998291,"y":1437.999836921692,"wires":[]},{"id":"eac1acba.4a28c","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"APAGAR TODA A COLLECTION","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":3519.999671936035,"y":1397.999836921692,"wires":[]},{"id":"d627b632.2d28","type":"inject","z":"671d059f.ae770c","name":"LIMPAR","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":2999.6419067382812,"y":1397.8379173278809,"wires":[["eac1acba.4a28c"]]},{"id":"4dc10ee3.fbf77","type":"comment","z":"671d059f.ae770c","name":"Apaga toda coleção parametros","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":3044.999267578125,"y":1362.999755859375,"wires":[]},{"id":"86f35978.92c7c","type":"mongodb in","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"consulta","collection":"parametros","operation":"find","x":2294.63370513916,"y":538.2443752288818,"wires":[["c9852b8a.3dea4","886ce047.6c4c9"]]},{"id":"24f4d6be.7d1822","type":"function","z":"671d059f.ae770c","name":"Paginação ","func":"msg.limit = 5;\nmsg.skip = 0;\nreturn msg;","outputs":1,"noerr":0,"x":2094.7447757720947,"y":538.0814056396484,"wires":[["86f35978.92c7c"]]},{"id":"580f93df.6347cc","type":"comment","z":"671d059f.ae770c","name":"Carrega valores iniciais do banco","info":"#Resultados de paginação usando skip e limit\n\nMuitas vezes, ao lidar com conjuntos de resultados de dados, \nsó queremos recuperar um subconjunto por vez, talvez para fornecer \nresultados por página da Web. Em MySQL, em geral fazemos isso \nusando a palavra-chave LIMIT. \nÉ fácil replicar essa funcionalidade no MongoDB \nusando msg.skip e msg.limit. \nPara retornar os primeiros cinco documentos na \ncoleção, podemos executar a seguinte operação:\n> msg.limit = 5;<\n\nPara pular resultados, use o seguinte comando:\n\n> msg.skip = 5;<\n\nCom ele é possível iguinorar os primeiros cinco\nregistros. ","x":2153.0226440429688,"y":503.1832580566406,"wires":[]},{"id":"c9852b8a.3dea4","type":"function","z":"671d059f.ae770c","name":"Carrega todos os parametros","func":"//Cria um array vazio\nvar parametros = [];\n\nparametros.push(msg.payload[0].parametros.velocidade.automatico);   //AplanVelAuto M14\nparametros.push(msg.payload[0].parametros.velocidade.manual);       //AplanVelMan M17\nparametros.push(msg.payload[0].parametros.ferramenta.passo);        //AplanPasso M18\nparametros.push(msg.payload[0].parametros.encoder.fator);           //EncFactor M20\nparametros.push(msg.payload[0].parametros.encoder.resolucao);       //EncResol M21 \nparametros.push(msg.payload[0].parametros.encoder.perimetro);       //EncPerim M22\nparametros.push(msg.payload[0].lubrificacao.ciclos.PrsCiclosUnid);  //PrsCiclosUnid M23\nparametros.push(msg.payload[0].lubrificacao.ciclos.PrsCiclosMil);   //PrsCiclosMil M24\nparametros.push(msg.payload[0].lubrificacao.preset.MbNovoCiclosUnd);//NovoPrsCiclosUnd M25\nparametros.push(msg.payload[0].lubrificacao.preset.MbNovoCiclosmil);//NovoCiclosMil M26\n\n//Salva em uma variavel externa ao bloco\nflow.set('params', parametros); \n\n//Envia o conteudo do array para o proximo bloco\nmsg.payload = parametros;\n\nnode.status({fill:\"yellow\",shape:\"dot\",text:\"Parametros Carregados\"});\nreturn msg;","outputs":"1","noerr":0,"x":2510.688987731933,"y":537.9333248138425,"wires":[["94ec596d.38554","ffc974e.9646508","b75b1c4c.0c82b"]]},{"id":"94ec596d.38554","type":"debug","z":"671d059f.ae770c","name":"Array completo","active":false,"console":"false","complete":"payload","x":2786.8077239990234,"y":680.6953945159912,"wires":[]},{"id":"ffc974e.9646508","type":"debug","z":"671d059f.ae770c","name":"tamanho","active":false,"console":"false","complete":"payload.length","x":2764.474540710449,"y":640.1712303161621,"wires":[]},{"id":"b75b1c4c.0c82b","type":"function","z":"671d059f.ae770c","name":"Separa cada mensagem","func":"var msgs = [null, null, null, null, null, null, null, null, null, null];\n\nmsgs[flow.get('params').length - 1] = {payload: flow.get('params')[flow.get('params').length - 1]};\n\nnode.send(msgs);\n","outputs":"10","noerr":0,"x":2811.435821533203,"y":539.0157775878906,"wires":[["f24ed02b.8eedc8"],["f445e540.dfb5b8"],["8a1d11aa.0d4948"],["9f2410be.fd9898"],["d58046ec.25b3e8"],["baed364d.85028"],["ca4d0ac1.21dba"],["97cdc85c.1b2c08"],["103dcc12.95c0d4"],["cbbab5b6.5a0358"]]},{"id":"d67ea89f.fdcab8","type":"link out","z":"671d059f.ae770c","name":"Erro ModBus","links":["7620ade8.57547c"],"x":3359.12646484375,"y":825.6191101074219,"wires":[]},{"id":"f2cdd20b.f9f63","type":"function","z":"671d059f.ae770c","name":"LOOP DE ESCRITA","func":"//Somente entra aqui se o array ainda for >= 0\nif (flow.get('params').length >= 0) {\n    \n    // Carrega todos os parametros que ainda não foram enviados\n    var params = flow.get('params');\n    \n    // Cria um novo Array tirando o ultimo elemento\n    var novo = params.slice(0, flow.get('params').length - 1);\n    \n    // Sobrescreve o arry params\n    flow.set('params', novo);\n    \n    // Envia novo array com -1 elemento\n    msg.payload = novo;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2803.761962890625,"y":348.33331298828125,"wires":[["b75b1c4c.0c82b"]]},{"id":"2b8e7f93.dfb528","type":"debug","z":"671d059f.ae770c","name":"LOOP","active":false,"console":"false","complete":"payload","x":2753.22216796875,"y":390.2221984863281,"wires":[]},{"id":"f24ed02b.8eedc8","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"AplanVelAuto_M14","dataType":"HoldingRegister","adr":"14","server":"ae591bf0.c143b","x":3133.2222213745117,"y":349.83323192596436,"wires":[["51147de9.9330ec","aebec996.51da9"],["d67ea89f.fdcab8"]]},{"id":"d58046ec.25b3e8","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"EncResol_M21","dataType":"HoldingRegister","adr":"21","server":"ae591bf0.c143b","x":3124.7936820983887,"y":542.2618179321289,"wires":[["51147de9.9330ec","1a0fa876.c35af"],["d67ea89f.fdcab8"]]},{"id":"8a1d11aa.0d4948","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"AplanPasso_M18","dataType":"HoldingRegister","adr":"18","server":"ae591bf0.c143b","x":3135.3648986816406,"y":446.97617053985596,"wires":[["51147de9.9330ec","5b1337c6.4179"],["d67ea89f.fdcab8"]]},{"id":"f445e540.dfb5b8","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"AplanVelMan_M17","dataType":"HoldingRegister","adr":"17","server":"ae591bf0.c143b","x":3134.507843017578,"y":397.97617053985596,"wires":[["51147de9.9330ec","5981919a.c36e58"],["d67ea89f.fdcab8"]]},{"id":"9f2410be.fd9898","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"EncFactor_M20","dataType":"HoldingRegister","adr":"20","server":"ae591bf0.c143b","x":3124.3649711608887,"y":495.6904067993164,"wires":[["51147de9.9330ec","e39d0263.77317"],["d67ea89f.fdcab8"]]},{"id":"cbbab5b6.5a0358","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"NovoCiclosMil_M26","dataType":"HoldingRegister","adr":"26","server":"ae591bf0.c143b","x":3145.2221488952637,"y":784.8332290649414,"wires":[["51147de9.9330ec","de64e7f8.3664b"],["d67ea89f.fdcab8"]]},{"id":"ca4d0ac1.21dba","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"PrsCiclosUnid_M23","dataType":"HoldingRegister","adr":"23","server":"ae591bf0.c143b","x":3135.7933654785156,"y":643.5475816726685,"wires":[["51147de9.9330ec","bca2f942.f551b8"],["d67ea89f.fdcab8"]]},{"id":"baed364d.85028","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"EncPerim_M22","dataType":"HoldingRegister","adr":"22","server":"ae591bf0.c143b","x":3124.936309814453,"y":592.5475816726685,"wires":[["51147de9.9330ec","75a84375.87939c"],["d67ea89f.fdcab8"]]},{"id":"103dcc12.95c0d4","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"NovoPrsCiclosUnd_M25","dataType":"HoldingRegister","adr":"25","server":"ae591bf0.c143b","x":3154.7934379577637,"y":735.2618179321289,"wires":[["51147de9.9330ec","e905f5.3314aa08"],["d67ea89f.fdcab8"]]},{"id":"97cdc85c.1b2c08","type":"modbustcp-no-pooling-write","z":"671d059f.ae770c","name":"PrsCiclosMil_M24","dataType":"HoldingRegister","adr":"24","server":"ae591bf0.c143b","x":3136,"y":689.3333129882812,"wires":[["51147de9.9330ec","26db150b.91f522"],["d67ea89f.fdcab8"]]},{"id":"816fceb.bc0dab","type":"link in","z":"671d059f.ae770c","name":"loop escrita","links":["51147de9.9330ec"],"x":2459.5,"y":348.29998779296875,"wires":[["e01d03e4.d4f5b"]]},{"id":"51147de9.9330ec","type":"link out","z":"671d059f.ae770c","name":"loop inicializando CLP","links":["816fceb.bc0dab"],"x":3368.5,"y":310.5999755859375,"wires":[]},{"id":"e01d03e4.d4f5b","type":"function","z":"671d059f.ae770c","name":"Delay 100ms","func":"setTimeout(function() {\n    node.send(msg);\n}, 100);\nreturn null;","outputs":1,"noerr":0,"x":2565.5,"y":348.25,"wires":[["2b8e7f93.dfb528","f2cdd20b.f9f63"]]},{"id":"8b579a.5041a868","type":"mqtt out","z":"671d059f.ae770c","name":"Topico Regitradores da Maquina","topic":"AplanadoraN/registradores","qos":"0","retain":"false","broker":"cc4b0f7f.efa7e","x":3971.4764099121094,"y":542.9522972106934,"wires":[]},{"id":"911aad51.2dc15","type":"http response","z":"671d059f.ae770c","name":"","x":3706,"y":2176,"wires":[]},{"id":"98d5baed.b80e1","type":"http in","z":"671d059f.ae770c","name":"Index","url":"/producao/aplanadoraN3/","method":"get","swaggerDoc":"","x":2959.4443575541177,"y":2178.111061943902,"wires":[["b1fce5c0.ecdfa8"]]},{"id":"b1fce5c0.ecdfa8","type":"file in","z":"671d059f.ae770c","name":"index.HTML","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/index.html","format":"utf8","x":3233.5554733276367,"y":2178.22217464447,"wires":[["daf2c1db.2fe4"]]},{"id":"826342db.eef16","type":"http response","z":"671d059f.ae770c","name":"","x":3710.4444859822593,"y":2257.666648864746,"wires":[]},{"id":"ef262afd.028a1","type":"http in","z":"671d059f.ae770c","name":"producao/jquery-ui.css","url":"/producao/jquery-ui.css","method":"get","swaggerDoc":"","x":3009.888843536377,"y":2257.777710808648,"wires":[["22a1cf13.3fad3"]]},{"id":"22a1cf13.3fad3","type":"file in","z":"671d059f.ae770c","name":"/producao/jquery-ui.css","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/jquery-ui.css","format":"utf8","x":3274.666591644287,"y":2257.6665802001953,"wires":[["b2545787.74486"]]},{"id":"b2545787.74486","type":"function","z":"671d059f.ae770c","name":"Text/CSS","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":3570.999897003174,"y":2257.555501937866,"wires":[["826342db.eef16"]]},{"id":"27181070.73ba48","type":"http response","z":"671d059f.ae770c","name":"","x":3710.444493611654,"y":2293.555535422431,"wires":[]},{"id":"37824361.0aa144","type":"http in","z":"671d059f.ae770c","name":"keyboard.css","url":"/producao/css/keyboard.css","method":"get","swaggerDoc":"","x":2979.8888511657715,"y":2293.666597366333,"wires":[["a857c0d.4bcb3c"]]},{"id":"a857c0d.4bcb3c","type":"file in","z":"671d059f.ae770c","name":"keyboard.css","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/css/keyboard.css","format":"utf8","x":3234.6665992736816,"y":2293.5554667578804,"wires":[["23746d6e.2b69ca"]]},{"id":"23746d6e.2b69ca","type":"function","z":"671d059f.ae770c","name":"Text/CSS","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":3570.9999046325684,"y":2293.4443884955513,"wires":[["27181070.73ba48"]]},{"id":"e532f2a.9d19c9","type":"http response","z":"671d059f.ae770c","name":"","x":3710.666692097982,"y":2328.5555267333984,"wires":[]},{"id":"b28a743b.bce6d8","type":"http in","z":"671d059f.ae770c","name":"style.css","url":"/producao/css/style.css","method":"get","swaggerDoc":"","x":2970.1110496520996,"y":2328.6665886773003,"wires":[["f915b210.7000d8"]]},{"id":"f915b210.7000d8","type":"file in","z":"671d059f.ae770c","name":"style.css","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/css/style.css","format":"utf8","x":3224.8887977600098,"y":2328.5554580688477,"wires":[["199bbced.6b4dc3"]]},{"id":"199bbced.6b4dc3","type":"function","z":"671d059f.ae770c","name":"Text/CSS","func":"msg.headers = { \"Content-type\" : \"text/css\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":3571.2221031188965,"y":2328.4443798065186,"wires":[["e532f2a.9d19c9"]]},{"id":"27f6267f.f21eda","type":"comment","z":"671d059f.ae770c","name":"HTML","info":"","x":3213.4443321228027,"y":2143.2221755981445,"wires":[]},{"id":"68c5c667.cdc958","type":"comment","z":"671d059f.ae770c","name":"CSS","info":"","x":3214.1110649108887,"y":2223.222183227539,"wires":[]},{"id":"ff1f3891.2ba958","type":"comment","z":"671d059f.ae770c","name":"JAVASCRIPT","info":"","x":3234.333293914795,"y":2375.6666412353516,"wires":[]},{"id":"641e50ea.7e3628","type":"http response","z":"671d059f.ae770c","name":"","x":3710.4444478352866,"y":2410.111068725586,"wires":[]},{"id":"9cf9f487.a8344","type":"http in","z":"671d059f.ae770c","name":"jquery.js","url":"/producao/js/jquery.js","method":"get","swaggerDoc":"","x":2969.8888053894043,"y":2411.222130669488,"wires":[["2a727e97.b638d2"]]},{"id":"2a727e97.b638d2","type":"file in","z":"671d059f.ae770c","name":"jquery.js","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/js/jquery.js","format":"utf8","x":3224.6665534973145,"y":2411.111000061035,"wires":[["641e50ea.7e3628"]]},{"id":"538bceb3.1b038","type":"http response","z":"671d059f.ae770c","name":"","x":3710.888905843099,"y":2447.222183227539,"wires":[]},{"id":"c4155552.9e7f48","type":"http in","z":"671d059f.ae770c","name":"jquery-ui.js","url":"/producao/js/jquery-ui.js","method":"get","swaggerDoc":"","x":2970.333263397217,"y":2448.333245171441,"wires":[["15ee0650.9613aa"]]},{"id":"15ee0650.9613aa","type":"file in","z":"671d059f.ae770c","name":"jquery-ui.js","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/js/jquery-ui.js","format":"utf8","x":3235.111011505127,"y":2448.2221145629883,"wires":[["538bceb3.1b038"]]},{"id":"79eaabf9.67562c","type":"http response","z":"671d059f.ae770c","name":"","x":3710.888905843099,"y":2483.6666412353516,"wires":[]},{"id":"3bbcccfc.7252e4","type":"http in","z":"671d059f.ae770c","name":"jquery.keyboard.js","url":"/producao/js/jquery.keyboard.js","method":"get","swaggerDoc":"","x":3000.333263397217,"y":2484.7777031792534,"wires":[["bb157d07.dbac88"]]},{"id":"bb157d07.dbac88","type":"file in","z":"671d059f.ae770c","name":"jquery.keyboard.js","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/js/jquery.keyboard.js","format":"utf8","x":3255.111011505127,"y":2484.666572570801,"wires":[["79eaabf9.67562c"]]},{"id":"fb9799f1.0907d8","type":"http response","z":"671d059f.ae770c","name":"","x":3711.3333638509116,"y":2520.7777557373047,"wires":[]},{"id":"b30723cf.bbf02","type":"http in","z":"671d059f.ae770c","name":"jquery.mousewheel.js","url":"/producao/js/jquery.mousewheel.js","method":"get","swaggerDoc":"","x":3010.7777214050293,"y":2521.8888176812065,"wires":[["b32bbc8d.91bf6"]]},{"id":"b32bbc8d.91bf6","type":"file in","z":"671d059f.ae770c","name":"jquery.mousewheel.js","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/js/jquery.mousewheel.js","format":"utf8","x":3265.5554695129395,"y":2521.777687072754,"wires":[["fb9799f1.0907d8"]]},{"id":"2a73eb00.2033ee","type":"http response","z":"671d059f.ae770c","name":"","x":3711.6666844685874,"y":2556.7777557373047,"wires":[]},{"id":"307c970c.532908","type":"http in","z":"671d059f.ae770c","name":"mqttws31.js","url":"/producao/js/mqttws31.js","method":"get","swaggerDoc":"","x":2981.111042022705,"y":2557.8888176812065,"wires":[["8634198a.1f2a98"]]},{"id":"8634198a.1f2a98","type":"file in","z":"671d059f.ae770c","name":"mqttws31.js","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/js/mqttws31.js","format":"utf8","x":3235.8887901306152,"y":2557.777687072754,"wires":[["2a73eb00.2033ee"]]},{"id":"de392913.2058b8","type":"http response","z":"671d059f.ae770c","name":"","x":3712.1111424764,"y":2593.888870239258,"wires":[]},{"id":"92f821f0.71d468","type":"http in","z":"671d059f.ae770c","name":"ihm.js","url":"/producao/js/ihm.js","method":"get","swaggerDoc":"","x":2961.5555000305176,"y":2594.9999321831597,"wires":[["3a65a346.9aba14"]]},{"id":"3a65a346.9aba14","type":"file in","z":"671d059f.ae770c","name":"ihm.js","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/js/ihm.js","format":"utf8","x":3216.3332481384277,"y":2594.888801574707,"wires":[["de392913.2058b8"]]},{"id":"ae1bbb96.60f12","type":"comment","z":"671d059f.ae770c","name":"FONTS","info":"","x":3216.1110649108887,"y":2643.4444427490234,"wires":[]},{"id":"8e0988db.4dfe88","type":"http response","z":"671d059f.ae770c","name":"","x":3711.888905843099,"y":2679.999984741211,"wires":[]},{"id":"11ea63d8.5d360c","type":"http in","z":"671d059f.ae770c","name":"fontawesome-webfont.woff","url":"/producao/fonts/fontawesome-webfont.woff","method":"get","swaggerDoc":"","x":3021.333263397217,"y":2680.111046685113,"wires":[["edd9fcde.6d2a4"]]},{"id":"edd9fcde.6d2a4","type":"file in","z":"671d059f.ae770c","name":"fontawesome-webfont.woff","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/fonts/fontawesome-webfont.woff","format":"","x":3286.111011505127,"y":2679.99991607666,"wires":[["93f32b5d.691028"]]},{"id":"ec763089.bff22","type":"http response","z":"671d059f.ae770c","name":"","x":3712.3333638509116,"y":2717.111099243164,"wires":[]},{"id":"6d0e4fcd.c9a4a","type":"http in","z":"671d059f.ae770c","name":"fontawesome-webfont.ttf","url":"/producao/fonts/fontawesome-webfont.ttf","method":"get","swaggerDoc":"","x":3021.7777214050293,"y":2717.222161187066,"wires":[["1bfab430.c03724"]]},{"id":"1bfab430.c03724","type":"file in","z":"671d059f.ae770c","name":"fontawesome-webfont.ttf","filename":"C:/Desenvolvimento/git/HMI-controler-with-node-red/fonts/fontawesome-webfont.ttf","format":"","x":3276.5554695129395,"y":2717.1110305786133,"wires":[["a09044b7.dac7d8"]]},{"id":"93f32b5d.691028","type":"function","z":"671d059f.ae770c","name":"webfont.woff","func":"msg.headers = { \"Content-type\" : \"application/font-webfont.woff\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":3563.111057281494,"y":2679.8888721466064,"wires":[["8e0988db.4dfe88"]]},{"id":"a09044b7.dac7d8","type":"function","z":"671d059f.ae770c","name":"webfont.ttf","func":"msg.headers = { \"Content-type\" : \"application/font-webfont.ttf\" }\n         \nreturn msg;","outputs":1,"noerr":0,"x":3563.9999504089355,"y":2717.5555267333984,"wires":[["ec763089.bff22"]]},{"id":"a02ffef1.4c9d5","type":"http response","z":"671d059f.ae770c","name":"","x":3795.2222633361816,"y":2802.1110877990723,"wires":[]},{"id":"e0ab1317.0fee7","type":"http in","z":"671d059f.ae770c","name":"Image Files","url":"/producao/images/:file","method":"get","swaggerDoc":"","x":2983.555492401123,"y":2803.333275689019,"wires":[["73537baf.81546c"]]},{"id":"cbabe031.db188","type":"file in","z":"671d059f.ae770c","name":"","filename":"","format":"","x":3430.5554809570312,"y":2803.222110748291,"wires":[["519e268d.e1acd","f3e6772a.015ae8"]]},{"id":"519e268d.e1acd","type":"function","z":"671d059f.ae770c","name":"msg type","func":"msg.headers = { \"Content-type\" : \"image/png\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":3615.888874053955,"y":2802.555465698242,"wires":[["a02ffef1.4c9d5"]]},{"id":"ab14d753.9a0de","type":"comment","z":"671d059f.ae770c","name":"IMAGENS E ARQUIVOS","info":"","x":3276.9999504089355,"y":2765.4444427490234,"wires":[]},{"id":"73537baf.81546c","type":"function","z":"671d059f.ae770c","name":"files","func":"msg.filename = 'C:\\\\Desenvolvimento\\\\git\\\\HMI-controler-with-node-red\\\\images\\\\' + msg.req.params.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":3216.777801513672,"y":2803.888738632202,"wires":[["cbabe031.db188"]]},{"id":"f3e6772a.015ae8","type":"debug","z":"671d059f.ae770c","name":"","active":false,"console":"false","complete":"filename","x":3625.4443855285645,"y":2848.9999408721924,"wires":[]},{"id":"954fc060.f8a4f","type":"comment","z":"671d059f.ae770c","name":"Grava valor dos registradores no CLP","info":"A cada inicialização os valores dos registradores são atualizados a partir de MongoDB:\n\n1- AplanVelAuto M14\nVelocidade maxima no automatico de 0% a 100%\n\n2- AplanVelMan M17\nVelocidade maxima no manual de 0% a 100%\n\n3- AplanPasso M18\nPasso da ferramenta em \"mm\", de 0 a 400mm\n\n4- EncFactor M20\nFator de correção do encoder em numeros inteiros apenas.\n\n5- EncResol M21\nResolução do encoder em numeros inteiros apenas. 1 a 10000\n\n6- EncPerim M22\nPerimetro do encoder em \"mm\". De 1 a 999\n\n7- PrsCiclosUnid M23\nCiclos de Lubrificação da prensa. De 0 a 65534 unidades\n\n8- PrsCiclosMil M24\nCiclos de Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n9- NovoPrsCiclosUnd M25\nCiclos que faltam para proxima Lubrificação da prensa. De 0 a 65534 unidades\n\n10- NovoCiclosMil M26\nCiclos que faltam para proxima Lubrificação da prensa vezes 1000. De 0 a 65534 unidades\n\n","x":3138.66650390625,"y":310.6666564941406,"wires":[]},{"id":"aebec996.51da9","type":"function","z":"671d059f.ae770c","name":"Atualiza M14 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    AplanVelAuto: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n\n    \nreturn msg;","outputs":"1","noerr":0,"x":3516.9998321533203,"y":349.57144355773926,"wires":[["8b579a.5041a868"]]},{"id":"5981919a.c36e58","type":"function","z":"671d059f.ae770c","name":"Atualiza M17 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    AplanVelMan: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n    \nreturn msg;","outputs":"1","noerr":0,"x":3515.857177734375,"y":398.1428527832031,"wires":[["8b579a.5041a868"]]},{"id":"e39d0263.77317","type":"function","z":"671d059f.ae770c","name":"Atualiza M20 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    EncFactor: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n    \nreturn msg;","outputs":"1","noerr":0,"x":3514.857177734375,"y":495.857177734375,"wires":[["8b579a.5041a868"]]},{"id":"5b1337c6.4179","type":"function","z":"671d059f.ae770c","name":"Atualiza M18 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    AplanPasso: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;","outputs":"1","noerr":0,"x":3515.9998321533203,"y":446.28576850891113,"wires":[["8b579a.5041a868"]]},{"id":"bca2f942.f551b8","type":"function","z":"671d059f.ae770c","name":"Atualiza M23 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    PrsCiclosUnid: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n    \nreturn msg;","outputs":"1","noerr":0,"x":3513.71435546875,"y":642,"wires":[["8b579a.5041a868"]]},{"id":"75a84375.87939c","type":"function","z":"671d059f.ae770c","name":"Atualiza M22 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    EncPerim: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;","outputs":"1","noerr":0,"x":3514.8570098876953,"y":592.4285907745361,"wires":[["8b579a.5041a868"]]},{"id":"1a0fa876.c35af","type":"function","z":"671d059f.ae770c","name":"Atualiza M21 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    EncResol: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\nreturn msg;","outputs":"1","noerr":0,"x":3514.71435546875,"y":544.2856750488281,"wires":[["8b579a.5041a868"]]},{"id":"de64e7f8.3664b","type":"function","z":"671d059f.ae770c","name":"Atualiza M26 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    NovoCiclosMil: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:\"falta implementar\"});\n    \nreturn msg;","outputs":"1","noerr":0,"x":3512.857177734375,"y":785.857177734375,"wires":[["8b579a.5041a868"]]},{"id":"e905f5.3314aa08","type":"function","z":"671d059f.ae770c","name":"Atualiza M25 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    NovoPrsCiclosUnd: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:valor});\n    \nreturn msg;","outputs":"1","noerr":0,"x":3513.9998321533203,"y":736.2857685089111,"wires":[["8b579a.5041a868"]]},{"id":"26db150b.91f522","type":"function","z":"671d059f.ae770c","name":"Atualiza M24 na pagina","func":"var valor = msg.payload;\n\nmsg.payload = {\n    PrsCiclosMil: valor\n};\nnode.status({fill:\"blue\",shape:\"dot\",text:\"falta implementar\"});\n    \nreturn msg;","outputs":"1","noerr":0,"x":3513.857177734375,"y":688.1428527832031,"wires":[["8b579a.5041a868"]]},{"id":"886ce047.6c4c9","type":"debug","z":"671d059f.ae770c","name":"consulta","active":false,"console":"false","complete":"payload","x":2452.071533203125,"y":499.07154083251953,"wires":[]},{"id":"e493b8cc.adc2c","type":"function","z":"671d059f.ae770c","name":"Atualiza MongoDB","func":"var parametro = JSON.parse(msg.payload);\n\n/****** APLANADORA VELOCIDADE AUTOMATICA M14 *********/\nif (parametro.AplanVelAuto_KEYBOARD !== undefined) {\n    var x = parametro.AplanVelAuto_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.velocidade.automatico\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Velocidade Auto = \"+ x)});\n    return msg;\n}\n\n/****** APLANADORA VELOCIDADE MANUAL M17 *********/\nif (parametro.AplanVelMan_KEYBOARD !== undefined) {\n    var x = parametro.AplanVelMan_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.velocidade.manual\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Velocidade Manual = \"+ x)});\n    return msg;\n}\n\n/****** APLANADORA PASSO M18 *********/\nif (parametro.AplanPasso_KEYBOARD !== undefined) {\n    var x = parametro.AplanPasso_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.ferramenta.passo\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Passo = \"+ x)});\n    return msg;\n}\n\n/****** FATOR DE ENCONDER M20*********/\nif (parametro.EncFactor_KEYBOARD !== undefined) {\n    var x = parametro.EncFactor_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.encoder.fator\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"fator = \"+ x)});\n    return msg;\n}\n\n/****** RESOLUÇÃO DO ENCONDER M21 *********/\nif (parametro.EncResol_KEYBOARD !== undefined) {\n    var x = parametro.EncResol_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.encoder.resolucao\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Resolução ENC = \"+ x)});\n    return msg;\n}\n\n/****** PERIMETRO DO ENCONDER M22 *********/\nif (parametro.EncPerim_KEYBOARD !== undefined) {\n    var x = parametro.EncPerim_KEYBOARD;\n    msg.query = { _id: 'AplanadoraN3' }\n    msg.payload = {\n         $set: {\n         \"parametros.encoder.perimetro\": x\n        }\n    }\n    node.status({fill:\"blue\",shape:\"dot\",text:(\"Perimetro ENC = \"+ x)});\n    return msg;\n}\n\n//TamanhoDesejadoPeca_KEYBOARD\n//TamanhoRealPeca_KEYBOARD\nreturn null;\n\n\n\n/* FALTA FAZER*************\nPrsCiclosUnid M23\nPrsCiclosMil M24\nNovoPrsCiclosUnd M25\nNovoCiclosMil M26*/\n\n\n","outputs":1,"noerr":0,"x":1553.356845855713,"y":594.3571262359619,"wires":[["30eb4dc9.1f396a","f0789376.a214c","6e0e51e2.961a98"]]},{"id":"30eb4dc9.1f396a","type":"mongodb out","z":"671d059f.ae770c","mongodb":"ee89ad41.8f022","name":"salvar","collection":"parametros","payonly":true,"upsert":false,"multi":false,"operation":"update","x":1810.3568115234375,"y":594.4237966537476,"wires":[]},{"id":"e0dd238e.6d0888","type":"mqtt in","z":"671d059f.ae770c","name":"","topic":"AplanadoraN/registradores","qos":"0","broker":"15286a00.a42c76","x":1299.4526252746582,"y":593.6347217559814,"wires":[["e493b8cc.adc2c","85baba2f.4761f8"]]},{"id":"addb3db3.567868","type":"comment","z":"671d059f.ae770c","name":"Save the modified values in the bank","info":"#Whats is saved until now!\n\nAfter one JSON.parse(msg.payload);\n\nAPLANADORA VELOCIDADE AUTOMATICA M14\nAPLANADORA VELOCIDADE MANUAL M17\nAPLANADORA PASSO M18\nRESOLUÇÃO DO ENCONDER M21","x":1559.5199584960938,"y":554.7658634185791,"wires":[]},{"id":"f0789376.a214c","type":"debug","z":"671d059f.ae770c","name":"Salvou","active":true,"console":"false","complete":"true","x":1797.785659790039,"y":643.3571453094482,"wires":[]},{"id":"6e0e51e2.961a98","type":"function","z":"671d059f.ae770c","name":"Delay 300ms","func":"setTimeout(function() {\n    msg= {payload: \"{MAQUINA_OFF:0}\"};\n    node.send(msg);\n}, 3000);\n\nreturn null;","outputs":1,"noerr":0,"x":1831.8096008300781,"y":536.8809814453125,"wires":[["cc1ae34e.2c3e7","24f4d6be.7d1822"]]},{"id":"cc1ae34e.2c3e7","type":"debug","z":"671d059f.ae770c","name":"depois de salvar","active":false,"console":"false","complete":"true","x":2028.9815673828125,"y":594.2407836914062,"wires":[]},{"id":"85baba2f.4761f8","type":"debug","z":"671d059f.ae770c","name":"fila","active":true,"console":"false","complete":"payload","x":1513.8226127624512,"y":645.2408466339111,"wires":[]},{"id":"daf2c1db.2fe4","type":"function","z":"671d059f.ae770c","name":"Text/HTML","func":"msg.headers = { \"Content-type\" : \"text/html\" }\n\nreturn msg;","outputs":1,"noerr":0,"x":3557.833251953125,"y":2177.0211486816406,"wires":[["911aad51.2dc15"]]},{"id":"cc4b0f7f.efa7e","type":"mqtt-broker","z":"671d059f.ae770c","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7858111a.50a578","type":"modbustcp-no-pooling-server","z":"671d059f.ae770c","host":"192.168.0.174","port":"502","unit_id":"1"},{"id":"ee89ad41.8f022","type":"mongodb","z":"671d059f.ae770c","hostname":"127.0.0.1","port":"27017","db":"db","name":""},{"id":"ae591bf0.c143b","type":"modbustcp-no-pooling-server","z":"671d059f.ae770c","host":"192.168.0.174","port":"502","unit_id":"1"},{"id":"15286a00.a42c76","type":"mqtt-broker","z":"671d059f.ae770c","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]