NodeRed/Dashboard.txt
[{"id":"fe40c58a.614ce","type":"function","z":"602fdbf9.1fa2c4","name":"desserializador M0","func":"msg.payload = global.get(\"ModBus\")[0];\n\nvar msgs = [];\nfor (i = 0; i < 11; i++) {\n    msgs.push(\n        {\n            _msgid: msg._msgid,\n            topic: msg.topic,\n            payload: ~msg.payload & (1 << i)\n        }\n    );\n}\nreturn msgs;","outputs":"11","noerr":0,"x":1170.6666259765625,"y":462.2667007446289,"wires":[["437555f9.4d2694"],["e62c8525.0b9188"],["b7a2f1b9.cc9b38"],["8115bda0.79bf98"],["90e2aa1c.2bd338"],["eed57675.f964b"],["4aa41047.d2e738"],["bcdb5eeb.348848"],["9d8b11c0.440aa"],["cbb8905e.85c36"],["a7308198.ef45"]]},{"id":"8115bda0.79bf98","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ErrMartelo M0.3","label":"","group":"a7155dae.bcf98","order":"4","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1442.6665649414062,"y":440.3165817260742,"wires":[[]]},{"id":"b7a2f1b9.cc9b38","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ErrBombaHidr M0.2","label":"","group":"a7155dae.bcf98","order":"3","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1462.6666259765625,"y":402.3165817260742,"wires":[[]]},{"id":"e62c8525.0b9188","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ErrFaltaFase M0.1","label":"","group":"a7155dae.bcf98","order":"2","width":"","height":"","topic":"","onvalue":"Falta de Fase","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1454.6665649414062,"y":367.3165817260742,"wires":[[]]},{"id":"437555f9.4d2694","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ErrEmergencia M0.0","label":"","group":"a7155dae.bcf98","order":"0","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1464.6666259765625,"y":332.3165817260742,"wires":[[]]},{"id":"eed57675.f964b","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ErrInversor M0.5","label":"","group":"a7155dae.bcf98","order":"6","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1454.066650390625,"y":513.116569519043,"wires":[[]]},{"id":"90e2aa1c.2bd338","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ErrPressaoAr M0.4","label":"","group":"a7155dae.bcf98","order":"5","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1452.066650390625,"y":478.11656951904297,"wires":[[]]},{"id":"4aa41047.d2e738","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ErrServo M0.6","label":"","group":"a7155dae.bcf98","order":"7","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1444.4666137695312,"y":549.116569519043,"wires":[[]]},{"id":"cbb8905e.85c36","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ErrPosic M0.9","label":"","group":"a7155dae.bcf98","order":"10","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1444.4666137695312,"y":654.116584777832,"wires":[[]]},{"id":"a7308198.ef45","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ErrSeguranca M0.10","label":"","group":"a7155dae.bcf98","order":"11","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1465.4666137695312,"y":689.116584777832,"wires":[[]]},{"id":"b25bc31.c4638c","type":"function","z":"602fdbf9.1fa2c4","name":"deserializador M1","func":"msg.payload = global.get(\"ModBus\")[1];\n\nvar msgs = [];\n\nfor (i = 0; i < 13; i++) {\n    msgs.push(\n        {\n            _msgid: msg._msgid,\n            topic: msg.topic,\n            payload: msg.payload & (1 << i)\n        }\n    );\n}\nreturn msgs;","outputs":"13","noerr":0,"x":370.87598419189453,"y":507.6878662109375,"wires":[["26cc018f.142616"],["ed308e72.f546e"],["fa96a7eb.cffd28"],["1cd929e3.a34cce"],["d315ada4.e4b8a8"],["42b3a71b.9fdd7"],["41555915.8fa518"],["814fa0b6.60b348"],["c932c11a.edef5"],["650bd065.6aa62"],["473057a4.b08208"],[],["310cd2ac.f98a5e"]]},{"id":"1cd929e3.a34cce","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"DriftOK M1.3","label":"","group":"a7155dae.bcf98","order":"3","width":"","height":"","topic":"Estado","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":628.1331253051758,"y":436.11647033691406,"wires":[[]]},{"id":"fa96a7eb.cffd28","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"MaqPronta M1.2","label":"","group":"a7155dae.bcf98","order":"2","width":"","height":"","topic":"Estado","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":648.133186340332,"y":398.11647033691406,"wires":[[]]},{"id":"ed308e72.f546e","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"MaqOK M1.1","label":"","group":"a7155dae.bcf98","order":"1","width":"","height":"","topic":"Estado","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":640.1331253051758,"y":363.11647033691406,"wires":[[]]},{"id":"26cc018f.142616","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ModoAutoAtiv_M1.0","label":"Testando Dashboard","group":"a5c9d449.e405","order":"0","width":"","height":"","topic":"Estado_registrador","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":677.1331787109375,"y":326.116455078125,"wires":[[]]},{"id":"42b3a71b.9fdd7","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"PrsParado M1.5","label":"","group":"a7155dae.bcf98","order":"5","width":"","height":"","topic":"Estado","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":649.5332107543945,"y":508.9164581298828,"wires":[[]]},{"id":"d315ada4.e4b8a8","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"AplanAvancoOK M1.4","label":"","group":"a7155dae.bcf98","order":"4","width":"","height":"","topic":"Estado","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":657.5332107543945,"y":473.9164581298828,"wires":[[]]},{"id":"41555915.8fa518","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"PrsLigado M1.6","label":"","group":"a7155dae.bcf98","order":"6","width":"","height":"","topic":"Estado","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":639.9331741333008,"y":544.9164581298828,"wires":[[]]},{"id":"814fa0b6.60b348","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"MaqProduzindo M1.7","label":"","group":"a7155dae.bcf98","order":"7","width":"","height":"","topic":"Estado","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":657.9331741333008,"y":581.9164733886719,"wires":[[]]},{"id":"c932c11a.edef5","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"StartProd M1.8","label":"","group":"a7155dae.bcf98","order":"8","width":"","height":"","topic":"Estado","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":640.9331741333008,"y":616.9164733886719,"wires":[[]]},{"id":"650bd065.6aa62","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"MaqForaPosic M1.9","label":"","group":"a7155dae.bcf98","order":"9","width":"","height":"","topic":"Estado","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":660.7331619262695,"y":650.1164703369141,"wires":[[]]},{"id":"473057a4.b08208","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"CalculaDrift M1.10","label":"","group":"a7155dae.bcf98","order":"10","width":"","height":"","topic":"Estado","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":650.1331253051758,"y":684.1164703369141,"wires":[[]]},{"id":"310cd2ac.f98a5e","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"AplanAberta M1.12","label":"","group":"a7155dae.bcf98","order":"11","width":"","height":"","topic":"Estado","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":650.1331253051758,"y":741.1164703369141,"wires":[[]]},{"id":"bcdb5eeb.348848","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ChaveGeralDesl M0.7","label":"","group":"a7155dae.bcf98","order":"8","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1464.5141677856445,"y":584.1642551422119,"wires":[[]]},{"id":"404cd54e.bb6394","type":"function","z":"602fdbf9.1fa2c4","name":"deserializador M2","func":"msg.payload = global.get(\"ModBus\")[2];\n\nvar msgs = [];\n\nfor (i = 0; i < 16; i++) {\n    msgs.push(\n        {\n            _msgid: msg._msgid,\n            topic: msg.topic,\n            payload: msg.payload & (1 << i)\n        }\n    );\n}\n\nreturn msgs;","outputs":"16","noerr":0,"x":331.7553176879883,"y":996.4718933105469,"wires":[["bca0a1b2.e5c38"],[],["16bdc41e.b9d9d4"],["2b98ab63.94ba44"],["10edf609.3917b2"],[],["f2c82622.ab61e8"],[],[],[],[],["9661cbef.976d18"],["5f7cdf9f.671fe"],["1cdad172.4fea07"],["ac1419ca.49b9a"],["55e1d278.29ff84"]]},{"id":"10edf609.3917b2","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"AplanManRecIHM M2.4","label":"","group":"a7155dae.bcf98","order":"4","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":678.2106895446777,"y":1006.8722095489502,"wires":[[]]},{"id":"2b98ab63.94ba44","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"AplanManAvcIHM M2.3","label":"","group":"a7155dae.bcf98","order":"3","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":678.210750579834,"y":968.8722095489502,"wires":[[]]},{"id":"16bdc41e.b9d9d4","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"LimpaErro M2.2","label":"","group":"a7155dae.bcf98","order":"2","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":648.0996856689453,"y":933.8720951080322,"wires":[[]]},{"id":"bca0a1b2.e5c38","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"ModoAuto M2.0","label":"","group":"a7155dae.bcf98","order":"1","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":649.7661666870117,"y":896.6498870849609,"wires":[[]]},{"id":"9661cbef.976d18","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"LigaChaveGeral M2.11","label":"","group":"a7155dae.bcf98","order":"6","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":678.2773666381836,"y":1080.8627853393555,"wires":[[]]},{"id":"f2c82622.ab61e8","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"MaqLib M2.6","label":"","group":"a7155dae.bcf98","order":"5","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":638.8486709594727,"y":1043.6722011566162,"wires":[[]]},{"id":"5f7cdf9f.671fe","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"PrsLigaMotor M2.12","label":"","group":"a7155dae.bcf98","order":"7","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":670.0107383728027,"y":1115.672197341919,"wires":[[]]},{"id":"1cdad172.4fea07","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"PrsParar M2.13","label":"","group":"a7155dae.bcf98","order":"8","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":649.0107383728027,"y":1152.672212600708,"wires":[[]]},{"id":"ac1419ca.49b9a","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"PrsSentidoInv M2.14","label":"","group":"a7155dae.bcf98","order":"9","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":671.0107383728027,"y":1187.672212600708,"wires":[[]]},{"id":"55e1d278.29ff84","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"PrsCicloNovo M2.15","label":"","group":"a7155dae.bcf98","order":"10","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":671.088701248169,"y":1223.9166707992554,"wires":[[]]},{"id":"4573a428.36a6e4","type":"function","z":"602fdbf9.1fa2c4","name":"deserializador M3","func":"msg.payload = global.get(\"ModBus\")[3];\n\nvar msgs = [];\n\nfor (i = 0; i < 9; i++) {\n    msgs.push(\n        {\n            _msgid: msg._msgid,\n            topic: msg.topic,\n            payload: msg.payload & (1 << i)\n        }\n    );\n}\n\nreturn msgs;","outputs":"9","noerr":0,"x":1161.5334167480469,"y":955.5833129882812,"wires":[["93d6eb53.b9b928"],["feb1abc2.8dcbe8"],["6f1469f8.7bb9d"],["41050999.2f7ae"],["48014b6e.f4185c"],["7700eaa3.f59e3c"],[],["21030df.7425972"],["fecb9283.1876d8"]]},{"id":"41050999.2f7ae","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"PrsLigaMotor M3.3","label":"","group":"a7155dae.bcf98","order":"5","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1455.9778747558594,"y":940.4721069335938,"wires":[[]]},{"id":"6f1469f8.7bb9d","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"SimulaEnc M3.2","label":"","group":"a7155dae.bcf98","order":"4","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1455.9779357910156,"y":902.4721069335938,"wires":[[]]},{"id":"feb1abc2.8dcbe8","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"DeslReadEnc M3.1","label":"","group":"a7155dae.bcf98","order":"3","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1465.866870880127,"y":867.4719924926758,"wires":[[]]},{"id":"93d6eb53.b9b928","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"MaqLib M3.0","label":"","group":"a7155dae.bcf98","order":"2","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1437.5333518981934,"y":830.2497844696045,"wires":[[]]},{"id":"7700eaa3.f59e3c","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"LigaChave M3.5","label":"","group":"a7155dae.bcf98","order":"8","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1457.3779602050781,"y":1013.2720947265625,"wires":[[]]},{"id":"48014b6e.f4185c","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"AtingiuPos M3.4","label":"","group":"a7155dae.bcf98","order":"6","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1455.3779602050781,"y":978.2720947265625,"wires":[[]]},{"id":"21030df.7425972","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"LimpaErro M3.7","label":"","group":"a7155dae.bcf98","order":"10","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1447.7779235839844,"y":1049.2720947265625,"wires":[[]]},{"id":"fecb9283.1876d8","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"SimulaEncNeg M3.8","label":"","group":"a7155dae.bcf98","order":"11","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1465.7779235839844,"y":1086.2721099853516,"wires":[[]]},{"id":"8f11ca17.d4017","type":"comment","z":"602fdbf9.1fa2c4","name":"","info":"","x":332.6998977661133,"y":844.7831726074219,"wires":[]},{"id":"4e86107d.1c37b","type":"comment","z":"602fdbf9.1fa2c4","name":"","info":"","x":376.93323516845703,"y":386.31654357910156,"wires":[]},{"id":"d2af479f.743d3","type":"comment","z":"602fdbf9.1fa2c4","name":"Registrador de erros","info":"##Registrador de erros M0\n\nTodos os eventos abaixo são reportados no topico \"Aplanadora/alarmes\" no formato Erro/Tipo/Data \n\nSomente Leitura dos 11 bits\n- 0.0 Emergencia \n * E1 CLP \n * Bi-manual & Botão Maq Parada.\n- 0.1 Falta de Fase\n * E5 CLP \n * Supervisor de fase.\n- 0.2 Termico da Bomba hidráulica\n * E2 CLP \n * Termico da Bomba.\n- 0.3 Termico Prensa e Librificação\n * E3 CLP \n * Indica que o termico dos dois motores esta ativado.\n- 0.4 Pressão do Ar\n * E9 CLP \n * Pressostato da linha de ar.\n- 0.5 Inversor da Prensa\n * E6 CLP \n * Erro no Inversor da Prensa.\n- 0.6 Servo Aplanadora\n * E7 CLP \n * Erro no Servo Aplanadora.\n- 0.7 Chave Geral.\n * E4 CLP \n * Chave da maquina desligada.\n- 0.8 Maquina Liberada.\n * Registrador ModBus M0.8 CLP \n * IHM não liberou a maquina.\n- 0.9 Erro de posicionamento.\n * Registrador ModBus M0.9 CLP \n * Servo não conseguiu posicionar a chapa.\n- 0.10 Segurança da Prensa.\n * Registrador ModBus M0.10 CLP \n * Grade de segurança da prensa aberta.","x":1167.1554565429688,"y":298.53885650634766,"wires":[]},{"id":"c288a9a7.43345","type":"comment","z":"602fdbf9.1fa2c4","name":"","info":"","x":1164.2668151855469,"y":854.6500854492188,"wires":[]},{"id":"9d8b11c0.440aa","type":"ui_switch","z":"602fdbf9.1fa2c4","name":"MaquinaLiberada M0.8","label":"","group":"a7155dae.bcf98","order":"9","width":"","height":"","topic":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","x":1474.0096435546875,"y":618.6309280395508,"wires":[[]]},{"id":"c74b259e.da9478","type":"link in","z":"602fdbf9.1fa2c4","name":"Atualizacao dos 32 registradores  ModBus","links":["50d8182b.f18e3"],"x":1009.6001453399658,"y":954.6500663757324,"wires":[[]]},{"id":"c7452e1b.88d958","type":"link in","z":"602fdbf9.1fa2c4","name":"Atualizacao dos 32 registradores  ModBus","links":["50d8182b.f18e3"],"x":167.59980010986328,"y":997.9832153320312,"wires":[[]]},{"id":"d22d3528.231248","type":"link in","z":"602fdbf9.1fa2c4","name":"Atualizacao dos 32 registradores  ModBus","links":["50d8182b.f18e3"],"x":216.93323516845703,"y":503.31651306152344,"wires":[[]]},{"id":"168b656f.029bfb","type":"link in","z":"602fdbf9.1fa2c4","name":"Atualizacao dos 32 registradores  ModBus","links":["50d8182b.f18e3"],"x":1012.9334373474121,"y":461.64991092681885,"wires":[[]]},{"id":"9e77a511.d5152","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"1","width":"","height":"","name":"Pos Atual M5","mode":"text","delay":"500","label":"","topic":"","x":2820.6665954589844,"y":995.2666625976562,"wires":[[]]},{"id":"4d6747c8.e817d8","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"2","width":"","height":"","name":"Valor D/A M6","mode":"text","delay":"500","label":"","topic":"","x":2813.7615699768066,"y":1042.7428970336914,"wires":[[]]},{"id":"45e9669b.948f68","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"1","width":"0","height":"0","name":"AplanAcelMS M12","mode":"text","delay":"500","label":"","topic":"","x":2819.5076179504395,"y":401.09993743896484,"wires":[["57ef7681.6e1e1"]]},{"id":"83c97817.ceee","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"2","width":"","height":"","name":"AplanVelAuto M14","mode":"text","delay":"500","label":"","topic":"","x":2820.6187019348145,"y":447.7666244506836,"wires":[["22f5f574.93d9da"]]},{"id":"ebd4f14c.6c64d8","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"3","width":"","height":"","name":"AplanVelMan M17","mode":"text","delay":"500","label":"","topic":"","x":2821.063159942627,"y":495.54439544677734,"wires":[["3492087d.b507f"]]},{"id":"7483bd19.39ccfc","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"4","width":"","height":"","name":"AplanPasso M18","mode":"text","delay":"500","label":"","topic":"","x":2821.174243927002,"y":544.0999374389648,"wires":[["6da25b23.857d6c"]]},{"id":"ec0b40a5.8a64c","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"5","width":"","height":"","name":"MaqUIErroPos M19","mode":"text","delay":"500","label":"","topic":"","x":2830.952075958252,"y":593.4333114624023,"wires":[["43a169a.2da1d98"]]},{"id":"e48f67ce.d684f","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"6","width":"","height":"","name":"EncFactor M20","mode":"text","delay":"500","label":"","topic":"","x":2811.8408699035645,"y":639.5443954467773,"wires":[["95787f01.baa5b8"]]},{"id":"adae111b.5f6bf8","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"7","width":"","height":"","name":"EncResol M21","mode":"text","delay":"500","label":"","topic":"","x":2812.063247680664,"y":686.607873916626,"wires":[["ae5dd228.96ce38"]]},{"id":"710bc650.7dc02","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"8","width":"","height":"","name":"EncPerim M22","mode":"text","delay":"500","label":"","topic":"","x":2812.063159942627,"y":738.2110214233398,"wires":[["b32c562e.9009c"]]},{"id":"130af5c2.52986a","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"9","width":"","height":"","name":"PrsCiclosUnid M23","mode":"text","delay":"500","label":"","topic":"","x":2823.634590148926,"y":789.8300857543945,"wires":[["eb46b56b.72cb3"]]},{"id":"c919ea4b.429ea8","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"3","width":"","height":"","name":"PrsCiclosMil M24","mode":"text","delay":"500","label":"","topic":"","x":2834.8726692199707,"y":1090.965087890625,"wires":[[]]},{"id":"9801d9b1.71bfc8","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"10","width":"","height":"","name":"NovoPrsCiclosUnd M25","mode":"text","delay":"500","label":"","topic":"","x":2842.428047180176,"y":842.9887933731079,"wires":[["7dcaf881.c846b8"]]},{"id":"f51b8e7b.ba34d8","type":"ui_text_input","z":"602fdbf9.1fa2c4","group":"a7155dae.bcf98","order":"11","width":"","height":"","name":"NovoCiclosMil M26","mode":"text","delay":"500","label":"","topic":"","x":2825.856601715088,"y":891.6555671691895,"wires":[["112e5293.12208d"]]},{"id":"22f5f574.93d9da","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"M14","dataType":"HoldingRegister","adr":"14","server":"c0c79b9.fb59568","x":3049.729839324951,"y":447.4331693649292,"wires":[[],["b8ad820d.45742"]]},{"id":"7983db3b.92bfac","type":"comment","z":"602fdbf9.1fa2c4","name":"Registradores de Leitura somente","info":"#test\n- nao\n- sei\n- onde v\n- vai \n- parar\n- isso","x":2864.158416748047,"y":950.1474609375,"wires":[]},{"id":"ae5dd228.96ce38","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"M21","dataType":"HoldingRegister","adr":"21","server":"c0c79b9.fb59568","x":3051.301300048828,"y":686.8617553710938,"wires":[[],["b8ad820d.45742"]]},{"id":"57ef7681.6e1e1","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"M12","dataType":"HoldingRegister","adr":"12","server":"c0c79b9.fb59568","x":3051.7297897338867,"y":400.71891021728516,"wires":[[],["b8ad820d.45742"]]},{"id":"43a169a.2da1d98","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"M19","dataType":"HoldingRegister","adr":"19","server":"c0c79b9.fb59568","x":3051.3011779785156,"y":592.7189331054688,"wires":[[],["b8ad820d.45742"]]},{"id":"6da25b23.857d6c","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"M18","dataType":"HoldingRegister","adr":"18","server":"c0c79b9.fb59568","x":3051.87251663208,"y":544.5761079788208,"wires":[[],["b8ad820d.45742"]]},{"id":"3492087d.b507f","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"M17","dataType":"HoldingRegister","adr":"17","server":"c0c79b9.fb59568","x":3051.0154609680176,"y":495.5761079788208,"wires":[[],["b8ad820d.45742"]]},{"id":"95787f01.baa5b8","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"M20","dataType":"HoldingRegister","adr":"20","server":"c0c79b9.fb59568","x":3050.872589111328,"y":640.2903442382812,"wires":[[],["b8ad820d.45742"]]},{"id":"2704e3f6.389fcc","type":"comment","z":"602fdbf9.1fa2c4","name":"Registradores R/W Setup da Aplanadora \"DEBUG UI\"","info":"#test\n- Tela config do Node-red UI","x":2929.0800170898438,"y":357.9046630859375,"wires":[]},{"id":"112e5293.12208d","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"M26","dataType":"HoldingRegister","adr":"26","server":"c0c79b9.fb59568","x":3051.729766845703,"y":892.4331665039062,"wires":[[],["b8ad820d.45742"]]},{"id":"eb46b56b.72cb3","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"M23","dataType":"HoldingRegister","adr":"23","server":"c0c79b9.fb59568","x":3052.300983428955,"y":788.1475191116333,"wires":[[],["b8ad820d.45742"]]},{"id":"b32c562e.9009c","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"M22","dataType":"HoldingRegister","adr":"22","server":"c0c79b9.fb59568","x":3051.4439277648926,"y":737.1475191116333,"wires":[[],["b8ad820d.45742"]]},{"id":"7dcaf881.c846b8","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"M25","dataType":"HoldingRegister","adr":"25","server":"c0c79b9.fb59568","x":3051.301055908203,"y":842.8617553710938,"wires":[[],["b8ad820d.45742"]]},{"id":"b052c173.903f28","type":"delay","z":"602fdbf9.1fa2c4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2123.354705810547,"y":629.4332275390625,"wires":[["ee107325.36b52"]]},{"id":"74ea20a0.69994","type":"inject","z":"602fdbf9.1fa2c4","name":"Le configuração Aplanadora","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":1920.4798583984375,"y":629.4332275390625,"wires":[[]]},{"id":"ee107325.36b52","type":"function","z":"602fdbf9.1fa2c4","name":"Le configuracao da Maquina X","func":"var registradores = global.get(\"ModBus\");\n\nvar endereco = [12,14,17,18,19,20,21,22,23,25,26,5,6,24];\nvar tamanho = endereco.length;\nvar msgs = [];\n\nfor (i = 0; i < tamanho; i++) {\n    /*console.log('i:' + i);\n    if (endereco[i] >= 32) {\n        msgs.push( \n            {\n                payload: \"indice invalido !\"\n            }\n        );\n        break;\n    }*/\n    msgs.push(\n        {\n            payload: registradores[endereco[i]]\n        }\n    );\n}\nreturn msgs;","outputs":"14","noerr":0,"x":2360.479705810547,"y":629.1831665039062,"wires":[["45e9669b.948f68"],["83c97817.ceee"],["ebd4f14c.6c64d8"],["7483bd19.39ccfc"],["ec0b40a5.8a64c"],["e48f67ce.d684f"],["adae111b.5f6bf8"],["710bc650.7dc02"],["130af5c2.52986a"],["9801d9b1.71bfc8"],["f51b8e7b.ba34d8"],["9e77a511.d5152"],["4d6747c8.e817d8"],["c919ea4b.429ea8"]]},{"id":"7ca48a8.5ad4574","type":"mqtt out","z":"602fdbf9.1fa2c4","name":"Erros da Maquina","topic":"AplanadoraN/alarmes","qos":"0","retain":"false","broker":"76990613.d1d9d","x":3752.4204025268555,"y":661.5095176696777,"wires":[]},{"id":"b8ad820d.45742","type":"function","z":"602fdbf9.1fa2c4","name":"Erro comunicação Escrita","func":"msg.payload = {\n    time: new Date(),\n    type: 'error',\n    message: 'Falha de escrita dos registradores do CLP.'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":3511.3960876464844,"y":661.4333295822144,"wires":[[]]},{"id":"ce82e7e9.54636","type":"ui_button","z":"602fdbf9.1fa2c4","name":"Liga Motor Prensa 3.3","group":"a7155dae.bcf98","order":"2","width":"","height":"","label":"","color":"","icon":"","payload":"{ \"bit\": 3, \"value\": 1}","payloadType":"str","topic":"Botoes da pagina","x":1478.466567993164,"y":1463.3333535194397,"wires":[["ba9caf1b.21a628"]]},{"id":"d9d0fb0e.e00a","type":"ui_button","z":"602fdbf9.1fa2c4","name":"Limpa Erros 3.7","group":"a7155dae.bcf98","order":"6","width":"","height":"","label":"","color":"","icon":"","payload":"{ \"bit\": 7, \"value\": 1}","payloadType":"str","topic":"Botoes da pagina","x":1496.911117553711,"y":1614.6507802009583,"wires":[["ba9caf1b.21a628"]]},{"id":"a1a1587.0a9f528","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"Escreve M2","dataType":"HoldingRegister","adr":"2","server":"c0c79b9.fb59568","x":2112.1650428771973,"y":1655.3686566352844,"wires":[["bff0ad93.9927a8"],["85bc8ac.8c9dff8"]]},{"id":"ba9caf1b.21a628","type":"function","z":"602fdbf9.1fa2c4","name":"Operador de registradores bitwise M3","func":"var p = JSON.parse(msg.payload);\n\nif (p.value == 1) {\n    msg.payload = [((global.get(\"ModBus\")[3]||[0])) | (1 << p.bit)];\n} else {\n    msg.payload = [((global.get(\"ModBus\")[3]||[0])) & ~(1 << p.bit)];\n}\nreturn msg;","outputs":"1","noerr":0,"x":1835.2005004882812,"y":1498.7509846687317,"wires":[["6d54fd0f.7b27e4"]]},{"id":"6d54fd0f.7b27e4","type":"modbustcp-no-pooling-write","z":"602fdbf9.1fa2c4","name":"Escreve M3","dataType":"HoldingRegister","adr":"3","server":"c0c79b9.fb59568","x":2111.923122406006,"y":1499.245689868927,"wires":[["5ad758a9.625748"],["85bc8ac.8c9dff8"]]},{"id":"4315934d.26e9fc","type":"function","z":"602fdbf9.1fa2c4","name":"Operador de registradores bitwise M2","func":"var p = JSON.parse(msg.payload);\n\nif (p.value == 1) {\n    msg.payload = [(global.get(\"ModBus\")[2]) | (1 << p.bit)];\n} else {\n    msg.payload = [(global.get(\"ModBus\")[2]) & ~(1 << p.bit)];\n}\nreturn msg;","outputs":"1","noerr":0,"x":1835.5698127746582,"y":1655.3544430732727,"wires":[["a1a1587.0a9f528"]]},{"id":"bff0ad93.9927a8","type":"debug","z":"602fdbf9.1fa2c4","name":"MODBUS ESCRITA M2 OK","active":true,"console":"false","complete":"payload","x":2380.5697746276855,"y":1647.4543328285217,"wires":[]},{"id":"5ad758a9.625748","type":"debug","z":"602fdbf9.1fa2c4","name":"MODBUS ESCRITA M3 OK","active":true,"console":"false","complete":"payload","x":2378.683822631836,"y":1438.604275226593,"wires":[]},{"id":"6170b4e8.bf2e1c","type":"ui_button","z":"602fdbf9.1fa2c4","name":"DesligaChave M3.5","group":"a7155dae.bcf98","order":"5","width":"","height":"","label":"","color":"","icon":"","payload":"{ \"bit\": 5, \"value\": 0}","payloadType":"str","topic":"Botoes da pagina","x":1490.2761306762695,"y":1577.2193455696106,"wires":[["ba9caf1b.21a628"]]},{"id":"73e85cca.d4f89c","type":"ui_button","z":"602fdbf9.1fa2c4","name":"ModoAuto M2.0","group":"a7155dae.bcf98","order":"7","width":"","height":"","label":"","color":"","icon":"","payload":"{ \"bit\": 0, \"value\": 1}","payloadType":"str","topic":"Botoes da pagina","x":1496.6887321472168,"y":1655.8066563606262,"wires":[["4315934d.26e9fc"]]},{"id":"76a30440.2f0da4","type":"ui_button","z":"602fdbf9.1fa2c4","name":"Maquina Liberada M3.0","group":"a7155dae.bcf98","order":"1","width":"","height":"","label":"","color":"","icon":"","payload":"{ \"bit\": 0, \"value\": 1}","payloadType":"str","topic":"Botoes da pagina","x":1463.4030876159668,"y":1388.2352395057678,"wires":[["ba9caf1b.21a628"]]},{"id":"ad2ac959.5e40d","type":"ui_button","z":"602fdbf9.1fa2c4","name":"Desliga Motor Prensa 3.3","group":"a7155dae.bcf98","order":"3","width":"","height":"","label":"","color":"","icon":"","payload":"{ \"bit\": 3, \"value\": 0}","payloadType":"str","topic":"Botoes da pagina","x":1469.8476257324219,"y":1501.647934436798,"wires":[["ba9caf1b.21a628"]]},{"id":"94ab92a8.36429","type":"ui_button","z":"602fdbf9.1fa2c4","name":"LigaChave M3.5","group":"a7155dae.bcf98","order":"4","width":"","height":"","label":"","color":"","icon":"","payload":"{ \"bit\": 5, \"value\": 1}","payloadType":"str","topic":"Botoes da pagina","x":1499.5618591308594,"y":1539.0765233039856,"wires":[["ba9caf1b.21a628"]]},{"id":"85bc8ac.8c9dff8","type":"function","z":"602fdbf9.1fa2c4","name":"Erro comunicação","func":"msg.payload = {\n    type: 'error',\n    message: 'Falha de Escrita do CLP.',\n    time: new Date()\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2356.260097503662,"y":1570.8066639900208,"wires":[["45668d56.6894ac"]]},{"id":"45668d56.6894ac","type":"mqtt out","z":"602fdbf9.1fa2c4","name":"Erros da Maquina","topic":"AplanadoraN/alarmes","qos":"0","retain":"false","broker":"76990613.d1d9d","x":2595.403163909912,"y":1571.0924000740051,"wires":[]},{"id":"91323037.d87df8","type":"ui_button","z":"602fdbf9.1fa2c4","name":"Maquina Liberada M3.0 inv","group":"a7155dae.bcf98","order":"1","width":"","height":"","label":"","color":"","icon":"","payload":"{ \"bit\": 0, \"value\": 0}","payloadType":"str","topic":"Botoes da pagina","x":1459.879379272461,"y":1426.8225274085999,"wires":[["ba9caf1b.21a628"]]},{"id":"7447b661.c29bc","type":"inject","z":"602fdbf9.1fa2c4","name":"trigger","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":265.49854278564453,"y":1804.2350845336914,"wires":[["c43fd71b.b72fc"]]},{"id":"c43fd71b.b72fc","type":"function","z":"602fdbf9.1fa2c4","name":"dump: context.global ","func":"// dumps all vars in context.global \nvar objs = \"context.global: \";\n\nfor(var index in context.global) { \n   if(typeof context.global[index] == \"object\"){\n     \tobjs +=  \" \" + showKeys(index,context.global[index]);\n\t} else {\n\t   objs += \" \"+ index+\":\"+context.global[index]+\" , \"; \n\t}\n}\n\nfunction showKeys(parent,keys){\n   \tvar tkeys=\"\";\n   \tfor(var subIndex in keys) { \n\t\tif(typeof context.global[parent][subIndex] == \"object\"){\t\t\n\t\t\ttkeys += \" \"+ showKeysKeys(subIndex,context.global[parent][subIndex],parent);\n\t\t} else {\n\t\t\ttkeys += \" \"+ parent+\".\"+subIndex+\": \"+context.global[parent][subIndex]+\", \";\t\n\t\t}\n\t}\n\treturn tkeys;\n}\n\nfunction showKeysKeys(parent,keys,pp){\n   \tvar tkeys =\"\";\n   \tfor(var subIndex in keys) { \n\t\t\ttkeys += \" \"+pp+\".\"+parent+\".\"+subIndex+\": \"+context.global[pp][parent][subIndex]+\", \";\t\n\t}\n\treturn tkeys;\n}\n\nmsg.payload = objs;\nreturn msg;","outputs":1,"noerr":0,"x":437.49854278564453,"y":1804.2350845336914,"wires":[["9dccfe07.284b"]]},{"id":"9dccfe07.284b","type":"debug","z":"602fdbf9.1fa2c4","name":"show","active":true,"console":"false","complete":"payload","x":606.4985427856445,"y":1804.2350845336914,"wires":[]},{"id":"49eb38ae.a5506","type":"comment","z":"602fdbf9.1fa2c4","name":"Lista todas a variaveis globais","info":"##dumps all vars in context.global\n","x":433.35569763183594,"y":1768.092176437378,"wires":[]},{"id":"a90ad3e9.fe1ab8","type":"http in","z":"602fdbf9.1fa2c4","name":"","url":"/form","method":"get","swaggerDoc":"","x":183.66659545898438,"y":1894.9332885742188,"wires":[["e2af969a.070528"]]},{"id":"e2af969a.070528","type":"template","z":"602fdbf9.1fa2c4","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"plain","template":"\n<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01//EN\" \"http://www.w3.org/TR/html4/strict.dtd\">\n<html class=\"supernova\"><head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\n<link rel=\"alternate\" type=\"application/json+oembed\" href=\"https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F43483945565972\" title=\"oEmbed Form\"><link rel=\"alternate\" type=\"text/xml+oembed\" href=\"https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F43483945565972\" title=\"oEmbed Form\">\n<meta property=\"og:title\" content=\"43483099096971 Theme:548eeee9700cc4d5098b4567\" >\n<meta property=\"og:url\" content=\"http://www.jotformpro.com/form/43483945565972\" >\n<meta property=\"og:description\" content=\"Please click the link to complete this form.\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0\" />\n<meta name=\"HandheldFriendly\" content=\"true\" />\n<title>43483099096971 Theme:548eeee9700cc4d5098b4567</title>\n<link href=\"//cdn.jotfor.ms/static/formCss.css?3.3.13212\" rel=\"stylesheet\" type=\"text/css\" />\n<link type=\"text/css\" rel=\"stylesheet\" href=\"//cdn.jotfor.ms/css/styles/nova.css?3.3.13212\" />\n<link type=\"text/css\" media=\"print\" rel=\"stylesheet\" href=\"//cdn.jotfor.ms/css/printForm.css?3.3.13212\" />\n<style type=\"text/css\">\n@import 'https://fonts.googleapis.com/css?family=Pacifico';\n\n    .form-label-left{\n        width:150px !important;\n    }\n    .form-line{\n        padding-top:12px;\n        padding-bottom:12px;\n    }\n    .form-label-right{\n        width:150px !important;\n    }\n    body, html{\n        margin:0;\n        padding:0;\n        background:rgba(0, 0, 0, 0.79);\n    }\n\n    .form-all{\n        margin:0px auto;\n        padding-top:0px;\n        width:500px;\n        color:#555 !important;\n        font-family:'Muli';\n        font-size:20px;\n    }\n    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{\n        color: #555;\n    }\n\n</style>\n\n<style type=\"text/css\" id=\"form-designer-style\">\n    /* Injected CSS Code */\n@import \"https://fonts.googleapis.com/css?family=Muli:light,lightitalic,normal,italic,bold,bolditalic|Roboto+Condensed:light,lightitalic,normal,italic,bold,bolditalic\";\n.form-all {\n  font-family: \"Muli\", sans-serif;\n}\n.form-all {\n  width: 500px;\n}\n.form-label-left,\n.form-label-right {\n  width: 150px;\n}\n.form-label {\n  white-space: normal;\n}\n.form-label.form-label-auto {\n  display: inline-block;\n  float: left;\n  text-align: left;\n  width: 150px;\n}\n.form-label-left {\n  display: inline-block;\n  white-space: normal;\n  float: left;\n  text-align: left;\n}\n.form-label-right {\n  display: inline-block;\n  white-space: normal;\n  float: left;\n  text-align: right;\n}\n.form-label-top {\n  white-space: normal;\n  display: block;\n  float: none;\n  text-align: left;\n}\n.form-all {\n  font-size: 20px;\n}\n.form-label {\n  font-weight: normal;\n  font-size: 0.95em;\n}\n.supernova {\n  background-color: rgba(0, 0, 0, 0.79);\n  background-color: #ffffff;\n}\n.supernova body {\n  background-color: transparent;\n}\n/*\n@width30: (unit(@formWidth, px) + 60px);\n@width60: (unit(@formWidth, px)+ 120px);\n@width90: (unit(@formWidth, px)+ 180px);\n*/\n/* | */\n@media screen and (min-width: 480px) {\n  .supernova .form-all {\n    border: 1px solid #e6e6e6;\n    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);\n    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);\n    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);\n  }\n}\n/* | */\n/* | */\n@media screen and (max-width: 480px) {\n  .jotform-form {\n    padding: 10px 0;\n  }\n}\n/* | */\n/* | */\n@media screen and (min-width: 480px) and (max-width: 768px) {\n  .jotform-form {\n    padding: 30px 0;\n  }\n}\n/* | */\n/* | */\n@media screen and (min-width: 768px) and (max-width: 1024px) {\n  .jotform-form {\n    padding: 60px 0;\n  }\n}\n/* | */\n/* | */\n@media screen and (min-width: 1024px) {\n  .jotform-form {\n    padding: 90px 0;\n  }\n}\n/* | */\n.supernova .form-all,\n.form-all {\n  background-color: rgba(0, 0, 0, 0.79);\n  border: 1px solid transparent;\n}\n.form-header-group {\n  border-color: rgba(0, 0, 0, 0.79);\n}\n.form-matrix-table tr {\n  border-color: rgba(0, 0, 0, 0.79);\n}\n.form-matrix-table tr:nth-child(2n) {\n  background-color: rgba(0, 0, 0, 0.79);\n}\n.form-all {\n  color: #555555;\n}\n.form-header-group .form-header {\n  color: #555555;\n}\n.form-header-group .form-subHeader {\n  color: #6f6f6f;\n}\n.form-sub-label {\n  color: #6f6f6f;\n}\n.form-label-top,\n.form-label-left,\n.form-label-right,\n.form-html {\n  color: #ffffff;\n}\n.form-checkbox-item label,\n.form-radio-item label {\n  color: #ffffff;\n}\n.form-line.form-line-active {\n  -webkit-transition-property: all;\n  -moz-transition-property: all;\n  -ms-transition-property: all;\n  -o-transition-property: all;\n  transition-property: all;\n  -webkit-transition-duration: 0.3s;\n  -moz-transition-duration: 0.3s;\n  -ms-transition-duration: 0.3s;\n  -o-transition-duration: 0.3s;\n  transition-duration: 0.3s;\n  -webkit-transition-timing-function: ease;\n  -moz-transition-timing-function: ease;\n  -ms-transition-timing-function: ease;\n  -o-transition-timing-function: ease;\n  transition-timing-function: ease;\n  background-color: rgba(255, 251, 234, 0);\n}\n/* ömer */\n.form-radio-item,\n.form-checkbox-item {\n  padding-bottom: 0px !important;\n}\n.form-radio-item:last-child,\n.form-checkbox-item:last-child {\n  padding-bottom: 0;\n}\n/* ömer */\n.form-single-column .form-checkbox-item,\n.form-single-column .form-radio-item {\n  width: 100%;\n}\n.supernova {\n  height: 100%;\n  background-repeat: no-repeat;\n  background-attachment: scroll;\n  background-position: center top;\n  background-repeat: repeat;\n  background-attachment: fixed;\n  background-size: auto;\n  background-size: cover;\n}\n.supernova {\n  background-image: none;\n  background-image: url(\"//www.jotform.com/uploads/EltonCris/form_files/free-peaceful-christmas-village-wallpaper_1440x900_88106.jpg\");\n}\n#stage {\n  background-image: none;\n  background-image: url(\"//www.jotform.com/uploads/EltonCris/form_files/free-peaceful-christmas-village-wallpaper_1440x900_88106.jpg\");\n}\n/* | */\n.form-all {\n  background-repeat: no-repeat;\n  background-attachment: scroll;\n  background-position: center top;\n  background-repeat: repeat;\n}\n.form-header-group {\n  background-repeat: no-repeat;\n  background-attachment: scroll;\n  background-position: center top;\n}\n.form-line {\n  margin-top: 0px;\n  margin-bottom: 0px;\n}\n.form-line {\n  padding: 8px 36px;\n}\n.form-all .form-submit-button,\n.form-all .form-submit-reset,\n.form-all .form-submit-print {\n  -webkit-border-radius: 6px;\n  -moz-border-radius: 6px;\n  border-radius: 6px;\n}\n.form-all .form-sub-label {\n  margin-left: 3px;\n}\n.form-all {\n  -webkit-border-radius: 20px;\n  -moz-border-radius: 20px;\n  border-radius: 20px;\n}\n.form-section:first-child {\n  -webkit-border-radius: 20px 20px 0 0;\n  -moz-border-radius: 20px 20px 0 0;\n  border-radius: 20px 20px 0 0;\n}\n.form-section:last-child {\n  -webkit-border-radius: 0 0 20px 20px;\n  -moz-border-radius: 0 0 20px 20px;\n  border-radius: 0 0 20px 20px;\n}\n.form-all .qq-upload-button,\n.form-all .form-submit-button,\n.form-all .form-submit-reset,\n.form-all .form-submit-print {\n  font-size: 1em;\n  padding: 9px 15px;\n  font-family: \"Muli\", sans-serif;\n  font-size: 20px;\n  font-weight: normal;\n}\n.form-all .form-pagebreak-back,\n.form-all .form-pagebreak-next {\n  font-size: 1em;\n  padding: 9px 15px;\n  font-family: \"Muli\", sans-serif;\n  font-size: 20px;\n  font-weight: normal;\n}\n/*\n& when ( @buttonFontType = google ) {\n\t@import (css) \"@{buttonFontLink}\";\n}\n*/\nh2.form-header {\n  line-height: 1.618em;\n  font-size: 1.714em;\n}\nh2 ~ .form-subHeader {\n  line-height: 1.5em;\n  font-size: 1.071em;\n}\n.form-header-group {\n  text-align: center;\n}\n/*.form-dropdown,\n.form-radio-item,\n.form-checkbox-item,\n.form-radio-other-input,\n.form-checkbox-other-input,*/\n.form-captcha input,\n.form-spinner input,\n.form-error-message {\n  padding: 4px 3px 2px 3px;\n}\n.form-header-group {\n  font-family: \"Roboto Condensed\", sans-serif;\n}\n.form-section {\n  padding: 0px 0px 0px 0px;\n}\n.form-header-group {\n  margin: 12px 36px 12px 36px;\n}\n.form-header-group {\n  padding: 24px 0px 24px 0px;\n}\n.form-header-group .form-header,\n.form-header-group .form-subHeader {\n  color: #ffffff;\n}\n.form-textbox,\n.form-textarea {\n  padding: 4px 3px 2px 3px;\n}\n.form-textbox,\n.form-textarea,\n.form-radio-other-input,\n.form-checkbox-other-input,\n.form-captcha input,\n.form-spinner input {\n  background-color: rgba(0, 0, 0, 0.71);\n}\n.form-dropdown {\n  -webkit-appearance: menulist-button;\n  height: 24px;\n}\n[data-type=\"control_dropdown\"] .form-input,\n[data-type=\"control_dropdown\"] .form-input-wide {\n  width: 150px;\n}\n.form-dropdown {\n  margin: 0;\n  border-color: #a6a6a6;\n  -webkit-appearance: menulist!important;\n  -moz-appearance: menulist!important;\n  appearance: menulist!important;\n  border-width: 1px;\n}\n.form-buttons-wrapper {\n  margin-left: 0 !important;\n  text-align: center !important;\n}\n.form-header-group {\n  border-bottom: none;\n}\n.form-label {\n  font-family: \"Muli\", sans-serif;\n}\nli[data-type=\"control_image\"] div {\n  text-align: left;\n}\nli[data-type=\"control_image\"] img {\n  border: none;\n  border-width: 0px !important;\n  border-style: solid !important;\n  border-color: false !important;\n}\n.form-line-column {\n  width: auto;\n}\n.form-line-error {\n  overflow: hidden;\n  -webkit-transition-property: none;\n  -moz-transition-property: none;\n  -ms-transition-property: none;\n  -o-transition-property: none;\n  transition-property: none;\n  -webkit-transition-duration: 0.3s;\n  -moz-transition-duration: 0.3s;\n  -ms-transition-duration: 0.3s;\n  -o-transition-duration: 0.3s;\n  transition-duration: 0.3s;\n  -webkit-transition-timing-function: ease;\n  -moz-transition-timing-function: ease;\n  -ms-transition-timing-function: ease;\n  -o-transition-timing-function: ease;\n  transition-timing-function: ease;\n  background-color: #fff4f4;\n}\n.form-line-error .form-error-message {\n  background-color: #ff3200;\n  clear: both;\n  float: none;\n}\n.form-line-error .form-error-message .form-error-arrow {\n  border-bottom-color: #ff3200;\n}\n.form-line-error input:not(#coupon-input),\n.form-line-error textarea,\n.form-line-error .form-validation-error {\n  border: 1px solid #ff3200;\n  -webkit-box-shadow: 0 0 3px #ff3200;\n  -moz-box-shadow: 0 0 3px #ff3200;\n  box-shadow: 0 0 3px #ff3200;\n}\n.ie-8 .form-all {\n  margin-top: auto;\n  margin-top: initial;\n}\n.ie-8 .form-all:before {\n  display: none;\n}\n/* | */\n@media screen and (max-width: 480px), screen and (max-device-width: 768px) and (orientation: portrait), screen and (max-device-width: 415px) and (orientation: landscape) {\n  .jotform-form {\n    padding: 0;\n  }\n  .form-all {\n    border: 0;\n    width: 100%;\n    max-width: initial;\n  }\n  .form-sub-label-container {\n    width: 100%;\n    margin: 0;\n  }\n  .form-input {\n    width: 100%;\n  }\n  .form-label {\n    width: 100%!important;\n  }\n  .form-line {\n    padding: 2% 5%;\n    -moz-box-sizing: border-box;\n    -webkit-box-sizing: border-box;\n    box-sizing: border-box;\n  }\n  input[type=text],\n  input[type=email],\n  input[type=tel],\n  textarea {\n    width: 100%;\n    -moz-box-sizing: border-box;\n    -webkit-box-sizing: border-box;\n    box-sizing: border-box;\n    max-width: initial !important;\n  }\n  .form-input,\n  .form-input-wide,\n  .form-textarea,\n  .form-textbox,\n  .form-dropdown {\n    max-width: initial !important;\n  }\n  div.form-header-group {\n    padding: 24px 0px !important;\n    margin: 0 12px 2% !important;\n    margin-left: 5% !important;\n    margin-right: 5% !important;\n    -moz-box-sizing: border-box;\n    -webkit-box-sizing: border-box;\n    box-sizing: border-box;\n  }\n  [data-type=\"control_button\"] {\n    margin-bottom: 0 !important;\n  }\n  .form-buttons-wrapper {\n    margin: 0!important;\n  }\n  .form-buttons-wrapper button {\n    width: 100%;\n  }\n  table {\n    width: 100%!important;\n    max-width: initial !important;\n  }\n  table td + td {\n    padding-left: 3%;\n  }\n  .form-checkbox-item input,\n  .form-radio-item input {\n    width: auto;\n  }\n  .form-collapse-table {\n    margin: 0 5%;\n  }\n}\n/* | */\n\n/*__INSPECT_SEPERATOR__*/\n.supernova {\n    background-size : 100% 100%;\n    background-color : #000;\n}\n\n.form-all {\n    border : none !important;\n}\n\n.form-html {\n    color : #fff !important;\n    font-size : 14px;\n}\n\n.form-html p {\n    margin : 4px 0;\n}\n\n.jotform-form {\n    padding : 60px 0 0 0;\n}\n\nbody, .supernova {\n    height : 100%;\n}\n\n.jotform-form {\n    height : 90%;\n}\n\nh2.form-header {\n    line-height : 1em;\n    font-size : 2.8em !important;\n    font-weight : normal !important;\n}\n\n.form-subHeader {\n\n}\n\n.form-label {\n\n}\n\n.form-label-top {\n    width : 100% !important;\n}\n\n.form-header-group {\n    margin : 0 !important;\n    padding : 12px 36px !important;\n    border : none !important;\n}\n\n.form-submit-button, .form-submit-reset, .form-submit-print {\n    position : relative;\n    width : 100%;\n    max-width : 100px;\n    outline : none;\n    text-shadow : none;\n    border : none !important;\n    box-shadow : none;\n    transition : all 0.2s ease;\n}\n\n.form-submit-button:hover {\n    background : transparent  !important;\n    color : #fff  !important;\n    border : none !important;\n    box-shadow : 0 0 0 1px #fff;\n}\n\n.form-textbox,\n.form-textarea,\n.form-dropdown {\n    box-sizing : border-box;\n    box-shadow : none;\n    border : none;\n    color : #fff;\n    border : none;\n    font-size : 16px;\n    font-family : lobster;\n    border : none !important;\n    outline : none;\n    transition : border 0.2s ease-in-out;\n    font-family : \"Muli\", sans-serif;\n}\n\n.form-dropdown option {\n    background : rgba(0, 0, 0, 0.71);\n}\n\n.form-textbox:focus,\n.form-textarea:focus,\n.form-dropdown:focus {\n    box-shadow : none !important;\n    border-bottom : 1px solid #fff !important;\n}\n\n.form-textbox:focus {\n    background-size : 50px;\n}\n\n@media screen and (max-width: 768px){\n    .jotform-form {\n        padding : 146px 0 0 0;\n    }\n\n    h2.form-header {\n        font-size : 2.6em !important;\n        text-align : center !important;\n    }\n\n    .form-subHeader {\n        text-align : center !important;\n    }\n\n    .form-header-group {\n        margin-bottom : 0 !important;\n    }\n\n    .form-all {\n        margin : 0 auto !important;\n    }\n\n}\n\n@media screen and (max-width: 480px){\n    .jotform-form {\n        padding : 10px 0 0 0;\n    }\n\n    h2.form-header {\n        font-size : 2.2em !important;\n    }\n\n    .form-subHeader {\n        text-align : center !important;\n    }\n\n}\n\n.form-line-error {\n    background : none !important;\n}\n\nhtml.supernova body {\n    position : relative;\n    width : 100%;\n    min-height : 480px;\n    background-image : url(//shots.jotform.com/elton/christmas/snow_01.png), url(//shots.jotform.com/elton/christmas/snow_02.png), url(//shots.jotform.com/elton/christmas/snow_03.png);\n    z-index : 10;\n    -webkit-animation : snow 30s linear infinite;\n    -moz-animation : snow 30s linear infinite;\n    -ms-animation : snow 30s linear infinite;\n    animation : snow 30s linear infinite;\n}\n\n@keyframes snow {\n    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}\n     100% {background-position: 600px 1200px, 400px 400px, -300px 300px;}\n}\n\n@-moz-keyframes snow {\n    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}\n    100% {background-position: 600px 1200px, 400px 400px, -300px 300px;}\n}\n\n@-webkit-keyframes snow {\n    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}\n    100% {background-position: 600px 1200px, 400px 400px, -300px 300px;}\n}\n\n@keyframes blink {\n    50% {\n        background: rgba(255, 255, 255, 1);\n    }\n}\n\n@-moz-keyframes blink {\n    50% {\n        background: rgba(255, 255, 255, 1);\n    }\n}\n\n@-webkit-keyframes blink {\n    50% {\n        background: rgba(255, 255, 255, 1);\n    }\n}\n\n\n    /* Injected CSS Code */\n</style>\n\n<script src=\"//cdn.jotfor.ms/static/prototype.forms.js\" type=\"text/javascript\"></script>\n<script src=\"//cdn.jotfor.ms/static/jotform.forms.js?3.3.13212\" type=\"text/javascript\"></script>\n<script type=\"text/javascript\">\n   JotForm.init();\n</script>\n</head>\n<body>\n<form class=\"jotform-form\" action=\"http://localhost:1880/form\" method=\"post\" name=\"form_43483945565972\" id=\"43483945565972\" accept-charset=\"utf-8\">\n  <input type=\"hidden\" name=\"formID\" value=\"43483945565972\" />\n  <div class=\"form-all\">\n    <ul class=\"form-section page-section\">\n      <li id=\"cid_1\" class=\"form-input-wide\" data-type=\"control_head\">\n        <div class=\"form-header-group\">\n          <div class=\"header-text httac htvam\">\n            <h2 id=\"header_1\" class=\"form-header\">\n              Christmas Meetup\n            </h2>\n            <div id=\"subHeader_1\" class=\"form-subHeader\">\n              Join our Christmas Caroling Group\n            </div>\n          </div>\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_text\" id=\"id_7\">\n        <div id=\"cid_7\" class=\"form-input-wide\">\n          <div id=\"text_7\" class=\"form-html\">\n            <p><span>Let's form a small caroling group to help less fortunate people. Show your love. Signup below!</span></p>\n            <p>Where: <span style=\"color:#ff0000;\"><strong>Santas Village</strong></span></p>\n            <p>When: <span style=\"color:#ff0000;\"><strong>December 16, 2014 @ 8:AM</strong></span></p>\n          </div>\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_textbox\" id=\"id_4\">\n        <label class=\"form-label form-label-left form-label-auto\" id=\"label_4\" for=\"input_4\"> Name </label>\n        <div id=\"cid_4\" class=\"form-input jf-required\">\n          <input type=\"text\" class=\" form-textbox\" data-type=\"input-textbox\" id=\"input_4\" name=\"q4_name\" size=\"20\" value=\"\" />\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_textbox\" id=\"id_8\">\n        <label class=\"form-label form-label-left form-label-auto\" id=\"label_8\" for=\"input_8\"> Email </label>\n        <div id=\"cid_8\" class=\"form-input jf-required\">\n          <input type=\"text\" class=\" form-textbox\" data-type=\"input-textbox\" id=\"input_8\" name=\"q8_email\" size=\"20\" value=\"\" />\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_textarea\" id=\"id_5\">\n        <label class=\"form-label form-label-left\" id=\"label_5\" for=\"input_5\"> Message </label>\n        <div id=\"cid_5\" class=\"form-input jf-required\">\n          <textarea id=\"input_5\" class=\"form-textarea\" name=\"q5_message\" cols=\"26\" rows=\"6\"></textarea>\n        </div>\n      </li>\n      <li class=\"form-line\" data-type=\"control_button\" id=\"id_2\">\n        <div id=\"cid_2\" class=\"form-input-wide\">\n          <div style=\"margin-left:156px\" class=\"form-buttons-wrapper\">\n            <button id=\"input_2\" type=\"submit\" class=\"form-submit-button\">\n              Submit\n            </button>\n          </div>\n        </div>\n      </li>\n      <li style=\"display:none\">\n        Should be Empty:\n        <input type=\"text\" name=\"website\" value=\"\" />\n      </li>\n    </ul>\n  </div>\n  <input type=\"hidden\" id=\"simple_spc\" name=\"simple_spc\" value=\"43483945565972\" />\n  <script type=\"text/javascript\">\n  document.getElementById(\"si\" + \"mple\" + \"_spc\").value = \"43483945565972-43483945565972\";\n  </script>\n</form></body>\n</html>\n","x":436.66661071777344,"y":1889.9332885742188,"wires":[["2c6d0272.caa05e"]]},{"id":"2c6d0272.caa05e","type":"http response","z":"602fdbf9.1fa2c4","name":"","x":733.6666107177734,"y":1902.9332733154297,"wires":[]},{"id":"567c9ce7.5e9934","type":"http in","z":"602fdbf9.1fa2c4","name":"","url":"/form","method":"post","swaggerDoc":"","x":174.66659545898438,"y":1990.9332733154297,"wires":[["e19c6901.801628","566c165a.0b8e18"]]},{"id":"e19c6901.801628","type":"template","z":"602fdbf9.1fa2c4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        {{#payload.q4_name}}\n        <h1>Bom dia {{payload.q4_name}}, obrigado pela sua mensagem !</h1>\n        {{/payload.q4_name}}\n        {{^payload.q4_name}}\n        <h1>Nome é um campo obrigatório !</h1>\n        {{/payload.q4_name}}\n    </body>\n</html>","x":445.66661071777344,"y":2074.9332733154297,"wires":[["d7610872.88e37"]]},{"id":"d7610872.88e37","type":"http response","z":"602fdbf9.1fa2c4","name":"","x":686.6666107177734,"y":2149.9332733154297,"wires":[]},{"id":"76a5bf06.a25498","type":"debug","z":"602fdbf9.1fa2c4","name":"msg1","active":true,"console":"false","complete":"payload","x":724.6665954589844,"y":1990.9332733154297,"wires":[]},{"id":"566c165a.0b8e18","type":"function","z":"602fdbf9.1fa2c4","name":"","func":"var msg2 = { \n    payload: ''\n}\n\nif (msg.payload.q4_name) {\n    msg.payload = \"Um mensagem foi recebida de \" + msg.payload.q4_name + \", seguir o fluxo de processamento.\";\n} else {\n    msg2.payload = \"Mensagem invalida, campo nome não foi preenchido. Não da seguimento a execução do fluxo.\";\n}\nreturn [msg, msg2];","outputs":"2","noerr":0,"x":484.6665954589844,"y":2010.9332733154297,"wires":[["76a5bf06.a25498"],["5a60e394.6a860c"]]},{"id":"5a60e394.6a860c","type":"debug","z":"602fdbf9.1fa2c4","name":"msg2","active":true,"console":"false","complete":"payload","x":724.6665954589844,"y":2070.9332733154297,"wires":[]},{"id":"1ff00059.58aa5","type":"comment","z":"602fdbf9.1fa2c4","name":"Tela Botões do Painel","info":"##Botões do Painel\n","x":1878.4666442871094,"y":1360.6666870117188,"wires":[]},{"id":"fdc00162.617ab","type":"comment","z":"602fdbf9.1fa2c4","name":"Tela Estado dos registradores conhecidos","info":"## Estado dos registradores conhecidos\nAbaixo o deserializador de cada registrador","x":952.4665832519531,"y":186.66665649414062,"wires":[]},{"id":"a7155dae.bcf98","type":"ui_group","z":"602fdbf9.1fa2c4","name":"Default","tab":"cad397cc.71ca98","disp":true,"width":"6"},{"id":"a5c9d449.e405","type":"ui_group","z":"602fdbf9.1fa2c4","name":"Test","tab":"6352cb42.57f324","disp":true,"width":"8"},{"id":"c0c79b9.fb59568","type":"modbustcp-no-pooling-server","z":"602fdbf9.1fa2c4","host":"192.168.0.163","port":"502","unit_id":"1"},{"id":"76990613.d1d9d","type":"mqtt-broker","z":"602fdbf9.1fa2c4","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"cad397cc.71ca98","type":"ui_tab","z":"602fdbf9.1fa2c4","name":"Config","icon":"build","order":"3"},{"id":"6352cb42.57f324","type":"ui_tab","z":"602fdbf9.1fa2c4","name":"test","icon":"dashboard"}]