NodeRed/file_server_pages.txt
[{"id":"3396f145.4a430e","type":"http in","z":"538b8f41.dbcdd","name":"","url":"/activemq","method":"get","swaggerDoc":"","x":160,"y":160,"wires":[["e73a77ad.11e808"]]},{"id":"e73a77ad.11e808","type":"http request","z":"538b8f41.dbcdd","name":"Index.htlm","method":"GET","ret":"txt","url":"http://192.168.0.201:8161/admin","tls":"","x":440,"y":160,"wires":[["eef3d25.9167e3"]]},{"id":"eef3d25.9167e3","type":"http response","z":"538b8f41.dbcdd","name":"","x":739,"y":160,"wires":[]},{"id":"c222bc9f.45071","type":"comment","z":"538b8f41.dbcdd","name":"http://sistema/activemq","info":"","x":181.49998474121094,"y":113,"wires":[]},{"id":"772002a7.b40864","type":"http in","z":"538b8f41.dbcdd","name":"Image Files","url":"/admin/:folder/:file","method":"get","swaggerDoc":"","x":146.91429901123047,"y":255.77144622802734,"wires":[["9fa89f1a.b4926","dac08d52.465818"]]},{"id":"da9b1988.4fac58","type":"http request","z":"538b8f41.dbcdd","name":"images files","method":"GET","ret":"txt","url":"","tls":"","x":576.9143142700195,"y":256.77144622802734,"wires":[["b35fd235.13c768"]]},{"id":"b35fd235.13c768","type":"http response","z":"538b8f41.dbcdd","name":"","x":805.9143142700195,"y":256.77144622802734,"wires":[]},{"id":"2ea9f47e.58aecc","type":"comment","z":"538b8f41.dbcdd","name":"file server - /admin/images/","info":"","x":196.91429901123047,"y":213.77144622802734,"wires":[]},{"id":"9fa89f1a.b4926","type":"function","z":"538b8f41.dbcdd","name":"","func":"msg.url = 'http://192.168.0.201:8161/admin/'  + msg.req.params.folder + '/' + msg.req.params.file;\n\nreturn msg;","outputs":1,"noerr":0,"x":360.2143020629883,"y":256.17147064208984,"wires":[["da9b1988.4fac58","2315ac34.3b4ab4"]]},{"id":"2315ac34.3b4ab4","type":"debug","z":"538b8f41.dbcdd","name":"","active":true,"console":"false","complete":"url","x":568.2143020629883,"y":317.5714340209961,"wires":[]},{"id":"dac08d52.465818","type":"debug","z":"538b8f41.dbcdd","name":"","active":true,"console":"false","complete":"true","x":323.91431427001953,"y":336.77144622802734,"wires":[]}]