NodeRed/node-red-contrib-modbus example flow.txt
[{"id":"d6cfcbf8.4460c8","type":"debug","z":"5dcb7dec.f36a24","name":"","active":false,"console":"false","complete":"false","x":590,"y":120,"wires":[]},{"id":"89d814b7.657be8","type":"debug","z":"5dcb7dec.f36a24","name":"","active":true,"console":"false","complete":"false","x":590,"y":220,"wires":[]},{"id":"bf2b2238.9e988","type":"debug","z":"5dcb7dec.f36a24","name":"","active":false,"console":"false","complete":"false","x":590,"y":280,"wires":[]},{"id":"76f0e579.0eb17c","type":"debug","z":"5dcb7dec.f36a24","name":"","active":true,"console":"false","complete":"false","x":590,"y":380,"wires":[]},{"id":"495762f9.fdaa8c","type":"modbus-write","z":"5dcb7dec.f36a24","name":"Write Reset","dataType":"Coil","adr":"64","quantity":"1","server":"3af5955.8e5f56a","x":350,"y":460,"wires":[["6cfbdef4.59e05"],["4733243f.e5520c","b667793c.f9f598"]]},{"id":"429f87e9.53c388","type":"inject","z":"5dcb7dec.f36a24","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":170,"y":400,"wires":[["495762f9.fdaa8c"]]},{"id":"6cfbdef4.59e05","type":"debug","z":"5dcb7dec.f36a24","name":"","active":false,"console":"false","complete":"false","x":590,"y":440,"wires":[]},{"id":"4733243f.e5520c","type":"debug","z":"5dcb7dec.f36a24","name":"","active":false,"console":"false","complete":"false","x":590,"y":480,"wires":[]},{"id":"b667793c.f9f598","type":"modbus-response","z":"5dcb7dec.f36a24","name":"","registerShowMax":20,"x":610,"y":520,"wires":[]},{"id":"19000486.8093fb","type":"modbus-response","z":"5dcb7dec.f36a24","name":"","registerShowMax":"10","x":610,"y":320,"wires":[]},{"id":"ca515c8e.3c732","type":"inject","z":"5dcb7dec.f36a24","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":170,"y":480,"wires":[["495762f9.fdaa8c"]]},{"id":"305e3906.4cc296","type":"inject","z":"5dcb7dec.f36a24","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":440,"wires":[["495762f9.fdaa8c"]]},{"id":"c0fe56d4.4bdf68","type":"inject","z":"5dcb7dec.f36a24","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":170,"y":520,"wires":[["495762f9.fdaa8c"]]},{"id":"22c870ec.1bd11","type":"modbus-read","z":"5dcb7dec.f36a24","name":"Automatic Read","dataType":"HoldingRegister","adr":"0","quantity":"10","rate":"10","rateUnit":"s","server":"3af5955.8e5f56a","x":360,"y":600,"wires":[["24cee5c0.cdebca"],["65a12003.85dd5"]]},{"id":"65a12003.85dd5","type":"modbus-response","z":"5dcb7dec.f36a24","name":"","registerShowMax":"20","x":610,"y":620,"wires":[]},{"id":"24cee5c0.cdebca","type":"debug","z":"5dcb7dec.f36a24","name":"","active":true,"console":"false","complete":"false","x":590,"y":580,"wires":[]},{"id":"77118b18.972234","type":"modbus-getter","z":"5dcb7dec.f36a24","name":"Half-Automatic Getter","dataType":"InputRegister","adr":"0","quantity":"10","server":"3af5955.8e5f56a","x":380,"y":320,"wires":[["bf2b2238.9e988"],["19000486.8093fb"],["76f0e579.0eb17c"]]},{"id":"66fbb627.90aaa8","type":"modbus-getter","z":"5dcb7dec.f36a24","name":"Manual Getter","dataType":"HoldingRegister","adr":"0","quantity":"10","server":"3af5955.8e5f56a","x":360,"y":180,"wires":[["d6cfcbf8.4460c8"],["5a02f6cc.90ea08"],["89d814b7.657be8"]]},{"id":"5a02f6cc.90ea08","type":"modbus-response","z":"5dcb7dec.f36a24","name":"","registerShowMax":"5","x":610,"y":160,"wires":[]},{"id":"15a20a47.b01966","type":"inject","z":"5dcb7dec.f36a24","name":"Get!","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":180,"wires":[["66fbb627.90aaa8"]]},{"id":"dde6b641.4edfe8","type":"inject","z":"5dcb7dec.f36a24","name":"Get every second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":130,"y":320,"wires":[["77118b18.972234"]]},{"id":"21fb42d2.d9437e","type":"modbus-server","z":"5dcb7dec.f36a24","name":"","logEnabled":false,"serverPort":10502,"responseDelay":100,"delayUnit":"ms","coilsBufferSize":1024,"holdingBufferSize":1024,"inputBufferSize":1024,"x":360,"y":60,"wires":[]},{"id":"3af5955.8e5f56a","type":"modbus-client","z":"5dcb7dec.f36a24","name":"","clienttype":"tcp","tcpHost":"127.0.0.1","tcpPort":"10502","serialPort":"/dev/ttyS0","serialBaudrate":"9600","unit_id":"1","clientTimeout":"5000","reconnectTimeout":"5000"}]