NodeRed/open chrome.txt
[{"id":"ef78fb39.ad9a68","type":"exec","z":"671d059f.ae770c","command":"\"C:\\\\Program Files (x86)\\\\Google\\\\Chrome\\\\Application\\\\chrome.exe\"","addpay":false,"append":"","useSpawn":false,"timer":"","name":"chrome","x":441.4499816894531,"y":334.8166809082031,"wires":[["97e7410.e04c14"],["bc902e48.4e634"],["e838acb8.662bd"]]},{"id":"97e7410.e04c14","type":"function","z":"671d059f.ae770c","name":"toString()","func":"msg.payload = msg.payload.toString()\nreturn msg;","outputs":1,"noerr":0,"x":695.11669921875,"y":273.1166687011719,"wires":[["cdd79fd0.d60bf8"]]},{"id":"cdd79fd0.d60bf8","type":"debug","z":"671d059f.ae770c","name":"output","active":true,"console":"false","complete":"payload","x":854.11669921875,"y":273.1166687011719,"wires":[]},{"id":"bc902e48.4e634","type":"function","z":"671d059f.ae770c","name":"rc","func":"if (msg.control && (msg.control.state == 'end' || msg.control.state == 'error')) return { payload: msg.control.rc }","outputs":1,"noerr":0,"x":687.11669921875,"y":337.1166687011719,"wires":[["7c656f8.7464b1"]]},{"id":"7c656f8.7464b1","type":"debug","z":"671d059f.ae770c","name":"rc","active":true,"console":"false","complete":"payload","x":847.11669921875,"y":337.1166687011719,"wires":[]},{"id":"e838acb8.662bd","type":"function","z":"671d059f.ae770c","name":"toString()","func":"msg.payload = msg.payload.toString()\nreturn msg;","outputs":1,"noerr":0,"x":692.11669921875,"y":399.1166687011719,"wires":[["5386f868.3b267"]]},{"id":"5386f868.3b267","type":"debug","z":"671d059f.ae770c","name":"output2","active":true,"console":"false","complete":"payload","x":870.11669921875,"y":400.1166687011719,"wires":[]},{"id":"45c1463f.aaff4","type":"inject","z":"671d059f.ae770c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":271.4499816894531,"y":335.01666259765625,"wires":[["ef78fb39.ad9a68"]]}]