NodeRed/UI_MQTT.txt
[{"id":"fc9ccf9e.c36128","type":"mqtt in","z":"59da2579.151aac","name":"Estado","topic":"AplanadoraN/Estado","qos":"0","broker":"55e6c108.761e78","x":312.6458435058594,"y":203.89584350585938,"wires":[["d46db169.171508","8ad5b4ae.55c3f8"]]},{"id":"d46db169.171508","type":"debug","z":"59da2579.151aac","name":"MQTT # RAW","active":true,"console":"false","complete":"payload","x":922.6458435058594,"y":203.89584350585938,"wires":[]},{"id":"8ad5b4ae.55c3f8","type":"function","z":"59da2579.151aac","name":"Store and shift msg","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar text = context.get('text')|| [];\n\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n\n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"x":592.6458435058594,"y":263.8958435058594,"wires":[["ec10e246.88173","f9747ccf.21e79"]]},{"id":"ec10e246.88173","type":"debug","z":"59da2579.151aac","name":"mqtt array","active":true,"console":"false","complete":"payload","x":912.6458435058594,"y":283.8958435058594,"wires":[]},{"id":"f9747ccf.21e79","type":"ui_template","z":"59da2579.151aac","group":"9cc5610d.ba689","name":"MQTT Output","order":1,"width":"9","height":"10","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"x":922.6458435058594,"y":243.89584350585938,"wires":[[]]},{"id":"503e5dcc.61915c","type":"ui_text_input","z":"59da2579.151aac","group":"9cc5610d.ba689","order":3,"width":"","height":"","name":"Message","mode":"text","delay":"300","label":"Message","topic":"message","x":322.6458435058594,"y":323.8958435058594,"wires":[["ba169ab8.a685c"]]},{"id":"cdfcb4f7.20661","type":"ui_button","z":"59da2579.151aac","name":"Submit","group":"9cc5610d.ba689","order":4,"width":"6","height":"2","label":"SUBMIT","color":"black","icon":"fa-arrow-circle-o-up","payload":"submit","topic":"submit","x":312.6458435058594,"y":363.8958435058594,"wires":[["ba169ab8.a685c"]]},{"id":"ba169ab8.a685c","type":"function","z":"59da2579.151aac","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n    case 'message':\n        context.msg.payload = msg.payload;\n        break;\n    case 'topic':\n        context.msg.topic = msg.payload;\n        break;\n    case 'submit':\n        if(context.msg.topic){\n            return context.msg;\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return context.msg;\n        }\n}","outputs":"1","noerr":0,"x":592.6458435058594,"y":343.8958435058594,"wires":[["66d4983c.61123","a8699312.a78938"]]},{"id":"66d4983c.61123","type":"debug","z":"59da2579.151aac","name":"MQTT Monitor","active":true,"console":"false","complete":"true","x":902.6458435058594,"y":343.8958435058594,"wires":[]},{"id":"d5ff094.1636df8","type":"ui_text_input","z":"59da2579.151aac","group":"9cc5610d.ba689","order":2,"width":"","height":"","name":"Topic","mode":"text","delay":300,"label":"Topic/","topic":"topic","x":312.6458435058594,"y":283.8958435058594,"wires":[["ba169ab8.a685c"]]},{"id":"c8a67d8b.e135f8","type":"ui_button","z":"59da2579.151aac","name":"Clear","group":"9cc5610d.ba689","order":0,"width":"4","height":"2","label":"CLEAR","color":"black","icon":"fa-trash","payload":"","topic":"","x":312.6458435058594,"y":403.8958435058594,"wires":[["503e5dcc.61915c","d5ff094.1636df8"]]},{"id":"c0eac4.d034cd4","type":"comment","z":"59da2579.151aac","name":"MQTT Console with dashboard ","info":"This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com","x":392.6458435058594,"y":163.89584350585938,"wires":[]},{"id":"a8699312.a78938","type":"mqtt out","z":"59da2579.151aac","name":"Topico Estado da Maquina","topic":"AplanadoraN/Estado","qos":"0","retain":"false","broker":"55e6c108.761e78","x":941.3958740234375,"y":392.6458435058594,"wires":[]},{"id":"55e6c108.761e78","type":"mqtt-broker","z":"59da2579.151aac","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"9cc5610d.ba689","type":"ui_group","z":"59da2579.151aac","name":"MQTT Console","tab":"7849a18b.43e928","disp":true,"width":"12"},{"id":"7849a18b.43e928","type":"ui_tab","z":"59da2579.151aac","name":"Home","icon":"dashboard"}]